openapi: 3.0.0
info:
  title: API Platform API
  version: 2.0.0
  description: Manage APIs, applications, alerts, and classifications in the Anypoint API Platform repository.
servers:
- url: https://anypoint.mulesoft.com/apiplatform/repository/{version}
  variables:
    version:
      default: unknown
      description: API version identifier.
- url: https://{region}.anypoint.mulesoft.com/apiplatform/repository/{version}
  variables:
    region:
      default: eu1
      description: Region identifier for the service endpoint.
    version:
      default: unknown
      description: API version identifier.
- url: https://{region}.platform.mulesoft.com/apiplatform/repository/{version}
  variables:
    region:
      default: ca1
      description: Region identifier for the service endpoint.
    version:
      default: unknown
      description: API version identifier.
security:
- bearerAuth: []
- clientAuth: []
paths:
  /public: {}
  /public/apis:
    get:
      description: Retrieves a list of APIs.
      parameters:
      - name: requireRaml
        description: Search only those APIs which have a publicly accesible RAML specification.
        required: true
        in: query
        schema:
          type: boolean
      - name: offset
        description: Skip over a number of elements by specifying an offset value for the query.
        required: true
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 2147483647
          default: 0
      - name: limit
        description: Limit the number of elements on the response.
        required: true
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 100
      - name: sort
        description: Property to sort by.
        required: true
        in: query
        schema:
          type: string
      - name: ascending
        description: Order for sorting.
        required: true
        in: query
        schema:
          type: boolean
      - name: query
        description: Search criteria.
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
      summary: List public APIs
      operationId: listPublicApisRoot
  /organizations:
    description: Organizations are the container entity for all API Portal-related resources.
  /organizations/active:
    get:
      description: Get the active organization.
      responses:
        '200':
          description: Successful operation.
      summary: Get the active organization
      operationId: getActiveOrganization
  /organizations/{organizationId}:
    description: The organization's data.
    get:
      description: Get the organization.
      parameters:
      - name: extended
        description: Obtain extended information from the organization.
        required: true
        in: query
        schema:
          type: boolean
      - name: resolveTheme
        description: Resolves the theme inheritance.
        required: true
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful.
        '400':
          description: Bad Request.
        '500':
          description: An unknown error occurred.
      summary: Get an organization
      operationId: getOrganization
    put:
      description: Update the organization.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The organizations data to update.
      responses:
        '200':
          description: Successful.
        '400':
          description: Bad Request.
        '500':
          description: An unknown error occurred.
      summary: Update an organization
      operationId: updateOrganization
    delete:
      description: Delete the organization.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '204':
          description: Organization deleted.
      summary: Delete an organization
      operationId: deleteOrganization
  /organizations/{organizationId}/migration-mapping:
    get:
      description: Get all api version migration mappings in CSV format. This is for setting up the Crowd upgrade.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
      summary: Export migration mappings as CSV
      operationId: exportMigrationMappings
  /organizations/{organizationId}/permissions:
    description: A list of available permissions.
    get:
      description: Returns a list of elements.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
      summary: List organization permissions
      operationId: listOrgPermissions
  /organizations/{organizationId}/alerts:
    get:
      description: Gets a collection of alerts.
      parameters:
      - name: apiVersionId
        required: true
        in: query
        schema:
          type: string
        description: The apiVersion ID query parameter.
      - name: tierId
        required: true
        in: query
        schema:
          type: string
        description: The tier ID query parameter.
      - name: lastModifiedSince
        description: 'Return items which have been modified since the specified timestamp

          '
        required: true
        in: query
        schema:
          type: integer
          minimum: 0
      - name: alertId
        required: true
        in: query
        schema:
          type: string
        description: The alert ID query parameter.
      - name: query
        description: Search criteria.
        required: true
        in: query
        schema:
          type: string
      - name: policyId
        required: true
        in: query
        schema:
          type: string
        description: The policy ID query parameter.
      - name: offset
        description: Skip over a number of elements by specifying an offset value for the query.
        required: true
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 2147483647
          default: 0
      - name: apiId
        required: true
        in: query
        schema:
          type: string
        description: The api ID query parameter.
      - name: ascending
        description: Order for sorting.
        required: true
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/XOrigin_environmentId_Query'
      - name: severity
        required: true
        in: query
        schema:
          type: string
        description: The severity query parameter.
      - name: sort
        description: Property to sort by.
        required: true
        in: query
        schema:
          type: string
      - name: type
        required: true
        in: query
        schema:
          type: string
        description: The type query parameter.
      - name: limit
        description: Limit the number of elements on the response.
        required: true
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 100
      - name: active
        required: true
        in: query
        schema:
          type: boolean
        description: The active query parameter.
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successfully retrieved alert definitions.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id001
                  value:
                    total: 1234
                    data:
                    - apiVersion:
                        name: My First API
                        id: 12345
                        apiId: 67890
                      name: My First API's Request Count Alert
                      severity: warning
                      recipients:
                      - role: Api Version Owner
                      - userId: abcde-fghij-klmno
                        name: Jane Doe
                        email: jane.doe@example.com
                      period:
                        duration:
                          count: 1
                          weight: HOURS
                        repeat: 4
                      type: requestCount
                      condition:
                        aggregate: count
                        operator: GREATER_THAN
                        value: 1000
                    - apiVersion:
                        name: My First API
                        id: 12345
                        apiId: 67890
                      name: My First API's Request Count Alert
                      severity: warning
                      recipients:
                      - role: Api Version Owner
                      - userId: abcde-fghij-klmno
                        name: Jane Doe
                        email: jane.doe@example.com
                      period:
                        duration:
                          count: 1
                          weight: HOURS
                        repeat: 4
                      type: requestCount
                      condition:
                        aggregate: count
                        operator: GREATER_THAN
                        value: 1000
              example: *id001
      summary: List organization alerts
      operationId: listOrgAlerts
    post:
      description: Creates a new element.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The alerts data to create.
      responses:
        '201':
          description: The new element has been successfully created.
      summary: Create an organization alert
      operationId: createOrgAlert
  /organizations/{organizationId}/environments:
    description: A list of available environments to deploy to.
    get:
      description: Returns a list of elements.
      parameters:
      - name: withCloudhubPermissions
        description: Add to each environment the user's permissions in CloudHub
        required: true
        in: query
        schema:
          type: boolean
          default: true
      - name: all
        description: Retrieve all environments, without filtering by the user's permissions.
        required: true
        in: query
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
      summary: List environments
      operationId: listEnvironments
  /organizations/{organizationId}/environments/default:
    description: The default environment. This is defined in core services per organization.
    get:
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id002
                  id: 80139f69-2845-46fa-9217-d9fe0171030f
                  name: QA
                  organizationId: f0c9b011-980e-4928-9430-e60e3a97c043
                  isProduction: false
              example: *id002
      summary: Get the default environment
      operationId: getDefaultEnvironment
      description: Retrieves a default.
  /organizations/{organizationId}/environments/{environmentId}/apis/{apiId}/versions/{apiVersionId}/alerts:
    post:
      description: Creates a new element.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - name: apiId
        required: true
        in: path
        schema:
          type: string
        description: The api ID to identify the target resource.
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: string
        description: The apiVersion ID to identify the target resource.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - anyOf:
                - type: object
                  required:
                  - type
                  - policyId
                  - policyTemplate
                  properties:
                    type:
                      enum:
                      - api-policy-violation
                    policyId:
                      type: integer
                    policyTemplate:
                      type: object
                      required:
                      - id
                      - name
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                          maxLength: 150
                - type: object
                  required:
                  - type
                  properties:
                    type:
                      enum:
                      - api-request-count
                - type: object
                  required:
                  - type
                  properties:
                    type:
                      enum:
                      - api-response-code
                - type: object
                  required:
                  - type
                  properties:
                    type:
                      enum:
                      - api-response-time
              - type: object
                required:
                - apiAlertsVersion
                - name
                - api
                - apiVersion
                - enabled
                - severity
                - recipients
                - period
                - condition
                properties:
                  apiAlertsVersion:
                    enum:
                    - 1.0.0
                  name:
                    type: string
                    minLength: 1
                    maxLength: 255
                  api:
                    type: object
                    required:
                    - id
                    - name
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                        minLength: 1
                        maxLength: 64
                  apiVersion:
                    type: object
                    required:
                    - id
                    - name
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                        minLength: 1
                        maxLength: 150
                  enabled:
                    type: boolean
                  severity:
                    enum:
                    - INFO
                    - WARNING
                    - CRITICAL
                  recipients:
                    type: array
                    minItems: 1
                    items:
                      type: object
                      required:
                      - type
                      - value
                      properties:
                        firstName:
                          type: string
                        lastName:
                          type: string
                        type:
                          enum:
                          - email
                          - role
                          - user
                        value:
                          type: string
                          maxLength: 254
                  period:
                    type: object
                    required:
                    - duration
                    - repeat
                    properties:
                      duration:
                        type: object
                        required:
                        - count
                        - weight
                        properties:
                          count:
                            type: integer
                            minimum: 1
                          weight:
                            enum:
                            - DAYS
                            - HOURS
                            - MINUTES
                      repeat:
                        type: integer
                        minimum: 1
                  condition:
                    type: object
                    required:
                    - aggregate
                    - operator
                    - value
                    properties:
                      aggregate:
                        enum:
                        - COUNT
                        - AVG
                        - SUM
                        - MIN
                        - MAX
                      operator:
                        enum:
                        - GREATER_THAN
                        - LESS_THAN
                        - EQUAL
                      value:
                        type: integer
                        minimum: 0
                      resourceType:
                        enum:
                        - api-version
                      filter:
                        type: array
                        items:
                          type: object
                          properties:
                            property:
                              type: string
                            operator:
                              enum:
                              - GREATER_THAN
                              - LESS_THAN
                              - EQUAL
                              - MATCHES
                              - IN
                              - BETWEEN
                              - EXIST
                            values:
                              anyOf:
                              - type: array
                                items: {}
                              - type: string
                              - type: integer
                              - nullable: true
              type: object
        x-amf-mediaType: application/json
        description: The alerts data to create.
      responses:
        '200':
          description: Successfully created alert definition.
        '201':
          description: The new element has been successfully created.
      summary: Create an API version alert
      operationId: createApiVersionAlert
    get:
      description: Returns a list of elements.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - name: apiId
        required: true
        in: path
        schema:
          type: string
        description: The api ID to identify the target resource.
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: string
        description: The apiVersion ID to identify the target resource.
      responses:
        '200':
          description: Successfully retrieved an API Version's alert definitions.
      summary: List API version alerts
      operationId: listApiVersionAlerts
  /organizations/{organizationId}/environments/{environmentId}/apis/{apiId}/versions/{apiVersionId}/alerts/{alertId}:
    description: An alert Item
    get:
      description: Gets an alert.
      parameters:
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: string
        description: The apiVersion ID to identify the target resource.
      - name: alertId
        required: true
        in: path
        schema:
          type: string
        description: The alert ID to identify the target resource.
      - name: apiId
        required: true
        in: path
        schema:
          type: string
        description: The api ID to identify the target resource.
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successfully retrieved alert definition.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                allOf:
                - anyOf:
                  - type: object
                    required:
                    - type
                    - policyId
                    - policyTemplate
                    properties:
                      type:
                        enum:
                        - api-policy-violation
                      policyId:
                        type: integer
                      policyTemplate:
                        type: object
                        required:
                        - id
                        - name
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                            maxLength: 150
                  - type: object
                    required:
                    - type
                    properties:
                      type:
                        enum:
                        - api-request-count
                  - type: object
                    required:
                    - type
                    properties:
                      type:
                        enum:
                        - api-response-code
                  - type: object
                    required:
                    - type
                    properties:
                      type:
                        enum:
                        - api-response-time
                - type: object
                  required:
                  - apiAlertsVersion
                  - name
                  - api
                  - apiVersion
                  - enabled
                  - severity
                  - recipients
                  - period
                  - condition
                  properties:
                    apiAlertsVersion:
                      enum:
                      - 1.0.0
                    name:
                      type: string
                      minLength: 1
                      maxLength: 255
                    api:
                      type: object
                      required:
                      - id
                      - name
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                          minLength: 1
                          maxLength: 64
                    apiVersion:
                      type: object
                      required:
                      - id
                      - name
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                          minLength: 1
                          maxLength: 150
                    enabled:
                      type: boolean
                    severity:
                      enum:
                      - INFO
                      - WARNING
                      - CRITICAL
                    recipients:
                      type: array
                      minItems: 1
                      items:
                        type: object
                        required:
                        - type
                        - value
                        properties:
                          firstName:
                            type: string
                          lastName:
                            type: string
                          type:
                            enum:
                            - email
                            - role
                            - user
                          value:
                            type: string
                            maxLength: 254
                    period:
                      type: object
                      required:
                      - duration
                      - repeat
                      properties:
                        duration:
                          type: object
                          required:
                          - count
                          - weight
                          properties:
                            count:
                              type: integer
                              minimum: 1
                            weight:
                              enum:
                              - DAYS
                              - HOURS
                              - MINUTES
                        repeat:
                          type: integer
                          minimum: 1
                    condition:
                      type: object
                      required:
                      - aggregate
                      - operator
                      - value
                      properties:
                        aggregate:
                          enum:
                          - COUNT
                          - AVG
                          - SUM
                          - MIN
                          - MAX
                        operator:
                          enum:
                          - GREATER_THAN
                          - LESS_THAN
                          - EQUAL
                        value:
                          type: integer
                          minimum: 0
                        resourceType:
                          enum:
                          - api-version
                        filter:
                          type: array
                          items:
                            type: object
                            properties:
                              property:
                                type: string
                              operator:
                                enum:
                                - GREATER_THAN
                                - LESS_THAN
                                - EQUAL
                                - MATCHES
                                - IN
                                - BETWEEN
                                - EXIST
                              values:
                                anyOf:
                                - type: array
                                  items: {}
                                - type: string
                                - type: integer
                                - nullable: true
                type: object
              example: {}
        '401':
          description: Authentication requirements not fulfilled.
        '403':
          description: Insufficient permissions.
        '404':
          description: Specified alert not found.
      summary: Get an API version alert
      operationId: getApiVersionAlert
    patch:
      description: Updates a alert.
      parameters:
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: string
        description: The apiVersion ID to identify the target resource.
      - name: alertId
        required: true
        in: path
        schema:
          type: string
        description: The alert ID to identify the target resource.
      - name: apiId
        required: true
        in: path
        schema:
          type: string
        description: The api ID to identify the target resource.
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                apiAlertsVersion:
                  enum:
                  - 1.0.0
                name:
                  type: string
                enabled:
                  type: boolean
                severity:
                  enum:
                  - INFO
                  - WARNING
                  - CRITICAL
                recipients:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required:
                    - type
                    - value
                    properties:
                      type:
                        enum:
                        - email
                        - role
                        - user
                      value:
                        type: string
                period:
                  type: object
                  properties:
                    duration:
                      type: object
                      properties:
                        count:
                          type: integer
                        weight:
                          enum:
                          - DAYS
                          - HOURS
                          - MINUTES
                          - SECONDS
                    repeat:
                      type: integer
                condition:
                  type: object
                  properties:
                    aggregate:
                      enum:
                      - COUNT
                      - AVG
                      - SUM
                      - MIN
                      - MAX
                    operator:
                      enum:
                      - GREATER_THAN
                      - LESS_THAN
                      - EQUAL
                    value:
                      type: integer
        x-amf-mediaType: application/json
        description: The alerts data to update.
      responses:
        '200':
          description: Successfully updated alert definition.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id003
                  value:
                    type: api-request-count
                    apiAlertsVersion: 1.0.0
                    api:
                      name: My First API
                      id: 22
                    apiVersion:
                      name: First version
                      id: 77
                    enabled: true
                    resources:
                    - foo-api-version-id
                    name: My First API's Request Count Alert
                    severity: WARNING
                    recipients:
                    - type: role
                      value: API_VERSION_OWNER
                    - type: user
                      value: foo-user-id
                    - type: email
                      value: foo_email@example.com
                    period:
                      duration:
                        count: 1
                        weight: HOURS
                      repeat: 4
                    condition:
                      resourceType: api-version
                      aggregate: COUNT
                      operator: GREATER_THAN
                      value: 1000
                      filter:
                      - property: apiVersionId
                        operator: EQUAL
                        values:
                        - foo-api-version-id
              example: *id003
        '400':
          description: Invalid alert payload.
        '401':
          description: Authentication requirements not fulfilled.
        '403':
          description: Insufficient permissions.
        '404':
          description: Specified alert not found.
      summary: Patch an API version alert
      operationId: patchApiVersionAlert
    delete:
      description: Deletes the specified alert definition.
      parameters:
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: string
        description: The apiVersion ID to identify the target resource.
      - name: alertId
        required: true
        in: path
        schema:
          type: string
        description: The alert ID to identify the target resource.
      - name: apiId
        required: true
        in: path
        schema:
          type: string
        description: The api ID to identify the target resource.
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '204':
          description: Successfully deleted alert definition.
        '401':
          description: Authentication requirements not fulfilled.
        '403':
          description: Insufficient permissions.
        '404':
          description: alert not found.
      summary: Delete an API version alert
      operationId: deleteApiVersionAlert
  /organizations/{organizationId}/theme:
    put:
      description: Update the organization theme.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated4'
        description: The theme data to update.
      responses:
        '200':
          description: Successful operation.
      summary: Update organization theme
      operationId: updateOrgTheme
  /organizations/{organizationId}/theme/default:
    get:
      description: Get the default theme for an organization.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
      summary: Get default organization theme
      operationId: getDefaultOrgTheme
  /organizations/{organizationId}/portals/terms:
    get:
      description: Gets portal terms set for the organization.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
      summary: Get organization portal terms
      operationId: getPortalTerms
    put:
      description: Create portal terms for the organization.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The terms data to update.
      responses:
        '200':
          description: Successful operation.
      summary: Create organization portal terms
      operationId: createPortalTerms
    delete:
      description: Deletes portal terms for the organization.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '204':
          description: Operation completed successfully with no content returned.
      summary: Delete organization portal terms
      operationId: deletePortalTerms
  /organizations/{organizationId}/portals/redirectUri:
    put:
      description: Update redirect uri of the list of portals for the organization
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The redirectUri data to update.
      responses:
        '200':
          description: Successful operation.
      summary: Update portals redirect URI
      operationId: updatePortalsRedirectUri
  /organizations/{organizationId}/apis:
    description: A collection of APIs.
    get:
      description: Retrieves a list of APIs.
      parameters:
      - name: query
        description: Search criteria.
        required: true
        in: query
        schema:
          type: string
      - name: offset
        description: Skip over a number of elements by specifying an offset value for the query.
        required: true
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 2147483647
          default: 0
      - name: filters
        required: true
        in: query
        schema:
          type: string
        description: The filters query parameter.
      - name: ascending
        description: Order for sorting.
        required: true
        in: query
        schema:
          type: boolean
      - name: requirePortal
        required: true
        in: query
        schema:
          type: boolean
        description: The requirePortal query parameter.
      - name: sort
        description: Property to sort by.
        required: true
        in: query
        schema:
          type: string
      - name: limit
        description: Limit the number of elements on the response.
        required: true
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 100
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
      summary: List APIs
      operationId: listApis
    post:
      description: Creates an API.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated2'
        description: The apis data to create.
      x-amf-requestPayloads:
      - mediaType: multipart/form-data
        schema: {}
      responses:
        '201':
          description: The new element has been successfully created.
      summary: Create an API
      operationId: createApi
  /organizations/{organizationId}/apis/by-name:
    get:
      description: 'Returns a single API that matches the passed-in API name.

        Returns null if no match is found.

        '
      parameters:
      - name: apiName
        required: true
        in: query
        schema:
          type: string
        description: The apiName query parameter.
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
      summary: Get an API by name
      operationId: getApiByName
  /organizations/{organizationId}/apis/versions:
    post:
      description: Create an API Version from an Exchange Spec. Only available after the Crowd upgrade.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: unclassified api version from GAV
                spec:
                  groupId: f0c9b011-980e-4928-9430-e60e3a97c043
                  assetId: api-test
                  version: 1.0.0
              type: object
              required:
              - spec
              - name
              properties:
                spec:
                  type: object
                  required:
                  - groupId
                  - assetId
                  - version
                  properties:
                    groupId:
                      type: string
                      minLength: 1
                      maxLength: 256
                    assetId:
                      type: string
                      minLength: 1
                      maxLength: 256
                    version:
                      type: string
                      minLength: 1
                      maxLength: 256
                name:
                  type: string
                  minLength: 1
                  maxLength: 150
        x-amf-mediaType: application/json
        description: The versions data to create.
      responses:
        '201':
          description: Resource created successfully.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id004
                  apiId: 26
                  assetVersion: 1.0.0
                  productVersion: v1
                  environmentId:
                  name: unclassified api version from GAV
                  order: 1
                  audit:
                    created:
                      date: 2017-09-19 21:27:47.177000+00:00
                    updated: {}
                  masterOrganizationId: f0c9b011-980e-4928-9430-e60e3a97c043
                  organizationId: f0c9b011-980e-4928-9430-e60e3a97c043
                  id: 97
                  groupId: f0c9b011-980e-4928-9430-e60e3a97c043
                  assetId: api-test
                  tags: []
                  terms:
              example: *id004
      summary: Create API version from Exchange spec
      operationId: createApiVersionFromExchange
  /organizations/{organizationId}/apis/versions/by-endpoint:
    get:
      description: Returns a list of API versions for a given list of endpoints.
      parameters:
      - name: uris
        required: true
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        description: The uris query parameter.
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
      summary: List API versions by endpoint
      operationId: listApiVersionsByEndpoint
  /organizations/{organizationId}/apis/versions/by-name:
    get:
      description: 'Returns a single API that matches the passed-in API name

        and API version name. Returns null if no match is found.

        '
      parameters:
      - name: apiName
        required: true
        in: query
        schema:
          type: string
        description: The apiName query parameter.
      - name: versionName
        required: true
        in: query
        schema:
          type: string
        description: The versionName query parameter.
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
      summary: Get an API version by name
      operationId: getApiVersionByName
  /organizations/{organizationId}/apis/versions/tiers:
    get:
      description: 'Returns permitted SLA tiers within an organization.

        It means every SLA tier that belongs to API version requesting user has access to.

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
      summary: List permitted SLA tiers
      operationId: listPermittedTiers
  /organizations/{organizationId}/apis/versions/contracts/applications:
    get:
      description: 'Returns permitted applications within an organization.

        It means every applications that has a contract with an API version requesting user has access to.

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
      summary: List applications with API contracts
      operationId: listContractedApplications
  /organizations/{organizationId}/apis/{apiId}:
    description: An API.
    get:
      description: Returns an API and all its versions.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      responses:
        '200':
          description: Successful operation.
      summary: Get an API and its versions
      operationId: getApi
    patch:
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The apis data to update.
      responses:
        '200':
          description: Successful operation.
      summary: Patch an API
      operationId: patchApi
      description: Updates a apis.
    delete:
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      responses:
        '204':
          description: Operation completed successfully with no content returned.
      summary: Delete an API
      operationId: deleteApi
      description: Deletes a apis.
  /organizations/{organizationId}/apis/{apiId}/portals:
    description: A collection of API portals.
    get:
      description: Returns a collection of API portals.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      responses:
        '200':
          description: Successful operation.
      summary: List API portals
      operationId: listApiPortals
  /organizations/{organizationId}/apis/{apiId}/permissions:
    post:
      description: Grant a user view access to this API.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The permissions data to create.
      responses:
        '201':
          description: The new element has been successfully created.
      summary: Grant view access to an API
      operationId: grantApiPermission
  /organizations/{organizationId}/apis/{apiId}/versions:
    description: A collection of API versions.
    post:
      description: Creates an API version.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated2'
        description: The versions data to create.
      x-amf-requestPayloads:
      - mediaType: multipart/form-data
        schema: {}
      responses:
        '201':
          description: The new element has been successfully created.
      summary: Create an API version
      operationId: createApiVersion
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}:
    description: An API version.
    get:
      description: Returns an instance of a single element.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      summary: Get an API version
      operationId: getApiVersion
    put:
      description: Updates a single element.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The versions data to update.
      responses:
        '200':
          description: Successful operation.
      summary: Update an API version
      operationId: updateApiVersion
    patch:
      description: Patches a single element.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The versions data to update.
      responses:
        '200':
          description: Successful operation.
      summary: Patch an API version
      operationId: patchApiVersion
    delete:
      description: Deletes the instance of the element specified.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '204':
          description: The element has been deleted successfully.
      summary: Delete an API version
      operationId: deleteApiVersion
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/classify:
    post:
      description: (Only avaliable after the Crowd upgrade) Moves an API Version from the unclassified environment into a specified environment.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - environmentId
                properties:
                  instanceLabel:
                    x-amf-union:
                    - type: string
                      minLength: 1
                      maxLength: 255
                    - type: 'null'
                  environmentId:
                    type: string
                    minLength: 1
                    maxLength: 255
              example:
                environmentId: 2ba4f3f8-0d26-49f6-8fd5-ea508abbb7ea
                instanceLabel: my-instance-label
              type: object
        x-amf-mediaType: application/json
        description: The classify data to create.
      responses:
        '201':
          description: Resource created successfully.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id005
                  audit:
                    created:
                      date: 2017-09-01 18:34:50.783000+00:00
                    updated:
                      date: 2017-09-11 14:49:53.257000+00:00
                  masterOrganizationId: f0c9b011-980e-4928-9430-e60e3a97c043
                  organizationId: f0c9b011-980e-4928-9430-e60e3a97c043
                  id: 25
                  apiId: 5
                  portalId: 11
                  name: dolorem 25
                  instanceLabel: my-instance-label
                  groupId: f0c9b011-980e-4928-9430-e60e3a97c043
                  assetId: api-test
                  assetVersion: 1.0.0
                  productVersion: v1
                  description: accusamus dolorem et rerum placeat libero doloremque id quia vitae illo et suscipit sed nam ipsa qui in eum reiciendis incidunt corporis est iusto voluptas magnam pariatur adipisci fugiat voluptatibus odio aut sed culpa dignissimos sit quis quo est corrupti omnis quaerat voluptatum enim asperiores voluptatem exercitationem et accusantium illum
                  tags:
                  - accusantium
                  - voluptatem
                  - dolores
                  - hic
                  - nostrum
                  - quia
                  - aut
                  - alias
                  - in
                  - qui
                  order: 5
                  rootFileId: 23
                  deprecated: false
                  lastActiveDate:
                  endpointUri:
                  environmentId: 2ba4f3f8-0d26-49f6-8fd5-ea508abbb7ea
                  isPublic: false
                  terms:
                  termsDate: 2017-09-08 19:41:01.096000+00:00
              example: *id005
        '400':
          description: Bad request. The request was malformed or contains invalid parameters.
        '409':
          description: Conflict. The request conflicts with the current state of the resource.
      summary: Classify an API version
      operationId: classifyApiVersion
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/export:
    get:
      description: Exports an API Version.
      parameters:
      - name: portal
        description: Include portal.
        required: true
        in: query
        schema:
          type: boolean
      - name: files
        description: Include definition files.
        required: true
        in: query
        schema:
          type: boolean
      - name: slaTiers
        description: Include SLA tiers.
        required: true
        in: query
        schema:
          type: boolean
      - name: portalAttachments
        description: Include portal attachments.
        required: true
        in: query
        schema:
          type: boolean
      - name: endpoint
        description: Include endpoint definition.
        required: true
        in: query
        schema:
          type: boolean
      - name: portalFiles
        description: Include portal images.
        required: true
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/zip
          content:
            application/zip:
              schema: {}
              example:
                message: Operation completed successfully.
      summary: Export an API version
      operationId: exportApiVersion
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/users:
    description: Proxy for core services that return users, with exception of API OWNER role and the current user.
    get:
      description: Search for users.
      parameters:
      - name: search
        required: true
        in: query
        schema:
          type: string
        description: Search or filter expression to narrow results.
      - name: includeCurrent
        description: Whether to include the currently logged-in user in the search results or not.
        required: true
        in: query
        schema:
          type: boolean
      - name: offset
        description: Offset on the amount of assets (each of which has all its apis)
        required: true
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        description: Limit on the amount of assets (each of which has all its apis)
        required: true
        in: query
        schema:
          type: integer
          default: 25
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      summary: Search API version users
      operationId: listApiVersionUsers
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/users/by-roles:
    description: 'Proxy for core services that return users for a given set of roles and context parameters.

      Users are returned with an extra "roles" property containing the core services id of the subset of passed-in roles of which they are a member.

      '
    get:
      description: Search for users who match a specific set of roles.
      parameters:
      - name: API_VERSION_OWNER
        description: Context params for the API VERSION OWNER role.
        required: true
        in: query
        schema:
          type: string
      - name: PORTAL_ACCESS
        description: Context params for the PORTAL ACCESS role.
        required: true
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      summary: List API version users by role
      operationId: listApiVersionUsersByRole
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/users/owners:
    get:
      description: Return all owners of an API version.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      summary: List API version owners
      operationId: listApiVersionOwners
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/permissions:
    post:
      description: Grant a user admin access to this API version.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The permissions data to create.
      responses:
        '201':
          description: Resource created successfully.
      summary: Grant admin access to API version
      operationId: grantApiVersionAccess
    delete:
      description: Revoke a user's admin access to this API version.
      parameters:
      - name: userId
        required: true
        in: query
        schema:
          type: string
        description: The user ID query parameter.
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '204':
          description: Operation completed successfully with no content returned.
      summary: Revoke admin access to API version
      operationId: revokeApiVersionAccess
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/migration-mapping:
    description: This is for setting up for the Crowd upgrade.
    get:
      description: Get the api version migration mapping of an API version
      parameters:
      - name: apiVersionId
        required: true
        in: query
        schema:
          type: string
        description: The apiVersion ID query parameter.
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id006
                  masterOrganizationId: 9881ab9d-e73a-47cd-8105-d0b5f1a27fa1
                  organizationId: 9881ab9d-e73a-47cd-8105-d0b5f1a27fa1
                  id: 4399
                  apiVersionId: 116409
                  apiName: newName
                  apiVersionName: newVersion
                  migratePortal: true
                  crowdOneAccount: false
              example: *id006
      summary: Get API version migration mapping
      operationId: getApiVersionMigration
    post:
      description: Create a migration mapping for an API version
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated'
        description: The migration mapping data to create.
      responses:
        '201':
          description: Resource created successfully.
      summary: Create API version migration mapping
      operationId: createApiVersionMigration
    put:
      description: Update a migration mapping of an API version
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated'
        description: The migration mapping data to update.
      responses:
        '200':
          description: Successful operation.
      summary: Update API version migration mapping
      operationId: updateApiVersionMigration
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/portal:
    get:
      description: Obtain the portal associated with the API version.
      parameters:
      - name: resolveTheme
        description: Resolves theme inheritance.
        required: true
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      summary: Get API version portal
      operationId: getApiVersionPortal
    post:
      description: Create a portal and associates it with an API version.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The portal data to create.
      responses:
        '201':
          description: Resource created successfully.
      summary: Create API version portal
      operationId: createApiVersionPortal
    patch:
      description: Create a portal and associates it with an API version.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The portal data to update.
      responses:
        '200':
          description: Successful operation.
      summary: Patch API version portal
      operationId: patchApiVersionPortal
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/portal/permissions:
    post:
      description: Grant a user view access to this portal.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The permissions data to create.
      responses:
        '201':
          description: Resource created successfully.
      summary: Grant view access to API portal
      operationId: grantApiPortalAccess
    delete:
      description: Revoke a user's view access to portal.
      parameters:
      - name: userId
        required: true
        in: query
        schema:
          type: string
        description: The user ID query parameter.
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '204':
          description: Operation completed successfully with no content returned.
      summary: Revoke view access to API portal
      operationId: revokeApiPortalAccess
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/portal/redirectUri:
    put:
      description: Update redirec uri for a portal
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The redirectUri data to update.
      responses:
        '200':
          description: Successful operation.
      summary: Update API portal redirect URI
      operationId: updateApiPortalRedirectUri
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/portal/pages:
    description: A collection of portal pages.
    post:
      description: Creates a new element.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The pages data to create.
      responses:
        '201':
          description: The new element has been successfully created.
      summary: Create an API portal page
      operationId: createApiPortalPage
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/portal/pages/{pageId}:
    put:
      description: Update an existing page.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - name: pageId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The page ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The pages data to update.
      responses:
        '200':
          description: Successful operation.
      summary: Update an API portal page
      operationId: updateApiPortalPage
    delete:
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - name: pageId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The page ID to identify the target resource.
      responses:
        '204':
          description: Operation completed successfully with no content returned.
      summary: Delete an API portal page
      operationId: deleteApiPortalPage
      description: Deletes a pages.
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/portal/pages/{pageId}/widgets:
    get:
      description: Returns all content widgets of a page.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - name: pageId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The page ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      summary: List API portal page widgets
      operationId: listApiPortalPageWidgets
    patch:
      description: Updates the collection of widgets.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - name: pageId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The page ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The widgets data to update.
      responses:
        '200':
          description: Successful operation.
      summary: Patch API portal page widgets
      operationId: patchApiPortalPageWidgets
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/portal/theme:
    put:
      description: Update the portal theme.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated4'
        description: The theme data to update.
      responses:
        '200':
          description: Successful operation.
      summary: Update API portal theme
      operationId: updateApiPortalTheme
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/portal/files:
    description: A collection of portal files.
    post:
      description: Upload an api portal file.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated4'
        description: The files data to create.
      responses:
        '201':
          description: The new element has been successfully created.
      summary: Upload an API portal file
      operationId: uploadApiPortalFile
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/portal/files/{fileId}:
    get:
      description: Gets the portal file.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - name: fileId
        required: true
        in: path
        schema:
          type: string
        description: The file ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      summary: Get an API portal file
      operationId: getApiPortalFile
    delete:
      description: Removes the Portal file.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - name: fileId
        required: true
        in: path
        schema:
          type: string
        description: The file ID to identify the target resource.
      responses:
        '204':
          description: Operation completed successfully with no content returned.
      summary: Delete an API portal file
      operationId: deleteApiPortalFile
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/portal/files/{fileId}/{fileName}:
    get:
      description: Same as parent get but allows to set a file name in the content-disposition header for downloading in a browser environment.
      parameters:
      - name: fileId
        required: true
        in: path
        schema:
          type: string
        description: The file ID to identify the target resource.
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - name: fileName
        required: true
        in: path
        schema:
          type: string
        description: The fileName to identify the target resource.
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
      summary: Download an API portal file
      operationId: downloadApiPortalFile
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/addRootRaml:
    post:
      description: Adds the root RAML for this API version.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The addRootRaml data to create.
      responses:
        '201':
          description: Resource created successfully.
      summary: Add root RAML for API version
      operationId: addApiVersionRootRaml
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/definition:
    description: The fully resolved RAML spec for this version of the API.
    get:
      description: Gets the RAML SPEC.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      summary: Get API version RAML spec
      operationId: getApiVersionSpec
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/endpoint:
    description: The endpoint associated with the API version.
    get:
      description: Returns the endpoint associated with the API version.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '200':
          description: Successful.
        '400':
          description: Bad request.
        '404':
          description: No endpoint found for this API version.
      summary: Get API version endpoint
      operationId: getApiVersionEndpoint
    post:
      description: Creates an endpoint for the API version.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The endpoint data to create.
      responses:
        '201':
          description: The endpoint has been created.
        '400':
          description: Bad request.
        '409':
          description: The endpoint URL already exists.
      summary: Create API version endpoint
      operationId: createApiVersionEndpoint
    put:
      description: Updates the endpoint associated with the API version.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The endpoint data to update.
      responses:
        '200':
          description: The endpoint has been updated.
        '409':
          description: The endpoint URL already exists.
      summary: Update API version endpoint
      operationId: updateApiVersionEndpoint
    patch:
      description: Updates the endpoint associated with the API version.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The endpoint data to update.
      responses:
        '200':
          description: Successful operation.
      summary: Patch API version endpoint
      operationId: patchApiVersionEndpoint
    delete:
      description: Deletes the endpoint associated with the API version.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '204':
          description: The endpoint has been succesfully deleted.
      summary: Delete API version endpoint
      operationId: deleteApiVersionEndpoint
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/endpoint/active:
    post:
      description: Records activity for an API version.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '201':
          description: The API version activity has been recorded.
      summary: Record API version endpoint activity
      operationId: recordEndpointActivity
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/files:
    description: A collection of API version RAML files and directories.
    post:
      description: Creates a new element.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The files data to create.
      responses:
        '201':
          description: The new element has been successfully created.
      summary: Create an API version file
      operationId: createApiVersionFile
    get:
      description: Returns a list of elements.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      summary: List API version files
      operationId: listApiVersionFiles
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/files/export:
    get:
      description: Exports all files in the filesystem as a ZIP file.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/zip
          content:
            application/zip:
              schema: {}
              example:
                message: Operation completed successfully.
      summary: Export API version files as ZIP
      operationId: exportApiVersionFiles
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/files/{apiVersionFileId}:
    description: An API version RAML file (or directory).
    get:
      description: Obtain a RAML file (or directory).
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - name: apiVersionFileId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersionFile ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      summary: Get an API version file
      operationId: getApiVersionFile
    put:
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - name: apiVersionFileId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersionFile ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The files data to update.
      responses:
        '200':
          description: Successful operation.
      summary: Replace an API version file
      operationId: updateApiVersionFile
      description: Replaces a files.
    delete:
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - name: apiVersionFileId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersionFile ID to identify the target resource.
      responses:
        '204':
          description: Operation completed successfully with no content returned.
      summary: Delete an API version file
      operationId: deleteApiVersionFile
      description: Deletes a files.
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/policies:
    description: A collection of API version policies.
    get:
      description: Returns a list of elements.
      parameters:
      - name: standalone
        required: true
        in: query
        schema:
          type: boolean
        description: The standalone query parameter.
      - name: version
        required: true
        in: query
        schema:
          type: string
          pattern: ^v\d+(.\d+)?(.\d+)?$
          default: v1
        description: The version query parameter.
      - name: fullInfo
        required: true
        in: query
        schema:
          type: boolean
          default: true
        description: The fullInfo query parameter.
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - name: if-modified-since
        description: Last modification date (EPOC)
        required: false
        in: header
        schema:
          type: number
      responses:
        '200':
          description: Successful operation.
        '304':
          description: Resource has not been modified since the last request.
      summary: List API version policies
      operationId: listApiVersionPolicies
    post:
      description: Creates a new element.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The policies data to create.
      responses:
        '201':
          description: The new element has been successfully created.
      summary: Apply a policy to API version
      operationId: applyApiVersionPolicy
    patch:
      description: Updates multiple policies. Currently, only updates in order field are supported.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        content:
          application/json:
            schema:
              example:
              - id: 51
                order: 1
              - id: 63
                order: 2
        x-amf-mediaType: application/json
        description: The policies data to update.
      responses:
        '200':
          description: Successful operation.
        '400':
          description: Bad request. The request was malformed or contains invalid parameters.
      summary: Reorder API version policies
      operationId: reorderApiVersionPolicies
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/policies/{policyId}:
    description: An API version policy.
    patch:
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - $ref: '#/components/parameters/XOrigin_policyId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The policies data to update.
      responses:
        '200':
          description: Successful operation.
      summary: Patch an API version policy
      operationId: patchApiVersionPolicy
      description: Updates a policies.
    delete:
      description: Unapplies a policy.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - $ref: '#/components/parameters/XOrigin_policyId_Path'
      responses:
        '204':
          description: Operation completed successfully with no content returned.
      summary: Unapply an API version policy
      operationId: unapplyApiVersionPolicy
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/policies/{policyId}/disable:
    description: Disables an API version policy.
    post:
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - $ref: '#/components/parameters/XOrigin_policyId_Path'
      responses:
        '201':
          description: Resource created successfully.
        '400':
          description: Bad request. The request was malformed or contains invalid parameters.
        '404':
          description: Not found. The requested resource does not exist.
      summary: Disable an API version policy
      operationId: disableApiVersionPolicy
      description: Creates a disable.
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/policies/{policyId}/enable:
    description: Enables an API version policy.
    post:
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - $ref: '#/components/parameters/XOrigin_policyId_Path'
      responses:
        '201':
          description: Resource created successfully.
        '400':
          description: Bad request. The request was malformed or contains invalid parameters.
        '404':
          description: Not found. The requested resource does not exist.
      summary: Enable an API version policy
      operationId: enableApiVersionPolicy
      description: Creates a enable.
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/tags:
    description: Manages an API version tags.
    parameters:
    - $ref: '#/components/parameters/XOrigin_organizationId_Path'
    - $ref: '#/components/parameters/XOrigin_apiId_Path'
    - name: apiVersionId
      required: true
      in: path
      schema:
        type: integer
        minimum: 1
        maximum: 2147483647
      description: The apiVersion ID to identify the target resource.
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/tags/{tag}:
    post:
      description: Adds a tag to an API version.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - name: tag
        required: true
        in: path
        schema:
          type: string
          maxLength: 150
        description: The tag to identify the target resource.
      responses:
        '201':
          description: Resource created successfully.
      summary: Add a tag to an API version
      operationId: addApiVersionTag
    delete:
      description: Removes a tag from an API version.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      - name: tag
        required: true
        in: path
        schema:
          type: string
          maxLength: 150
        description: The tag to identify the target resource.
      responses:
        '204':
          description: Operation completed successfully with no content returned.
      summary: Remove a tag from an API version
      operationId: removeApiVersionTag
  /organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/tiers:
    description: Manages API version tiers.
    get:
      description: Retrieves a list of tiers for the supplied api version.
      parameters:
      - name: query
        description: Search criteria.
        required: true
        in: query
        schema:
          type: string
      - name: offset
        description: Skip over a number of elements by specifying an offset value for the query.
        required: true
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 2147483647
          default: 0
      - name: ascending
        description: Order for sorting.
        required: true
        in: query
        schema:
          type: boolean
      - name: sort
        description: Property to sort by.
        required: true
        in: query
        schema:
          type: string
      - name: limit
        description: Limit the number of elements on the response.
        required: true
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 100
      - name: active
        description: Retrieve only active tiers if set to true.
        required: true
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      summary: List API version SLA tiers
      operationId: listApiVersionTiers
    post:
      description: Creates a sla tier for the API version.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_apiId_Path'
      - name: apiVersionId
        required: true
        in: path
        schema:
          type: integer
          minimum: 1
          maximum: 2147483647
        description: The apiVersion ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The tiers data to create.
      responses:
        '201':
          description: The new element has been successfully created.
      summary: Create an API version SLA tier
[...]
