openapi: 3.0.0
info:
  title: API Designer Experience API
  description: Design and manage API specifications and fragments in Design Center. Create projects, manage branches, modify files, and publish to Exchange.
  version: 1.0.0
servers:
- url: https://anypoint.mulesoft.com/designcenter/api-designer
  description: US
- url: https://eu1.anypoint.mulesoft.com/designcenter/api-designer
  description: EU
security:
- bearerAuth: []
- clientAuth: []
paths:
  /ping:
    get:
      description: to check if service is up
      responses:
        '200':
          description: Successful operation.
      summary: Check service health
      operationId: getPing
  /status:
    get:
      description: to check if service is up
      responses:
        '200':
          description: Successful operation.
      summary: Get service status
      operationId: getStatus
  /health:
    get:
      description: to check if service is up
      responses:
        '200':
          description: Successful operation.
      summary: Get service health status
      operationId: getHealth
  /ready:
    get:
      description: Readiness check, reports status of dependent services (e.g. redis)
      responses:
        '200':
          description: Successful operation.
      summary: Check service readiness
      operationId: getReady
  /config:
    get:
      description: Returns client configuration such as currentDate, expirationTime, muleOrganizationId, retryTimes, retryTimeout and feature flags
      parameters:
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema: {}
        '401':
          description: Authorization failed
      summary: Get client configuration
      operationId: getConfig
  /features:
    post:
      description: Resolves a set of feature flags by name for the current user
      parameters:
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
              example:
              - design-center-pkce-ready
              - api-designer-ui-pkce-ready
        x-amf-mediaType: application/json
        description: The names of the feature flags to resolve.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: boolean
              example:
                design-center-pkce-ready: true
                api-designer-ui-pkce-ready: false
        '401':
          description: Authorization failed
      summary: Resolve feature flags
      operationId: resolveFeatures
  /organizations:
    get:
      description: Retrieves the organizations the current user is a member of
      parameters:
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: List organizations the user belongs to
      operationId: listOrganizations
  /organizations/{organizationId}/settings:
    get:
      description: Retrieves settings for organization
      parameters:
      - name: organizationId
        description: The organizationId to identify the target resource.
        required: true
        in: path
        schema:
          type: string
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      - name: x-all-settings
        description: When true, retrieves both the default branch setting and the Github integration setting, nested under defaultBranchSetting/githubIntegrationSetting. When absent or false, retrieves only the default branch setting as a flat object.
        in: header
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgSettings'
        '401':
          description: Authorization failed
      summary: Get organization settings
      operationId: getOrganizationSettings
    post:
      description: Changes settings for organization
      parameters:
      - name: organizationId
        description: The organizationId to identify the target resource.
        required: true
        in: path
        schema:
          type: string
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      - name: x-all-settings
        description: When true, the request body must use branchName/githubIntegration (either or both) and the response is nested under defaultBranchSetting/githubIntegrationSetting. When absent or false, only the default branch setting can be changed, using branchName in the request body.
        in: header
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgSettings'
        x-amf-mediaType: application/json
        description: The settings data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgSettings'
        '401':
          description: Authorization failed
      summary: Update organization settings
      operationId: updateOrganizationSettings
  /organizations/{organizationId}/access/permissions:
    get:
      description: Retrieves admin permissions
      parameters:
      - name: organizationId
        description: The organizationId to identify the target resource.
        required: true
        in: path
        schema:
          type: string
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminPermissions'
        '401':
          description: Authorization failed
      summary: Get organization admin permissions
      operationId: getOrganizationPermissions
  /organizations/{organizationId}/exchange/facets:
    get:
      description: Retrieves Exchange facets for the given organization
      parameters:
      - name: organizationId
        description: The organizationId to identify the target resource.
        required: true
        in: path
        schema:
          type: string
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeFacets'
        '401':
          description: Authorization failed
      summary: Get organization Exchange facets
      operationId: getOrganizationExchangeFacets
  /organizations/{organizationId}/identities:
    get:
      description: Retrieves identities (users/teams) belonging to the given organization, optionally filtered by search term
      parameters:
      - name: organizationId
        description: The organizationId to identify the target resource.
        required: true
        in: path
        schema:
          type: string
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      - name: search
        description: Search term to filter identities by
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: List organization identities
      operationId: listOrganizationIdentities
  /documentation:
    get:
      description: Retrieves documentation content for the given language
      parameters:
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      - name: language
        description: Language of the documentation to retrieve. Although the query parameter itself is optional, omitting it results in a 400 response
        in: query
        schema:
          enum:
          - RAML1.0
          - RAML0.8
          type: string
      responses:
        '200':
          description: Successful operation.
        '400':
          description: '"Invalid language {language}" if language is provided but not supported, or "Required parameter language not provided" if language is omitted'
        '401':
          description: Authorization failed
        '404':
          description: No documentation URL was provided
      summary: Get documentation content
      operationId: getDocumentation
  /projects:
    post:
      description: Creates a new project
      parameters:
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
        x-amf-mediaType: application/json
        description: The projects data to create.
      responses:
        '201':
          description: Resource created successfully.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                organizationId: 6a2f41a3-c54c-fce8-32d2-0324e1c32e22
                id: 6a2f41a3-c54c-fce8-32d2-0324e1c32e22
                name: string
                description: string
                type: string
                createdBy: string
                createdDate: 0
        '401':
          description: Authorization failed
        '409':
          description: Project {type}-{name} already exists
      summary: Create project
      operationId: createProject
    get:
      description: Gets all the projects that the user has access
      parameters:
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
              example:
              - id: string
                type: string
        '401':
          description: Authorization failed
      summary: List projects the user can access
      operationId: listProjects
  /projects/credentials:
    get:
      description: Retrieve VCS credentials associated to the given user. Used for Github sync
      parameters:
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: Get VCS credentials for Github sync
      operationId: getProjectCredentials
    delete:
      description: Delete VCS credentials associated to the given user. Used for Github sync
      parameters:
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '204':
          description: Operation completed successfully with no content returned.
        '401':
          description: Authorization failed
      summary: Delete VCS credentials for Github sync
      operationId: deleteProjectCredentials
  /projects/import:
    post:
      description: Creates a project from a zip file containing files
      parameters:
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectImport'
        x-amf-mediaType: application/json
        description: The import data to create.
      responses:
        '201':
          description: Resource created successfully.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                organizationId: 6a2f41a3-c54c-fce8-32d2-0324e1c32e22
                id: 6a2f41a3-c54c-fce8-32d2-0324e1c32e22
                name: string
                description: string
                type: string
                createdBy: string
                createdDate: 0
        '400':
          description: Bad Request
        '401':
          description: Authorization failed
        '409':
          description: Project {type}-{name} already exists
      summary: Import project from zip file
      operationId: importProject
  /projects/access/permissions:
    get:
      description: Gets design center general permissions. eg Create projects
      parameters:
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralPermissions'
        '401':
          description: Authorization failed
      summary: Get Design Center general permissions
      operationId: getDesignCenterPermissions
  /projects/{projectId}:
    get:
      description: Get project data
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                organizationId: 6a2f41a3-c54c-fce8-32d2-0324e1c32e22
                id: 6a2f41a3-c54c-fce8-32d2-0324e1c32e22
                name: string
                description: string
                type: string
                createdBy: string
                createdDate: 0
        '401':
          description: Authorization failed
      summary: Get project by ID
      operationId: getProjectById
    patch:
      description: 'Patches project metadata.

        CreatedBy is only editable by the Project Owner or Organization Admins

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPatch'
        x-amf-mediaType: application/json
        description: The projects data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                organizationId: 6a2f41a3-c54c-fce8-32d2-0324e1c32e22
                id: 6a2f41a3-c54c-fce8-32d2-0324e1c32e22
                name: string
                description: string
                type: string
                createdBy: string
                createdDate: 0
        '401':
          description: Authorization failed
      summary: Patch project metadata
      operationId: patchProject
    delete:
      description: Deletes the given project
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '204':
          description: Operation completed successfully with no content returned.
        '401':
          description: Authorization failed
      summary: Delete project
      operationId: deleteProject
  /projects/{projectId}/files:
    delete:
      description: Deletes all project files, except reserved ones (exchange modules, exchange.json, designer.json, .gitignore)
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      - name: x-if-match
        description: etag to check for concurrency conflicts
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: Delete all project files
      operationId: deleteProjectFiles
  /projects/{projectId}/rename:
    put:
      description: Renames the given project
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
        x-amf-mediaType: application/json
        description: The rename data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                organizationId: 6a2f41a3-c54c-fce8-32d2-0324e1c32e22
                id: 6a2f41a3-c54c-fce8-32d2-0324e1c32e22
                name: string
                description: string
                type: string
                createdBy: string
                createdDate: 0
        '401':
          description: Authorization failed
      summary: Rename project
      operationId: renameProject
  /projects/{projectId}/clone:
    post:
      description: Clones the given project into a new one
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                branch:
                  type: string
        x-amf-mediaType: application/json
        description: The clone data to create.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                organizationId: 6a2f41a3-c54c-fce8-32d2-0324e1c32e22
                id: 6a2f41a3-c54c-fce8-32d2-0324e1c32e22
                name: string
                description: string
                type: string
                createdBy: string
                createdDate: 0
        '401':
          description: Authorization failed
      summary: Clone project
      operationId: cloneProject
  /projects/{projectId}/settings:
    patch:
      description: Sets project settings, e.g. defaultBranch
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                defaultBranch:
                  type: string
        x-amf-mediaType: application/json
        description: The settings data to update.
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: Patch project settings
      operationId: patchProjectSettings
  /projects/{projectId}/changes:
    get:
      description: Lists all changes (commits) of the project
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      - name: pageSize
        description: Number of changes to retrieve per page
        in: query
        schema:
          type: number
      - name: pageIndex
        description: Page index of results to retrieve
        in: query
        schema:
          type: number
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: List project changes
      operationId: listProjectChanges
  /projects/{projectId}/changes/{commitId}:
    get:
      description: Gets the list of files involved in the given commit
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: commitId
        description: The commitId to identify the target resource.
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: List files changed in a commit
      operationId: listCommitFiles
  /projects/{projectId}/changes/{commitId}/{filePath}:
    get:
      description: Gets the given file at the given commit id. filePath must be uri compliant, / must be escaped
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: commitId
        description: The commitId to identify the target resource.
        required: true
        in: path
        schema:
          type: string
      - name: filePath
        description: File Path to retrieve. Must be URI complain and escape '/' characters
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: '*/*'
          content:
            '*/*':
              schema: {}
        '401':
          description: Authorization failed
      summary: Get file content at a specific commit
      operationId: getCommitFile
  /projects/{projectId}/branches:
    post:
      description: Creates new branch
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Data of the branch to create
              type: object
              required:
              - name
              - commitId
              properties:
                name:
                  description: Name of the branch
                  example: master
                  type: string
                commitId:
                  description: Commit ID
                  example: 734713bc0
                  type: string
                baseBranch:
                  description: Base branch used when creating the new branch. If this value is provided, it has precedence over commitId
                  type: string
        x-amf-mediaType: application/json
        description: The branches data to create.
      responses:
        '201':
          description: Resource created successfully.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                description: Returns created branch
                type: object
                required:
                - name
                - commitId
                properties:
                  name:
                    description: Name of the branch
                    example: master
                    type: string
                  commitId:
                    description: Commit ID
                    example: 734713bc0
                    type: string
              example:
                name: master
                commitId: 734713bc0
        '401':
          description: Authorization failed
      summary: Create branch
      operationId: createBranch
    get:
      description: List branches
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      - name: local
        description: When true, it retrieves branches from local copy instead of git bare repository
        in: query
        schema:
          type: boolean
      - name: metadata
        description: When true, it retrieves extra branches metadata such as lastPublishedVersion
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: List of existing branches
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Branch'
              example:
              - id: string
                type: string
        '401':
          description: Authorization failed
      summary: List branches
      operationId: listBranches
  /projects/{projectId}/branches/{branch}:
    delete:
      description: Deletes a branch
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '204':
          description: Operation completed successfully with no content returned.
        '401':
          description: Authorization failed
      summary: Delete branch
      operationId: deleteBranch
    put:
      description: Changes a branch's name
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameBranch'
        x-amf-mediaType: application/json
        description: The branch data to update.
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: Rename branch
      operationId: renameBranch
  /projects/{projectId}/branches/{branch}/commits:
    get:
      description: Returns the list of commits for a project branch
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      - name: offset
        description: Obtains paginated results with provided offset
        in: query
        schema:
          type: number
      - name: limit
        description: Limits the amount of commits retrieved
        in: query
        schema:
          type: number
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Commit'
              example:
              - id: id
                message: commit message
                authorName: test
                authorEmail: test@mulesoft.com
                committerName: test
                committerEmail: test@mulesoft.com
                dateCreated: 1601480399000
        '401':
          description: Authorization failed
      summary: List branch commits
      operationId: listBranchCommits
  /projects/{projectId}/branches/{branch}/merge:
    post:
      description: Merge this branch with a source branch
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BranchMerge'
        x-amf-mediaType: application/json
        description: The merge data to create.
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
        '409':
          description: Merge was aborted due to conflicts when trying to merge
      summary: Merge branch
      operationId: mergeBranch
  /projects/{projectId}/branches/{branch}/conformance:
    get:
      description: Returns conformance report for the latest published version
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Report returned successfully
        '401':
          description: Authorization failed
      summary: Get branch conformance report
      operationId: getBranchConformance
  /projects/{projectId}/branches/{branch}/conformance/plan:
    get:
      description: Returns conformance plan for the latest published version
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      - name: criteria
        description: Criteria to consider when calculating the conformance plan
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Report returned successfully
        '401':
          description: Authorization failed
      summary: Get branch conformance plan
      operationId: getBranchConformancePlan
  /projects/{projectId}/branches/{branch}/events:
    post:
      description: Report event to MDAS Metrics service
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventPayload'
        x-amf-mediaType: application/json
        description: The event data to create.
      responses:
        '200':
          description: Successful operation.
      summary: Report branch event to metrics service
      operationId: reportBranchEvent
  /projects/{projectId}/branches/{branch}/open:
    get:
      description: List project files. If user's workingDir does not exists, it creates one.
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
              example: &id001
              - path: api.raml
                type: FILE
              - path: types
                type: FOLDER
              - path: types/customer.raml
                type: FILE
              - path: types/person.raml
                type: FILE
              - path: types/address.raml
                type: FILE
        '401':
          description: Authorization failed
      summary: Open branch and list project files
      operationId: openBranch
  /projects/{projectId}/branches/{branch}/clean:
    post:
      description: cleans uncommited files from users workingDir
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: Clean uncommitted files from working dir
      operationId: cleanBranch
  /projects/{projectId}/branches/{branch}/status:
    post:
      description: list WorkingDir status
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: Get branch working directory status
      operationId: getBranchStatus
  /projects/{projectId}/branches/{branch}/save:
    post:
      description: save listed files (save and save All)
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileContents'
        x-amf-mediaType: application/json
        description: The save data to create.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
              example: *id001
        '401':
          description: Authorization failed
        '409':
          description: Could not save changes
      summary: Save branch files
      operationId: saveBranchFiles
  /projects/{projectId}/branches/{branch}/save/v2:
    post:
      description: 'Save listed files (save and save All).

        Accepts any file as body''s content-type can be multipart/form-data

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      - name: x-if-match
        description: etag to check for concurrency conflicts
        in: header
        schema:
          type: string
      - name: metadata
        description: When true, it retrieves extra file metadata such as lastPublishedVersion
        in: query
        schema:
          type: boolean
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileContents'
          application/json:
            schema:
              $ref: '#/components/schemas/FileContents'
        x-amf-mediaType: application/json
        description: The v2 data to create.
      x-amf-requestPayloads:
      - mediaType: multipart/form-data
        schema:
          $ref: '#/components/schemas/FilesForm'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
              example: *id001
        '401':
          description: Authorization failed
        '409':
          description: Could not save changes
      summary: Save branch files (v2 multipart)
      operationId: saveBranchFilesV2
  /projects/{projectId}/branches/{branch}/files:
    get:
      description: Gets a list of the structure of the file system (open project)
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
              example: *id001
        '401':
          description: Authorization failed
      summary: List branch files
      operationId: listBranchFiles
  /projects/{projectId}/branches/{branch}/files/v2/{filePath}:
    get:
      description: Returns the given file (getFile) with content-type according to file's content
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: filePath
        description: File Path to retrieve. Must be URI complain and escape '/' characters
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      - name: local
        description: When true, reads the file from the local working directory copy instead of the git bare repository
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: '*/*'
          content:
            '*/*':
              schema: {}
        '401':
          description: Authorization failed
      summary: Get branch file content (v2)
      operationId: getBranchFileV2
  /projects/{projectId}/branches/{branch}/files/{filePath}:
    description: Operations over a specific file path
    get:
      description: Returns the given file (getFile) in application/json format
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: filePath
        description: File Path to retrieve. Must be URI complain and escape '/' characters
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
        '401':
          description: Authorization failed
      summary: Get branch file as JSON
      operationId: getBranchFile
    delete:
      description: Deletes the given file or folder and commit changes (deleteFile)
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: filePath
        description: File Path to retrieve. Must be URI complain and escape '/' characters
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '204':
          description: Operation completed successfully with no content returned.
        '401':
          description: Authorization failed
      summary: Delete branch file or folder
      operationId: deleteBranchFile
  /projects/{projectId}/branches/{branch}/files/{filePath}/move:
    post:
      description: renames the file or folder (move or rename)
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: filePath
        description: File Path to retrieve. Must be URI complain and escape '/' characters
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilePath'
        x-amf-mediaType: application/json
        description: The move data to create.
      responses:
        '200':
          description: File was moved successfully
        '400':
          description: The destination path should be different than the source path
        '401':
          description: Authorization failed
        '404':
          description: File not found
        '409':
          description: The file or folder already exists
      summary: Move or rename branch file
      operationId: moveBranchFile
  /projects/{projectId}/branches/{branch}/acquireLock:
    post:
      description: Acquire lock for given project
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        description: The acquireLock data to create.
        content:
          application/json:
            schema: {}
        x-amf-mediaType: application/json
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lock'
              example:
                locked: true
                name: demo-username
        '401':
          description: Authorization failed
      summary: Acquire branch lock
      operationId: acquireBranchLock
  /projects/{projectId}/branches/{branch}/releaseLock:
    post:
      description: Release lock for given project
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        description: The releaseLock data to create.
        content:
          application/json:
            schema: {}
        x-amf-mediaType: application/json
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: Release branch lock
      operationId: releaseBranchLock
  /projects/{projectId}/branches/{branch}/keepAlive:
    post:
      description: Mantain lock for given project
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        description: The keepAlive data to create.
        content:
          application/json:
            schema: {}
        x-amf-mediaType: application/json
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: Keep branch lock alive
      operationId: renewBranchLock
  /projects/{projectId}/branches/{branch}/publish/exchange:
    post:
      description: Publish project to Exchange. As a result, an Exchange asset is created.
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        description: The exchange data to create.
        content:
          application/json:
            schema: {}
        x-amf-mediaType: application/json
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: Publish branch to Exchange
      operationId: publishBranchToExchange
  /projects/{projectId}/branches/{branch}/exchange:
    get:
      description: Retrieve Exchange metadata for a project's branch
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: Get branch Exchange metadata
      operationId: getBranchExchangeMetadata
  /projects/{projectId}/branches/{branch}/exchange/assets:
    post:
      description: Publish new Exchange Asset through Exchange xAPI v2
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPublish'
        x-amf-mediaType: application/json
        description: The asset data to create.
      responses:
        '201':
          description: Asset created successfully
        '401':
          description: Authorization failed
      summary: Publish Exchange asset via xAPI v2
      operationId: publishBranchAssetV2
  /projects/{projectId}/branches/{branch}/import:
    put:
      description: Replaces branch contents from a zip file
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      - name: x-if-match
        description: etag to check for concurrency conflicts
        in: header
        schema:
          type: string
      - name: message
        description: Commit message for the import
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/zip:
            schema: {}
        x-amf-mediaType: application/zip
        description: The zip file to import.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
              example: *id001
        '400':
          description: No files were uploaded. Use content-type:application/zip
      summary: Replace branch contents from zip archive
      operationId: importBranchArchive
  /projects/{projectId}/branches/{branch}/archive:
    get:
      description: Gets an archive file (zip) of the full project in the given branch
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/zip
          content:
            application/zip:
              schema:
                type: string
                format: binary
              example: PK\x03\x04...(zip archive binary contents)
      summary: Download branch archive as zip
      operationId: getBranchArchive
  /projects/{projectId}/branches/{branch}/exchange/dependencies:
    put:
      description: Add new dependencies in exchange.json
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
              - groupId: gid
                assetId: aid
                version: 1.0.0
              type: array
              items:
                $ref: '#/components/schemas/ExchangeAssetGAV'
        x-amf-mediaType: application/json
        description: The dependencies data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
              example: *id001
        '401':
          description: Authorization failed
      summary: Add Exchange dependencies
      operationId: addExchangeDependencies
    post:
      description: Updates exchange.json file, with given dependencies
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      - name: removeInvalidDependencies
        description: When true, removes invalid dependencies found while updating exchange.json
        in: query
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              example:
                add:
                - groupId: gid
                  assetId: aid
                  version: 1.0.1
                remove:
                - groupId: gid
                  assetId: aid
                  version: 1.0.0
              type: object
              required:
              - add
              - remove
              properties:
                add:
                  type: array
                  items:
                    $ref: '#/components/schemas/ExchangeAssetGAV'
                remove:
                  type: array
                  items:
                    $ref: '#/components/schemas/ExchangeAssetGAV'
        x-amf-mediaType: application/json
        description: The dependencies data to create.
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: Update Exchange dependencies
      operationId: updateExchangeDependencies
    patch:
      description: Reload and update the dependencies listed in exchange.json
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                add:
                - groupId: gid
                  assetId: aid
                  version: 1.0.1
                remove:
                - groupId: gid
                  assetId: aid
                  version: 1.0.0
              type: object
              required:
              - add
              - remove
              properties:
                add:
                  type: array
                  items:
                    $ref: '#/components/schemas/ExchangeAssetGAV'
                remove:
                  type: array
                  items:
                    $ref: '#/components/schemas/ExchangeAssetGAV'
        x-amf-mediaType: application/json
        description: The dependencies data to update.
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: Reload Exchange dependencies metadata
      operationId: reloadExchangeDependencies
    get:
      description: Retrieve the dependencies listed in exchange.json, along with their asset metadata
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
        '401':
          description: Authorization failed
      summary: List Exchange dependencies
      operationId: listExchangeDependencies
    delete:
      description: Removes dependencies in exchange.json
      parameters:
      - $ref: '#/components/parameters/XOrigin_projectId_Path'
      - name: branch
        description: Branch name to which apply a given operation
        required: true
        in: path
        schema:
          type: string
      - name: x-owner-id
        description: "User's ownerId, which identifies the user performing the operation. \nThis is NOT the username, but an UUID that can be found in the users page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: x-organization-id
        description: "OrganizationId, which identifies the organization to which perform the operation. \nThis can be found in the organizations page by the organization administrator.\n"
        required: true
        in: header
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      - name: authorization
        description: Bearer Access Token
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
              - groupId: gid
[...]
