{% from "skills/macros.html" import source_hint %}

{% macro render_workflow_step_try(skill_slug, step_index, yaml_data) %}
{% if yaml_data %}
{% set inputs = yaml_data.inputs|default({}) %}
{% set outputs = yaml_data.outputs|default([]) %}
{% set api_urn = yaml_data.api|default('') %}
{% set operation_id = yaml_data.operationId|default('') %}
{% set sid = skill_slug ~ '-' ~ step_index %}
<div class="workflow-try-container" id="wf-try-{{ sid }}"
     data-wf-outputs='{{ outputs|tojson }}'
     data-wf-api="{{ api_urn }}"
     data-wf-operation="{{ operation_id }}"
     data-wf-inputs='{{ inputs|tojson }}'>

    <div class="wf-url-bar-header" id="wf-urlbar-{{ sid }}"></div>
    <div class="wf-unified-content">
        <div class="wf-unified-left">
            <div class="wf-form-container" id="wf-form-{{ sid }}">
                <!-- Form will be rendered by JavaScript from operation definition -->
            </div>
        </div>

        <div class="wf-unified-right" id="wf-right-{{ sid }}">
            <div class="wf-response-tabs">
                <button class="wf-tab-btn active" onclick="switchWfTab('{{ sid }}', 'outputs')">Mapped Outputs</button>
                <button class="wf-tab-btn" onclick="switchWfTab('{{ sid }}', 'body')">Body</button>
                <button class="wf-tab-btn" onclick="switchWfTab('{{ sid }}', 'headers')">Headers</button>
            </div>
            <div class="wf-response-content">
                <div class="wf-tab-panel active" id="wf-tab-outputs-{{ sid }}">
                    <table class="wf-outputs-table" id="wf-outtable-{{ sid }}">
                        <thead><tr><th scope="col">Name</th><th scope="col">Value</th></tr></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="wf-tab-panel" id="wf-tab-body-{{ sid }}">
                    <div class="wf-response-body" id="wf-respbody-{{ sid }}"></div>
                </div>
                <div class="wf-tab-panel" id="wf-tab-headers-{{ sid }}">
                    <div class="wf-response-headers" id="wf-respheaders-{{ sid }}"></div>
                </div>
            </div>
            <span class="response-status-badge" id="wf-respstatus-{{ sid }}" style="display:none"></span>
        </div>
    </div>
</div>
{% endif %}
{% endmacro %}
