openapi: 3.0.0
info:
  title: CH2 Management API
  version: 1.0.0
  description: Manage Private Spaces, connections, egress and ingress configurations, IAM roles, and logs for CloudHub 2.0.
servers:
- url: https://anypoint.mulesoft.com/runtimefabric/api
- url: https://eu1.anypoint.mulesoft.com/runtimefabric/api
- url: https://{region}.platform.mulesoft.com/runtimefabric/api
  variables:
    region:
      default: ca1
      description: Region identifier for the service endpoint.
security:
- bearerAuth: []
- clientAuth: []
paths:
  /organizations/{organizationId}/privatespaces:
    description: The collection of privatespaces
    get:
      description: get the list of Private Spaces in the organization.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
          headers:
            ETag:
              x-amf-required: false
              description: The current value of the entity tag for the requested variant
              schema:
                type: string
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  private-space-list:
                  - id: b72b876d-f63d-11e7-a06c-080027adee7c
                    name: my-private-space-1
                    organizationId: b72b876d-f63d-11e7-a06c-080027adee7e
                    rootOrganizationId: b72b876d-f63d-11e7-a06c-080027adee7e
                    status: Active
                    network:
                      region: us-east-1
                      cidrBlock: 10.0.0.0/18
                    firewallRules:
                    - cidrBlock: 0.0.0.0/0
                      protocol: tcp
                      fromPort: 8081
                      toPort: 8081
                      type: inbound
                    - cidrBlock: 0.0.0.0/0
                      protocol: tcp
                      fromPort: 8082
                      toPort: 8082
                      type: inbound
                    - cidrBlock: 0.0.0.0/0
                      protocol: tcp
                      fromPort: 0
                      toPort: 65535
                      type: outbound
                    environments:
                      type: all
                      businessGroups:
                      - all
                    logForwarding:
                      anypointMonitoring: true
                    ingressConfiguration:
                      maxReadTimeout: 5000
                  - id: b72b876d-f63d-11e7-a06c-080027adee7d
                    name: my-private-space-2
                    organizationId: b72b876d-f63d-11e7-a06c-080027adee7e
                    rootOrganizationId: b72b876d-f63d-11e7-a06c-080027adee7e
                    status: Active
                    network:
                      region: us-east-1
                      cidrBlock: 10.0.0.0/18
                    firewallRules: []
                    environments:
                      type: sandbox
                      businessGroups:
                      - all
                    logForwarding:
                      anypointMonitoring: true
                    ingressConfiguration:
                      maxReadTimeout: 5000
              example: {}
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '429':
          description: Too many requests. Rate limit exceeded.
          headers:
            Retry-After:
              schema:
                type: string
              description: Number of seconds to wait before retrying the request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
      operationId: getOrganizationsByOrganizationidPrivatespaces
    post:
      description: create a Private Space
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateSpacePost'
        x-amf-mediaType: application/json
        description: The privatespaces data to create.
      responses:
        '201':
          description: Resource created successfully.
          headers:
            Location:
              description: URL where the new privatespace can be found
              schema:
                type: string
            ETag:
              description: The current value of the entity tag for the requested variant
              schema:
                type: string
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  create-response:
                    id: b72b876d-f63d-11e7-a06c-080027adee7c
                    name: my-private-space
                    organizationId: b72b876d-f63d-11e7-a06c-080027adee7d
                    rootOrganizationId: b72b876d-f63d-11e7-a06c-080027adee7d
                    status: Active
                    network:
                      region: us-east-1
                      cidrBlock: 10.0.0.0/18
                    firewallRules:
                    - cidrBlock: 0.0.0.0/0
                      protocol: tcp
                      fromPort: 8081
                      toPort: 8081
                      type: inbound
                    - cidrBlock: 0.0.0.0/0
                      protocol: tcp
                      fromPort: 8082
                      toPort: 8082
                      type: inbound
                    - cidrBlock: 0.0.0.0/0
                      protocol: tcp
                      fromPort: 0
                      toPort: 65535
                      type: outbound
                    environments:
                      type: all
                      businessGroups:
                      - all
                    logForwarding:
                      anypointMonitoring: true
                    ingressConfiguration:
                      readResponseTimeout: 300
                      logs:
                        portLogLevel: ERROR
                        filters: []
                      protocol: https-redirect
              example: {}
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '409':
          description: Conflict. The request conflicts with the current state of the resource.
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '429':
          description: Too many requests. Rate limit exceeded.
          headers:
            Retry-After:
              schema:
                type: string
              description: Number of seconds to wait before retrying the request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
      operationId: createOrganizationsByOrganizationidPrivatespaces
  /organizations/{organizationId}/privatespaces/supportedVpnConfigs:
    get:
      description: get supported vpn configs
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
      operationId: getOrganizationsByOrganizationidPrivatespacesSupportedvpnconfigs
  /organizations/{organizationId}/privatespaces/monthlypatchwindow:
    get:
      description: get the latest upcoming monthly patch window schedule
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfraPatchWindowInfo'
              example:
                releaseYear: 2024
                releaseMonth: MARCH
                sandboxStartDate: &id005 2024-03-18 00:00:00+00:00
                sandboxEndDate: &id006 2024-03-22 23:59:59.999000+00:00
                productionStartDate: &id007 2024-03-23 00:00:00+00:00
                productionEndDate: &id008 2024-03-24 23:59:59.999000+00:00
      operationId: getOrganizationsByOrganizationidPrivatespacesMonthlypatchwindow
  /organizations/{organizationId}/privatespaces/{privateSpaceId}:
    description: Get an entity representing a privatespace
    delete:
      description: delete the Private Space
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
      operationId: deleteOrganizationsByOrganizationidPrivatespacesByPrivatespaceid
    get:
      description: get the Private Space
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  response:
                    id: b72b876d-f63d-11e7-a06c-080027adee7c
                    name: my-private-space
                    organizationId: b72b876d-f63d-11e7-a06c-080027adee7d
                    rootOrganizationId: b72b876d-f63d-11e7-a06c-080027adee7d
                    status: Active
                    network:
                      region: us-east-1
                      cidrBlock: 10.0.0.0/18
                    firewallRules:
                    - cidrBlock: 0.0.0.0/0
                      protocol: tcp
                      fromPort: 8081
                      toPort: 8081
                      type: inbound
                    - cidrBlock: 0.0.0.0/0
                      protocol: tcp
                      fromPort: 8082
                      toPort: 8082
                      type: inbound
                    - cidrBlock: 0.0.0.0/0
                      protocol: tcp
                      fromPort: 0
                      toPort: 65535
                      type: outbound
                    environments:
                      type: all
                      businessGroups:
                      - all
                    logForwarding:
                      anypointMonitoring: true
                    ingressConfiguration:
                      readResponseTimeout: 300
                      logs:
                        portLogLevel: ERROR
                        filters: []
                      protocol: https-redirect
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceid
    patch:
      description: Update existing Private Space
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateSpacePatch'
        x-amf-mediaType: application/json
        description: The privatespaces data to update.
      responses:
        '200':
          description: Successful operation.
        '202':
          description: Request accepted for processing.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  response:
                    id: b72b876d-f63d-11e7-a06c-080027adee7c
                    name: my-private-space
                    organizationId: b72b876d-f63d-11e7-a06c-080027adee7d
                    rootOrganizationId: b72b876d-f63d-11e7-a06c-080027adee7d
                    status: Active
                    network:
                      region: us-east-1
                      cidrBlock: 10.0.0.0/18
                    firewallRules:
                    - cidrBlock: 0.0.0.0/0
                      protocol: tcp
                      fromPort: 8081
                      toPort: 8081
                      type: inbound
                    - cidrBlock: 0.0.0.0/0
                      protocol: tcp
                      fromPort: 8082
                      toPort: 8082
                      type: inbound
                    - cidrBlock: 0.0.0.0/0
                      protocol: tcp
                      fromPort: 0
                      toPort: 65535
                      type: outbound
                    environments:
                      type: all
                      businessGroups:
                      - all
                    logForwarding:
                      anypointMonitoring: true
                    ingressConfiguration:
                      readResponseTimeout: 300
                      logs:
                        portLogLevel: ERROR
                        filters: []
                      protocol: https-redirect
              example: {}
      operationId: patchOrganizationsByOrganizationidPrivatespacesByPrivatespaceid
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/associations:
    post:
      description: create associations for Private space with business groups and environments
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociationPostPayload'
        x-amf-mediaType: application/json
        description: The associations data to create.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id001
                - id: d282e462-07af-4146-b7d8-8bd7e6b18d83
                  environmentId: 2ea3eff9-569a-4495-b7b6-1e28c6440aeb
                  organizationId: 1ffdaa42-4702-4747-aeb9-aecab0f5ac1b
                - id: 79810eb2-c999-4104-b650-31ea2962a200
                  environmentId: 3e9d5bde-6ef7-4947-9f98-0f7c32d48909
                  organizationId: 1ffdaa42-4702-4747-aeb9-aecab0f5ac1b
                type: array
                items:
                  $ref: '#/components/schemas/Association'
              example: *id001
      operationId: createOrganizationsByOrganizationidPrivatespacesByPrivatespaceidAssociations
    get:
      description: get all associations of a private space.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id002
                - id: d282e462-07af-4146-b7d8-8bd7e6b18d83
                  environmentId: 2ea3eff9-569a-4495-b7b6-1e28c6440aeb
                  organizationId: 1ffdaa42-4702-4747-aeb9-aecab0f5ac1b
                - id: 79810eb2-c999-4104-b650-31ea2962a200
                  environmentId: 3e9d5bde-6ef7-4947-9f98-0f7c32d48909
                  organizationId: 1ffdaa42-4702-4747-aeb9-aecab0f5ac1b
                type: array
                items:
                  $ref: '#/components/schemas/Association'
              example: *id002
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidAssociations
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/associations/{associationId}:
    get:
      description: get a specific associations of a private space.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - name: associationId
        required: true
        in: path
        schema:
          type: string
        description: The association ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Association'
              example: &id009
                id: d282e462-07af-4146-b7d8-8bd7e6b18d83
                environmentId: 2ea3eff9-569a-4495-b7b6-1e28c6440aeb
                organizationId: 1ffdaa42-4702-4747-aeb9-aecab0f5ac1b
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidAssociationsByAssociationid
    delete:
      description: delete an association
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - name: associationId
        required: true
        in: path
        schema:
          type: string
        description: The association ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      operationId: deleteOrganizationsByOrganizationidPrivatespacesByPrivatespaceidAssociationsByAssociationid
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/ports:
    get:
      description: Get the next set of available ports.
      parameters:
      - name: available
        description: Return next free/available ports
        required: true
        in: query
        schema:
          type: boolean
          default: false
      - name: count
        description: Size of the available port list between 1 to 10
        required: true
        in: query
        schema:
          type: integer
          maximum: 10
          default: 1
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ports'
              example:
                ports:
                - 0
        '409':
          description: All the available ports for the space are in use.
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidPorts
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/iamroles:
    get:
      description: get the IAM roles associated with the space.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IAMRole'
              example:
                roles:
                - string
                organizationId: string
                spaceId: string
                message: string
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidIamroles
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/accounts:
    get:
      description: get the AWS account Id a string value.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidAccounts
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/upgrade:
    patch:
      description: Either upgrade now or (re)schedule an upgrade later
      parameters:
      - name: date
        required: false
        in: query
        schema:
          type: string
        description: The date query parameter.
      - name: optIn
        required: true
        in: query
        schema:
          type: boolean
        description: The optIn query parameter.
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfraUpdateInfo'
              example:
                scheduledUpdateTime: &id003 2024-02-28 17:57:36+00:00
                status: QUEUED
      operationId: patchOrganizationsByOrganizationidPrivatespacesByPrivatespaceidUpgrade
    delete:
      description: cancel a scheduled upgrade
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
      operationId: deleteOrganizationsByOrganizationidPrivatespacesByPrivatespaceidUpgrade
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/upgradestatus:
    get:
      description: get the upgrade status of the space
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfraUpdateInfo'
              example:
                scheduledUpdateTime: *id003
                status: QUEUED
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidUpgradestatus
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/egress:
    post:
      description: create an egress rule group
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      requestBody:
        $ref: '#/components/requestBodies/EgressRuleGroupPayload'
        description: The egress data to create.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EgressRuleGroup'
              example:
                id: string
                name: string
                rules:
                - id: string
                  type: string
                isDefault: true
      operationId: createOrganizationsByOrganizationidPrivatespacesByPrivatespaceidEgress
    get:
      description: get all egress rule groups of a private space.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id004
                - id: 65f106d7-5e39-474d-8224-28d92d00b210
                  name: example-rule-group
                  rules:
                  - domains:
                    - example.com
                    protocol: tcp
                    fromPort: 1
                    toPort: 65535
                    description: ''
                type: array
                items:
                  $ref: '#/components/schemas/EgressRuleGroup'
              example: *id004
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidEgress
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/egress/{ruleGroupId}:
    delete:
      description: delete egress rule group
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - name: ruleGroupId
        required: true
        in: path
        schema:
          type: string
        description: The ruleGroup ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      operationId: deleteOrganizationsByOrganizationidPrivatespacesByPrivatespaceidEgressByRulegroupid
    get:
      description: get a specific egress rule group
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - name: ruleGroupId
        required: true
        in: path
        schema:
          type: string
        description: The ruleGroup ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EgressRuleGroup'
              example:
                id: string
                name: string
                rules:
                - id: string
                  type: string
                isDefault: true
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidEgressByRulegroupid
    patch:
      description: Update egress rule group.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - name: ruleGroupId
        required: true
        in: path
        schema:
          type: string
        description: The ruleGroup ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/EgressRuleGroupPayload'
        description: The egress data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EgressRuleGroup'
              example:
                id: string
                name: string
                rules:
                - id: string
                  type: string
                isDefault: true
      operationId: patchOrganizationsByOrganizationidPrivatespacesByPrivatespaceidEgressByRulegroupid
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/routes:
    get:
      description: get the list of CIDR's in the private space.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrivateSpaceRoute'
              example:
              - id: string
                type: string
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidRoutes
    patch:
      description: Update the CIDRs that the Cloudhub VPC will send traffic to via the IGW.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateSpaceNetworkRoutesPatch'
        x-amf-mediaType: application/json
        description: The routes data to update.
      responses:
        '202':
          description: Request accepted for processing.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrivateSpaceRoute'
              example:
              - id: string
                type: string
      operationId: patchOrganizationsByOrganizationidPrivatespacesByPrivatespaceidRoutes
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/connections:
    description: The collection of connections
    get:
      description: get the list of Connections inside the private space.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
          headers:
            ETag:
              x-amf-required: false
              description: The current value of the entity tag for the requested variant
              schema:
                type: string
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  private-space-list:
                  - id: 83d77850-04ee-4368-8122-192f760913de
                    name: hello-connection
                    vpns:
                    - id: vpn-1234556
                      vpnId: 83d77850-04ee-4368-8122-192f760913de
                      name: test-vpn-dev
                      localAsn: 65001
                      remoteAsn: 65002
                      remoteIpAddress: 1.2.3.4
                      connectionStatus: available
                      staticRoutes: []
                      vpnTunnels: []
                      vpnTunnelsConfig: []
                    - id: vpn-1234556
                      vpnId: 83d77850-04ee-4368-8122-192f760913df
                      name: test-vpn-dev-bak
                      localAsn: 65001
                      remoteAsn: 65002
                      remoteIpAddress: 1.2.3.5
                      connectionStatus: available
                      staticRoutes: []
                      vpnTunnels: []
                      vpnTunnelsConfig: []
              example: {}
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '429':
          description: Too many requests. Rate limit exceeded.
          headers:
            Retry-After:
              schema:
                type: string
              description: Number of seconds to wait before retrying the request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidConnections
    post:
      description: create a Private Space Connection
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateSpaceConnectionPost'
        x-amf-mediaType: application/json
        description: The connections data to create.
      responses:
        '201':
          description: Resource created successfully.
          headers:
            Location:
              description: URL where the new connection can be found
              schema:
                type: string
            ETag:
              description: The current value of the entity tag for the requested variant
              schema:
                type: string
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  create-response:
                    id: 83d77850-04ee-4368-8122-192f760913de
                    name: hello-connection
                    vpns:
                    - id: vpn-1234556
                      vpnId: 83d77850-04ee-4368-8122-192f760913de
                      name: test-vpn-dev
                      localAsn: 65001
                      remoteAsn: 65002
                      remoteIpAddress: 1.2.3.4
                      connectionStatus: available
                      staticRoutes: []
                      vpnTunnels: []
                      vpnTunnelsConfig: []
                    - id: vpn-1234556
                      name: test-vpn-dev-bak
                      vpnId: 83d77850-04ee-4368-8122-192f760913df
                      localAsn: 65001
                      remoteAsn: 65002
                      remoteIpAddress: 1.2.3.5
                      connectionStatus: available
                      staticRoutes: []
                      vpnTunnels: []
                      vpnTunnelsConfig: []
              example: {}
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '409':
          description: Conflict. The request conflicts with the current state of the resource.
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '429':
          description: Too many requests. Rate limit exceeded.
          headers:
            Retry-After:
              schema:
                type: string
              description: Number of seconds to wait before retrying the request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
      operationId: createOrganizationsByOrganizationidPrivatespacesByPrivatespaceidConnections
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/connections/{connectionId}:
    description: Get an entity representing a connection
    delete:
      description: delete the Private Space Connection
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - $ref: '#/components/parameters/XOrigin_connectionId_Path'
      responses:
        '200':
          description: Successful operation.
      operationId: deleteOrganizationsByOrganizationidPrivatespacesByPrivatespaceidConnectionsByConnectionid
    get:
      description: get the Private Space Connection
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - $ref: '#/components/parameters/XOrigin_connectionId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  response:
                    id: 83d77850-04ee-4368-8122-192f760913de
                    name: hello-connection
                    vpns:
                    - id: vpn-1234556
                      vpnId: 83d77850-04ee-4368-8122-192f760913de
                      name: test-vpn-dev
                      localAsn: 65001
                      remoteAsn: 65002
                      remoteIpAddress: 1.2.3.4
                      connectionStatus: available
                      staticRoutes: []
                      vpnTunnels: []
                      vpnTunnelsConfig: []
                    - id: vpn-1234556
                      name: test-vpn-dev-bak
                      vpnId: 83d77850-04ee-4368-8122-192f760913df
                      localAsn: 65001
                      remoteAsn: 65002
                      remoteIpAddress: 1.2.3.5
                      connectionStatus: available
                      staticRoutes: []
                      vpnTunnels: []
                      vpnTunnelsConfig: []
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidConnectionsByConnectionid
    patch:
      description: Update existing Private Space Connection
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - $ref: '#/components/parameters/XOrigin_connectionId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateSpaceConnectionPatch'
        x-amf-mediaType: application/json
        description: The connections data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateSpaceConnection'
              example:
                id: string
                name: string
                vpns:
                - id: string
                  type: string
        '202':
          description: Request accepted for processing.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  response:
                    id: 83d77850-04ee-4368-8122-192f760913de
                    name: hello-connection
                    vpns:
                    - id: vpn-1234556
                      vpnId: 83d77850-04ee-4368-8122-192f760913de
                      name: test-vpn-dev
                      localAsn: 65001
                      remoteAsn: 65002
                      remoteIpAddress: 1.2.3.4
                      connectionStatus: available
                      staticRoutes: []
                      vpnTunnels: []
                      vpnTunnelsConfig: []
                    - id: vpn-1234556
                      name: test-vpn-dev-bak
                      vpnId: 83d77850-04ee-4368-8122-192f760913df
                      localAsn: 65001
                      remoteAsn: 65002
                      remoteIpAddress: 1.2.3.5
                      connectionStatus: available
                      staticRoutes: []
                      vpnTunnels: []
                      vpnTunnelsConfig: []
              example: {}
      operationId: patchOrganizationsByOrganizationidPrivatespacesByPrivatespaceidConnectionsByConnectionid
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/connections/vpns:
    post:
      description: add a vpn to an existing connection.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '201':
          description: Resource created successfully.
          headers:
            Location:
              description: URL where the new vpn can be found
              schema:
                type: string
            ETag:
              description: The current value of the entity tag for the requested variant
              schema:
                type: string
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  create-response:
                    id: 83d77850-04ee-4368-8122-192f760913de
                    name: hello-connection
                    vpns:
                    - id: vpn-1234556
                      vpnId: 83d77850-04ee-4368-8122-192f760913de
                      name: test-vpn-dev
                      localAsn: 65001
                      remoteAsn: 65002
                      remoteIpAddress: 1.2.3.4
                      connectionStatus: available
                      staticRoutes: []
                      vpnTunnels: []
                      vpnTunnelsConfig: []
                    - id: vpn-1234556
                      name: test-vpn-dev-bak
                      vpnId: 83d77850-04ee-4368-8122-192f760913df
                      localAsn: 65001
                      remoteAsn: 65002
                      remoteIpAddress: 1.2.3.5
                      connectionStatus: available
                      staticRoutes: []
                      vpnTunnels: []
                      vpnTunnelsConfig: []
              example: {}
        '409':
          description: Conflict. The request conflicts with the current state of the resource.
      operationId: createOrganizationsByOrganizationidPrivatespacesByPrivatespaceidConnectionsVpns
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/connections/vpns/{vpnId}:
    delete:
      description: delete a vpn from a connection.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - name: vpnId
        required: true
        in: path
        schema:
          type: string
        description: The vpn ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      operationId: deleteOrganizationsByOrganizationidPrivatespacesByPrivatespaceidConnectionsVpnsByVpnid
    patch:
      description: delete a vpn from a connection.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - name: vpnId
        required: true
        in: path
        schema:
          type: string
        description: The vpn ID to identify the target resource.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateSpaceConnectionVpnPatch'
        x-amf-mediaType: application/json
        description: The vpns data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateSpaceConnectionVpnPatch'
              example:
                id: string
                name: string
                remoteAsn: 0.0
                localAsn: 0.0
                remoteIpAddress: string
                staticRoutes:
                - string
                vpnTunnels:
                - id: string
                  type: string
      operationId: patchOrganizationsByOrganizationidPrivatespacesByPrivatespaceidConnectionsVpnsByVpnid
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/connections/vpns/{vpnId}/connectionGuide:
    description: download connection guide for vpn.
    get:
      parameters:
      - name: vendor
        required: true
        in: query
        schema:
          type: string
        description: The vendor query parameter.
      - name: platform
        required: true
        in: query
        schema:
          type: string
        description: The platform query parameter.
      - name: software
        required: true
        in: query
        schema:
          type: string
        description: The software query parameter.
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - name: vpnId
        required: true
        in: path
        schema:
          type: string
        description: The vpn ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidConnectionsVpnsByVpnidConnectionguide
      description: Retrieves a connectionGuide.
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/transitgateways:
    description: The collection of transitgateways
    get:
      description: get list of TGW connections assocated with a private space.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
          headers:
            ETag:
              x-amf-required: false
              description: The current value of the entity tag for the requested variant
              schema:
                type: string
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  private-space-tgw-connection-list:
                  - id: 83d77850-04ee-4368-8122-192f760913de
                    name: rtf-kamboocha1
                    spec:
                      resourceShare:
                        id: 5e409a9d-49a7-456c-82d7-a6254738a18d
                        account: '25102306'
                      region: us-east-1
                      spaceName: space1
                    status:
                      gateway: unknown
                      attachment: unattached
                      tgwResource: http://aws.tgw.link.com
                      routes:
                      - 10.0.0.0/21
                      - 10.0.0.0/22
                  - id: 73d77850-04ee-4368-8122-192f760913de
                    name: rtf-kamboocha2
                    spec:
                      resourceShare:
                        id: 4e409a9d-49a7-456c-82d7-a6254738a18d
                        account: '25102306'
                      region: us-east-1
                      spaceName: space2
                    status:
                      gateway: available
                      attachment: unattached
                      tgwResource: http://aws.tgw.link.com
                      routes:
                      - 10.0.0.0/21
                      - 10.0.0.0/22
                  - id: 63d77850-04ee-4368-8122-192f760913de
                    name: rtf-kamboocha3
                    spec:
                      resourceShare:
                        id: 3e409a9d-49a7-456c-82d7-a6254738a18d
                        account: '25102306'
                      region: us-east-1
                      spaceName: space3
                    status:
                      gateway: available
                      attachment: Pending PrivateSpace Attachment
                      tgwResource: http://aws.tgw.link.com
                      routes:
                      - 10.0.0.0/21
                      - 10.0.0.0/22
              example: {}
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '429':
          description: Too many requests. Rate limit exceeded.
          headers:
            Retry-After:
              schema:
                type: string
              description: Number of seconds to wait before retrying the request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidTransitgateways
    post:
      description: create a private space TGW connection.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateSpaceTransitGatewayPost'
        x-amf-mediaType: application/json
        description: The transitgateways data to create.
      responses:
        '201':
          description: Resource created successfully.
          headers:
            Location:
              description: URL where the new transitgateway can be found
              schema:
                type: string
            ETag:
              description: The current value of the entity tag for the requested variant
              schema:
                type: string
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  create-response:
                    id: 83d77850-04ee-4368-8122-192f760913de
                    name: rtf-kamboocha
                    spec:
                      resourceShare:
                        id: 5e409a9d-49a7-456c-82d7-a6254738a18d
                        account: '25102306'
                      region: us-east-1
                      networkIds:
                      - network-deployment-id1
                      spaceName: space
                    status:
                      gateway: unknown
                      attachment: unattached
                      tgwResource: http://aws.tgw.link.com
                      routes:
                      - 10.0.0.0/21
                      - 10.0.0.0/22
              example: {}
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '409':
          description: Conflict. The request conflicts with the current state of the resource.
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '429':
          description: Too many requests. Rate limit exceeded.
          headers:
            Retry-After:
              schema:
                type: string
              description: Number of seconds to wait before retrying the request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
      operationId: createOrganizationsByOrganizationidPrivatespacesByPrivatespaceidTransitgateways
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/transitgateways/{tgwId}:
    description: Get an entity representing a transitgateway
    delete:
      description: Detach a Transit Gateway from the Private Space
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - $ref: '#/components/parameters/XOrigin_tgwId_Path'
      responses:
        '200':
          description: Successful operation.
      operationId: deleteOrganizationsByOrganizationidPrivatespacesByPrivatespaceidTransitgatewaysByTgwid
    patch:
      description: patch the Private Space TGW Connection
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - $ref: '#/components/parameters/XOrigin_tgwId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateSpaceTransitGatewayPatch'
        x-amf-mediaType: application/json
        description: The transitgateways data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateSpaceTransitGateway'
              example:
                id: string
                name: string
                accountId: string
                spec:
                  id: string
                  type: string
                status:
                  id: string
                  type: string
        '202':
          description: Request accepted for processing.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  response:
                    id: 83d77850-04ee-4368-8122-192f760913de
                    name: rtf-kamboocha
                    spec:
                      resourceShare:
                        id: 5e409a9d-49a7-456c-82d7-a6254738a18d
                        account: '25102306'
                      region: us-east-1
                      networkIds:
                      - network-deployment-id1
                      spaceName: space
                    status:
                      gateway: unknown
                      attachment: unattached
                      tgwResource: http://aws.tgw.link.com
                      routes:
                      - 10.0.0.0/21
                      - 10.0.0.0/22
              example: {}
      operationId: patchOrganizationsByOrganizationidPrivatespacesByPrivatespaceidTransitgatewaysByTgwid
    get:
      description: 'Get the transitgateway

        with id =

        {transitgatewayId}

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - $ref: '#/components/parameters/XOrigin_tgwId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  response:
                    id: 83d77850-04ee-4368-8122-192f760913de
                    name: rtf-kamboocha
                    spec:
                      resourceShare:
                        id: 5e409a9d-49a7-456c-82d7-a6254738a18d
                        account: '25102306'
                      region: us-east-1
                      networkIds:
                      - network-deployment-id1
                      spaceName: space
                    status:
                      gateway: unknown
                      attachment: unattached
                      tgwResource: http://aws.tgw.link.com
                      routes:
                      - 10.0.0.0/21
                      - 10.0.0.0/22
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidTransitgatewaysByTgwid
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/transitgateways/{tgwId}/routes:
    patch:
      description: patch routes for a TGW connection.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - $ref: '#/components/parameters/XOrigin_tgwId_Path'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        x-amf-mediaType: application/json
        description: The routes data to update.
      responses:
        '200':
          description: Successful operation.
      operationId: patchOrganizationsByOrganizationidPrivatespacesByPrivatespaceidTransitgatewaysByTgwidRoutes
    get:
      description: get TGW routes configured to tgw connection.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - $ref: '#/components/parameters/XOrigin_tgwId_Path'
      responses:
        '200':
          description: Successful operation.
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidTransitgatewaysByTgwidRoutes
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/transitgateways/routes:
    get:
      description: get TGW routes configured to private space.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidTransitgatewaysRoutes
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/tlsContexts:
    description: The collection of tlsContexts
    get:
      description: get the list of TLS contexts inside the private space.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
          headers:
            ETag:
              x-amf-required: false
              description: The current value of the entity tag for the requested variant
              schema:
                type: string
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  private-space-list:
                  - id: 9b4832de-4177-4d0d-a665-6ce205c1e1be
                    name: certs with trust store and key store
                    trustStore:
                      fileName: cert.pem
                      expirationDate: 2022-08-13
                      dnList:
                      - issuer:
                          commonName: www.example.com
                          countryName: US
                          localityName: SF
                          organizationName: Example
                          organizationUnit: Engineering
                          state: CA
                        subject:
                          commonName: www.example2.com
                          countryName: US
                          localityName: SF
                          organizationName: Example2
                          organizationUnit: Engineering
                          state: CA
                        version: '3'
                        serialNumber: CHD08323DSD
                        signatureAlgorithm: SHA256WITHRSA
                        publicKeyAlgorithm: RSA
                        basicConstraints:
                          certificateAuthority: true
                        validity:
                          notBefore: 2018-06-15 16:57:39
                          notAfter: 2048-07-27 16:57:39
                        keyUsage:
                        - Digital Signature
                        - Non Repudiation
                        - Key CertSign
                        - CRL Sign
                        certificateType: X.509
                      - issuer:
                          commonName: www.example.com
                          countryName: US
                          localityName: SF
                          organizationName: Example
                          organizationUnit: Engineering
                          state: CA
                        subject:
                          commonName: www.example2.com
                          countryName: US
                          localityName: SF
                          organizationName: Example2
                          organizationUnit: Engineering
                          state: CA
                        version: '3'
                        serialNumber: CHD08323DSD
                        signatureAlgorithm: SHA256WITHRSA
                        publicKeyAlgorithm: RSA
                        basicConstraints:
                          certificateAuthority: true
                        validity:
                          notBefore: 2018-06-15 16:57:39
                          notAfter: 2048-07-27 16:57:39
                        keyUsage:
                        - Digital Signature
                        - Non Repudiation
                        - Key CertSign
                        - CRL Sign
                        certificateType: X.509
                      type: PEM
                    keyStore:
                      fileName: cert.pem
                      type: PEM
                      cn: www.example.com
                      san: []
                      expirationDate: 2022-08-13
                    ciphers:
                      aes128GcmSha256: true
                      aes128Sha256: false
                      aes256GcmSha384: false
                      aes256Sha256: false
                      dheRsaAes128Sha256: false
                      dheRsaAes256GcmSha384: false
                      dheRsaAes256Sha256: false
                      ecdheEcdsaAes128GcmSha256: true
                      ecdheEcdsaAes256GcmSha384: true
                      ecdheRsaAes128GcmSha256: true
                      ecdheRsaAes256GcmSha384: true
                      ecdheEcdsaChacha20Poly1305: false
                      ecdheRsaChacha20Poly1305: false
                      dheRsaChacha20Poly1305: false
                      tlsAes256GcmSha384: true
                      tlsChacha20Poly1305Sha256: true
                      tlsAes128GcmSha256: true
                    type: custom
                  - id: 46247f26-d1ca-44a5-aa48-13dc1dfc2211
                    name: certs with key store
                    keyStore:
                      fileName: keyStore.pem
                      type: PEM
                      cn: '*.backend-service.com'
                      san:
                      - www.fantastic.com
                      - '*.incredible.com'
                      expirationDate: 2023-10-21
                    ciphers:
                      aes128GcmSha256: false
                      aes128Sha256: false
                      aes256GcmSha384: false
                      aes256Sha256: false
                      dheRsaAes128Sha256: false
                      dheRsaAes256GcmSha384: false
                      dheRsaAes256Sha256: false
                      ecdheEcdsaAes128GcmSha256: true
                      ecdheEcdsaAes256GcmSha384: true
                      ecdheRsaAes128GcmSha256: true
                      ecdheRsaAes256GcmSha384: true
                      ecdheEcdsaChacha20Poly1305: false
                      ecdheRsaChacha20Poly1305: false
                      dheRsaChacha20Poly1305: false
                      tlsAes256GcmSha384: true
                      tlsChacha20Poly1305Sha256: true
                      tlsAes128GcmSha256: true
                    type: custom
                  - id: 646d79fd-2e44-4701-b4b3-21f21653e270
                    name: certs with key store
                    keyStore:
                      fileName: keyStore.jks
                      type: JKS
                      alias: special
                      cn: '*.special.com'
                      san:
                      - '*.test.com'
                      - shopper.example.com
                      expirationDate: 2022-11-11
                    ciphers:
                      aes128GcmSha256: false
                      aes128Sha256: false
                      aes256GcmSha384: false
                      aes256Sha256: false
                      dheRsaAes128Sha256: false
                      dheRsaAes256GcmSha384: false
                      dheRsaAes256Sha256: false
                      ecdheEcdsaAes128GcmSha256: true
                      ecdheEcdsaAes256GcmSha384: true
                      ecdheRsaAes128GcmSha256: true
                      ecdheRsaAes256GcmSha384: true
                      ecdheEcdsaChacha20Poly1305: false
                      ecdheRsaChacha20Poly1305: false
                      dheRsaChacha20Poly1305: false
                      tlsAes256GcmSha384: true
                      tlsChacha20Poly1305Sha256: true
                      tlsAes128GcmSha256: true
                    type: custom
                  - id: 646d79fd-2e44-4701-b4b3-21f21653e270
                    name: Default cert
                    keyStore:
                      fileName: keyStore.pem
                      type: PEM
                      cn: '*.test.cloudhub.io'
                      san:
                      - test.cloudhub.io
                      expirationDate: 2021-08-11
                    ciphers:
                      aes128GcmSha256: false
                      aes128Sha256: false
                      aes256GcmSha384: false
                      aes256Sha256: false
                      dheRsaAes128Sha256: false
                      dheRsaAes256GcmSha384: false
                      dheRsaAes256Sha256: false
                      ecdheEcdsaAes128GcmSha256: true
                      ecdheEcdsaAes256GcmSha384: true
                      ecdheRsaAes128GcmSha256: true
                      ecdheRsaAes256GcmSha384: true
                      ecdheEcdsaChacha20Poly1305: false
                      ecdheRsaChacha20Poly1305: false
                      dheRsaChacha20Poly1305: false
                      tlsAes256GcmSha384: true
                      tlsChacha20Poly1305Sha256: true
                      tlsAes128GcmSha256: true
                    type: default
              example: {}
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '429':
          description: Too many requests. Rate limit exceeded.
          headers:
            Retry-After:
              schema:
                type: string
              description: Number of seconds to wait before retrying the request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidTlscontexts
    post:
      description: create a TLS context
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      requestBody:
        content:
          application/json:
            schema:
              x-amf-examples:
                create-request-pem:
                  name: test
                  tlsConfig:
                    keyStore:
                      source: PEM
                      certificate: '-----BEGIN CERTIFICATE-----

                        replace with encrypted data

                        -----END CERTIFICATE-----'
                      key: '-----BEGIN ENCRYPTED PRIVATE KEY-----

                        replace with encrypted data

                        -----END ENCRYPTED PRIVATE KEY-----'
                      keyPassphrase: password123
                      keyFileName: test.pem
                      certificateFileName: certificateF.pem
                  ciphers:
                    aes128GcmSha256: true
                    aes128Sha256: false
                    aes256GcmSha384: false
                    aes256Sha256: false
                    dheRsaAes128Sha256: false
                    dheRsaAes256GcmSha384: false
                    dheRsaAes256Sha256: false
                    ecdheEcdsaAes128GcmSha256: true
                    ecdheEcdsaAes128Sha1: false
                    ecdheEcdsaAes256GcmSha384: true
                    ecdheEcdsaAes256Sha1: false
                    ecdheRsaAes128GcmSha256: true
                    ecdheRsaAes128Sha1: false
                    ecdheRsaAes256GcmSha384: true
                    ecdheRsaAes256Sha1: false
                    ecdheEcdsaChacha20Poly1305: false
                    ecdheRsaChacha20Poly1305: false
                    dheRsaChacha20Poly1305: false
                    tlsAes256GcmSha384: true
                    tlsChacha20Poly1305Sha256: true
                    tlsAes128GcmSha256: true
                create-request-jks:
                  name: test
                  tlsConfig:
                    keyStore:
                      source: JKS
                      keystoreBase64: replace with base64 encoded keystore
                      keyPassphrase: password123
                      storePassphrase: password123
                      alias: special
                      keystoreFileName: special.jks
                  ciphers:
                    aes128GcmSha256: true
                    aes128Sha256: false
                    aes256GcmSha384: false
                    aes256Sha256: false
                    dheRsaAes128Sha256: false
                    dheRsaAes256GcmSha384: false
                    dheRsaAes256Sha256: false
                    ecdheEcdsaAes128GcmSha256: true
                    ecdheEcdsaAes128Sha1: false
                    ecdheEcdsaAes256GcmSha384: true
                    ecdheEcdsaAes256Sha1: false
                    ecdheRsaAes128GcmSha256: true
                    ecdheRsaAes128Sha1: false
                    ecdheRsaAes256GcmSha384: true
                    ecdheRsaAes256Sha1: false
                    ecdheEcdsaChacha20Poly1305: false
                    ecdheRsaChacha20Poly1305: false
                    dheRsaChacha20Poly1305: false
                    tlsAes256GcmSha384: true
                    tlsChacha20Poly1305Sha256: true
                    tlsAes128GcmSha256: true
              x-amf-union:
              - $ref: '#/components/schemas/PrivateSpaceTlsContextJksPost'
              - $ref: '#/components/schemas/PrivateSpaceTlsContextPemPost'
        x-amf-mediaType: application/json
        description: The tlsContexts data to create.
      responses:
        '201':
          description: Resource created successfully.
          headers:
            Location:
              description: URL where the new tlsContext can be found
              schema:
                type: string
            ETag:
              description: The current value of the entity tag for the requested variant
              schema:
                type: string
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  create-response:
                    id: 9b4832de-4177-4d0d-a665-6ce205c1e1be
                    name: certs with trust store and key store
                    trustStore:
                      fileName: cert.pem
                      expirationDate: 2022-08-13
                      dnList:
                      - issuer:
                          commonName: www.example.com
                          countryName: US
                          localityName: SF
                          organizationName: Example
                          organizationUnit: Engineering
                          state: CA
                        subject:
                          commonName: www.example2.com
                          countryName: US
                          localityName: SF
                          organizationName: Example2
                          organizationUnit: Engineering
                          state: CA
                        version: '3'
                        serialNumber: CHD08323DSD
                        signatureAlgorithm: SHA256WITHRSA
                        publicKeyAlgorithm: RSA
                        basicConstraints:
                          certificateAuthority: true
                        validity:
                          notBefore: 2018-06-15 16:57:39
                          notAfter: 2048-07-27 16:57:39
                        keyUsage:
                        - Digital Signature
                        - Non Repudiation
                        - Key CertSign
                        - CRL Sign
                        certificateType: X.509
                      type: PEM
                    keyStore:
                      fileName: cert.pem
                      type: PEM
                      cn: www.example.com
                      san: []
                      expirationDate: 2022-08-13
                    ciphers:
                      aes128GcmSha256: true
                      aes128Sha256: false
                      aes256GcmSha384: false
                      aes256Sha256: false
                      dheRsaAes128Sha256: false
                      dheRsaAes256GcmSha384: false
                      dheRsaAes256Sha256: false
                      ecdheEcdsaAes128GcmSha256: true
                      ecdheEcdsaAes256GcmSha384: true
                      ecdheRsaAes128GcmSha256: true
                      ecdheRsaAes256GcmSha384: true
                      ecdheEcdsaChacha20Poly1305: false
                      ecdheRsaChacha20Poly1305: false
                      dheRsaChacha20Poly1305: false
                      tlsAes256GcmSha384: true
                      tlsChacha20Poly1305Sha256: true
                      tlsAes128GcmSha256: true
                    type: custom
              example: {}
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '409':
          description: Conflict. The request conflicts with the current state of the resource.
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '429':
          description: Too many requests. Rate limit exceeded.
          headers:
            Retry-After:
              schema:
                type: string
              description: Number of seconds to wait before retrying the request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
      operationId: createOrganizationsByOrganizationidPrivatespacesByPrivatespaceidTlscontexts
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/tlsContexts/{contextId}:
    description: Get an entity representing a tlsContext
    delete:
      description: delete the TLS context
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - name: contextId
        required: true
        in: path
        schema:
          type: string
        description: The context ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      operationId: deleteOrganizationsByOrganizationidPrivatespacesByPrivatespaceidTlscontextsByContextid
    get:
      description: get the TLS context
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - name: contextId
        required: true
        in: path
        schema:
          type: string
        description: The context ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  response:
                    id: 9b4832de-4177-4d0d-a665-6ce205c1e1be
                    name: certs with trust store and key store
                    trustStore:
                      fileName: cert.pem
                      expirationDate: 2022-08-13
                      dnList:
                      - issuer:
                          commonName: www.example.com
                          countryName: US
                          localityName: SF
                          organizationName: Example
                          organizationUnit: Engineering
                          state: CA
                        subject:
                          commonName: www.example2.com
                          countryName: US
                          localityName: SF
                          organizationName: Example2
                          organizationUnit: Engineering
                          state: CA
                        version: '3'
                        serialNumber: CHD08323DSD
                        signatureAlgorithm: SHA256WITHRSA
                        publicKeyAlgorithm: RSA
                        basicConstraints:
                          certificateAuthority: true
                        validity:
                          notBefore: 2018-06-15 16:57:39
                          notAfter: 2048-07-27 16:57:39
                        keyUsage:
                        - Digital Signature
                        - Non Repudiation
                        - Key CertSign
                        - CRL Sign
                        certificateType: X.509
                      type: PEM
                    keyStore:
                      fileName: cert.pem
                      type: PEM
                      cn: www.example.com
                      san: []
                      expirationDate: 2022-08-13
                    ciphers:
                      aes128GcmSha256: true
                      aes128Sha256: false
                      aes256GcmSha384: false
                      aes256Sha256: false
                      dheRsaAes128Sha256: false
                      dheRsaAes256GcmSha384: false
                      dheRsaAes256Sha256: false
                      ecdheEcdsaAes128GcmSha256: true
                      ecdheEcdsaAes256GcmSha384: true
                      ecdheRsaAes128GcmSha256: true
                      ecdheRsaAes256GcmSha384: true
                      ecdheEcdsaChacha20Poly1305: false
                      ecdheRsaChacha20Poly1305: false
                      dheRsaChacha20Poly1305: false
                      tlsAes256GcmSha384: true
                      tlsChacha20Poly1305Sha256: true
                      tlsAes128GcmSha256: true
                    type: custom
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidTlscontextsByContextid
    patch:
      description: Update an existing TLS context
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      - name: contextId
        required: true
        in: path
        schema:
          type: string
        description: The context ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateSpaceTlsContext'
              example:
                id: string
                name: string
                trustStore:
                  id: string
                  type: string
                keyStore:
                  id: string
                  type: string
                ciphers:
                  id: string
                  type: string
                type: string
        '202':
          description: Request accepted for processing.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  response:
                    id: 9b4832de-4177-4d0d-a665-6ce205c1e1be
                    name: certs with trust store and key store
                    trustStore:
                      fileName: cert.pem
                      expirationDate: 2022-08-13
                      dnList:
                      - issuer:
                          commonName: www.example.com
                          countryName: US
                          localityName: SF
                          organizationName: Example
                          organizationUnit: Engineering
                          state: CA
                        subject:
                          commonName: www.example2.com
                          countryName: US
                          localityName: SF
                          organizationName: Example2
                          organizationUnit: Engineering
                          state: CA
                        version: '3'
                        serialNumber: CHD08323DSD
                        signatureAlgorithm: SHA256WITHRSA
                        publicKeyAlgorithm: RSA
                        basicConstraints:
                          certificateAuthority: true
                        validity:
                          notBefore: 2018-06-15 16:57:39
                          notAfter: 2048-07-27 16:57:39
                        keyUsage:
                        - Digital Signature
                        - Non Repudiation
                        - Key CertSign
                        - CRL Sign
                        certificateType: X.509
                      type: PEM
                    keyStore:
                      fileName: cert.pem
                      type: PEM
                      cn: www.example.com
                      san: []
                      expirationDate: 2022-08-13
                    ciphers:
                      aes128GcmSha256: true
                      aes128Sha256: false
                      aes256GcmSha384: false
                      aes256Sha256: false
                      dheRsaAes128Sha256: false
                      dheRsaAes256GcmSha384: false
                      dheRsaAes256Sha256: false
                      ecdheEcdsaAes128GcmSha256: true
                      ecdheEcdsaAes256GcmSha384: true
                      ecdheRsaAes128GcmSha256: true
                      ecdheRsaAes256GcmSha384: true
                      ecdheEcdsaChacha20Poly1305: false
                      ecdheRsaChacha20Poly1305: false
                      dheRsaChacha20Poly1305: false
                      tlsAes256GcmSha384: true
                      tlsChacha20Poly1305Sha256: true
                      tlsAes128GcmSha256: true
                    type: custom
              example: {}
      operationId: patchOrganizationsByOrganizationidPrivatespacesByPrivatespaceidTlscontextsByContextid
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/logs:
    parameters:
    - $ref: '#/components/parameters/XOrigin_organizationId_Path'
    - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
  /organizations/{organizationId}/privatespaces/{privateSpaceId}/logs/ingress:
    get:
      description: download ingress logs in ascending order
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_privateSpaceId_Path'
      responses:
        '200':
          description: Successful operation.
          headers:
            transfer-encoding:
              schema:
                type: string
                enum:
                - chunked
              description: The transfer-encoding response header value.
          x-amf-mediaType: application/octet-stream
          content:
            application/octet-stream:
              schema: {}
              example: (binary data)
      operationId: getOrganizationsByOrganizationidPrivatespacesByPrivatespaceidLogsIngress
  /organizations/{organizationId}:
    parameters:
    - $ref: '#/components/parameters/XOrigin_networkOrganizationId_Path'
  /organizations/{organizationId}/transitgateways:
    description: The collection of transitgateways
    get:
      description: get list of TGW connections assocated with an organization.
      parameters:
      - name: region
        required: false
        in: query
        schema:
          type: string
        description: The region query parameter.
      - name: privateSpaceId
        required: false
        in: query
        schema:
          type: string
        description: The privateSpace ID query parameter.
      - $ref: '#/components/parameters/XOrigin_networkOrganizationId_Path'
      responses:
        '200':
          description: Successful operation.
          headers:
            ETag:
              x-amf-required: false
              description: The current value of the entity tag for the requested variant
              schema:
                type: string
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  private-space-tgw-connection-list:
                  - id: 83d77850-04ee-4368-8122-192f760913de
                    name: rtf-kamboocha1
                    spec:
                      resourceShare:
                        id: 5e409a9d-49a7-456c-82d7-a6254738a18d
                        account: '25102306'
                      region: us-east-1
                      spaceName: space1
                    status:
                      gateway: unknown
                      attachment: unattached
                      tgwResource: http://aws.tgw.link.com
                      routes:
                      - 10.0.0.0/21
                      - 10.0.0.0/22
                  - id: 73d77850-04ee-4368-8122-192f760913de
                    name: rtf-kamboocha2
                    spec:
                      resourceShare:
                        id: 4e409a9d-49a7-456c-82d7-a6254738a18d
                        account: '25102306'
                      region: us-east-1
                      spaceName: space2
                    status:
                      gateway: available
                      attachment: unattached
                      tgwResource: http://aws.tgw.link.com
                      routes:
                      - 10.0.0.0/21
                      - 10.0.0.0/22
                  - id: 63d77850-04ee-4368-8122-192f760913de
                    name: rtf-kamboocha3
                    spec:
                      resourceShare:
                        id: 3e409a9d-49a7-456c-82d7-a6254738a18d
                        account: '25102306'
                      region: us-east-1
                      spaceName: space3
                    status:
                      gateway: available
                      attachment: Pending PrivateSpace Attachment
                      tgwResource: http://aws.tgw.link.com
                      routes:
                      - 10.0.0.0/21
                      - 10.0.0.0/22
              example: {}
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '429':
          description: Too many requests. Rate limit exceeded.
          headers:
            Retry-After:
              schema:
                type: string
              description: Number of seconds to wait before retrying the request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
      operationId: getOrganizationsByOrganizationidTransitgateways
  /organizations/{organizationId}/transitgateways/{tgwId}:
    delete:
      description: Remove the Transit gateway from your Anypoint Platform organization
      parameters:
      - $ref: '#/components/parameters/XOrigin_networkOrganizationId_Path'
      - $ref: '#/components/parameters/XOrigin_attachmentTgwId_Path'
      responses:
        '200':
          description: Successful operation.
      operationId: deleteOrganizationsByOrganizationidTransitgatewaysByTgwid
  /organizations/{organizationId}/transitgateways/{tgwId}/routes:
    get:
      description: get TGW routes configured for a gateway
      parameters:
      - $ref: '#/components/parameters/XOrigin_networkOrganizationId_Path'
      - $ref: '#/components/parameters/XOrigin_attachmentTgwId_Path'
      responses:
        '200':
          description: Successful operation.
      operationId: getOrganizationsByOrganizationidTransitgatewaysByTgwidRoutes
  /organizations/{organizationId}/targets:
    description: The collection of targets
    get:
      description: get list of target deployments within an organization
      parameters:
      - $ref: '#/components/parameters/XOrigin_networkOrganizationId_Path'
      responses:
        '200':
          description: Successful operation.
          headers:
            ETag:
              x-amf-required: false
              description: The current value of the entity tag for the requested variant
              schema:
                type: string
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  targets-list:
                  - id: 76824b98-919e-11e7-abc4-cec278b6b50a
                    isAvailableForDeployments: true
                    name: example
                    version: 1.8.0
                    type: runtime-fabric
                    status: Active
                    runtimes:
                    - type: mule
                      versions:
                      - baseVersion: 3.8.0
                        tag: 3.8.0-09992211
                        releaseDate: 1528528781
                        minimumTag: 3.8.0-09992210
                        minimumTagReleaseDate: 1528528000
                        endOfStandardSupportDate: 1528528000
                        endOfExtendedSupportDate: 1528528000
                        endOfLifeSupportDate: 1528528000
                        channel: legacy
                      - baseVersion: 3.8.1
                        tag: 3.8.1-555443
                        releaseDate: 1528528781
                        minimumTag: 3.8.1-555443
                        minimumTagReleaseDate: 1528528000
                        endOfStandardSupportDate: 1528528000
                        endOfExtendedSupportDate: 1528528000
                        endOfLifeSupportDate: 1528528000
                        channel: legacy
                      - baseVersion: 4.0.0
                        tag: 4.0.0-655443
                        releaseDate: 1528528781
                        minimumTag: 4.0.0-655440
                        minimumTagReleaseDate: 1528528000
                        endOfStandardSupportDate: 1528528000
                        endOfExtendedSupportDate: 1528528000
                        endOfLifeSupportDate: 1528528000
                        channel: legacy
                    - type: tokenizer
                      versions:
                      - baseVersion: 12.5.0
                        tag: 12.5.0
                        releaseDate: 1528528781
                        minimumTag: 12.5.0
                        minimumTagReleaseDate: 1528528000
                        endOfStandardSupportDate: 1528528000
                        endOfExtendedSupportDate: 1528528000
                        endOfLifeSupportDate: 1528528000
                        channel: legacy
                    nodes:
                    - id: 76824ed6-919e-11e7-abc4-cec278b6b50a
                      location: uswest
                      isAvailableForDeployments: false
                    - id: 768254e4-919e-11e7-abc4-cec278b6b50a
                      location: useast
                      isAvailableForDeployments: true
                    enhancedSecurity: true
                    region: us-east-1
                  - id: 16824b98-919e-11e7-abc4-cec278b6b50a
                    isAvailableForDeployments: true
                    name: example
                    version: 1.1.15
                    type: private-space
                    status: Active
                    runtimes:
                    - type: mule
                      versions:
                      - baseVersion: 3.8.0
                        tag: 3.8.0-09992211
                        releaseDate: 1528528781
                        minimumTag: 3.8.0-09992210
                        minimumTagReleaseDate: 1528528000
                        endOfStandardSupportDate: 1528528000
                        endOfExtendedSupportDate: 1528528000
                        endOfLifeSupportDate: 1528528000
                        channel: legacy
                      - baseVersion: 3.8.1
                        tag: 3.8.1-555443
                        releaseDate: 1528528781
                        minimumTag: 3.8.1-555443
                        minimumTagReleaseDate: 1528528000
                        endOfStandardSupportDate: 1528528000
                        endOfExtendedSupportDate: 1528528000
                        endOfLifeSupportDate: 1528528000
                        channel: legacy
                      - baseVersion: 4.0.0
                        tag: 4.0.0-655443
                        releaseDate: 1528528781
                        minimumTag: 4.0.0-655440
                        minimumTagReleaseDate: 1528528000
                        endOfStandardSupportDate: 1528528000
                        endOfExtendedSupportDate: 1528528000
                        endOfLifeSupportDate: 1528528000
                        channel: legacy
                    - type: tokenizer
                      versions:
                      - baseVersion: 12.5.0
                        tag: 12.5.0
                        releaseDate: 1528528781
                        minimumTag: 12.5.0
                        minimumTagReleaseDate: 1528528000
                        endOfStandardSupportDate: 1528528000
                        endOfExtendedSupportDate: 1528528000
                        endOfLifeSupportDate: 1528528000
                        channel: legacy
                    nodes:
                    - id: 304372f2-30f8-4ba7-b206-af7cbda6a579
                      location: uswest
                      isAvailableForDeployments: true
                    - id: 102272f2-30f8-4ba7-b206-af7cbda6a579
                      location: useast
                      isAvailableForDeployments: true
                    enhancedSecurity: true
                    region: us-east-1
              example: {}
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '429':
          description: Too many requests. Rate limit exceeded.
          headers:
            Retry-After:
              schema:
[...]
