{% extends "base.html" %}
{% from "cli/cli_detail.html" import render_cli %}

{% block title %}{{ cli.name }} · MuleSoft Developer Hub{% endblock %}

{% block body_attrs %} class="detail-page cli-page"{% endblock %}

{% block head_scripts %}
{% include "partials/prism_head.html" %}
<script src="{{ portal_js_path }}" defer></script>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% set api_name = cli.name %}
{% set api_version = cli.version %}
{% set is_cli_page = true %}
{% set prose_only = true %}
{% set cli_parent = cli.parent_cli %}
{% set cli_install_info = {
  'slug': cli.slug,
  'install': cli.install,
  'docs_url': cli.docs.base_url if cli.docs else '',
} %}
{% include "partials/auth_panel.html" %}

<div class="detail-layout">
    {% include "partials/cli_sidebar.html" %}
    <main class="detail-content" id="main-content">
        {{ render_cli(cli, icons_path) }}
        {% include "partials/contribute_footer.html" %}
    </main>
</div>
{% endblock %}
