openapi: 3.0.0
info:
  title: Partner Manager Partners API
  version: 1.0.1
  description: Manage partner profiles, certificates, EDI document types, document flows, and deployment configurations in Anypoint Partner Manager.
servers:
- url: https://anypoint.mulesoft.com/partnermanager/partners/api/v1
- url: https://{region}.anypoint.mulesoft.com/partnermanager/partners/api/v1
  variables:
    region:
      default: eu1
      description: Region identifier for the service endpoint.
- url: https://{region}.platform.mulesoft.com/partnermanager/partners/api/v1
  variables:
    region:
      default: ca1
      description: Region identifier for the service endpoint.
security:
- bearerAuth: []
- clientAuth: []
paths:
  /organizations: {}
  /organizations/{organizationId}:
    parameters:
    - $ref: '#/components/parameters/XOrigin_organizationId_Path'
  /organizations/{organizationId}/environments:
    parameters:
    - $ref: '#/components/parameters/XOrigin_organizationId_Path'
  /organizations/{organizationId}/environments/{environmentId}:
    parameters:
    - $ref: '#/components/parameters/XOrigin_organizationId_Path'
    - $ref: '#/components/parameters/XOrigin_environmentId_Path'
  /organizations/{organizationId}/environments/{environmentId}/apmRelease:
    description: Get thet APM Release details and upgradability for this environment.
    get:
      description: Get apmRelease
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  title: apm-release
                  apmRelease:
                    releaseVersion: 2.20.7
                    releaseDate: 2024-11-05 00:00:00+00:00
                    envShouldUpgrade: Y
                    envMustUpgrade: N
                    isUpgradeRunning: N
                    templateTypeVersions:
                    - sequenceId: 6043
                      templateType: endpoint
                      templateTypeVersion: 3.11.8
                      releaseDate: 2024-11-05 00:00:00+00:00
                    - sequenceId: 6044
                      templateType: dps
                      templateTypeVersion: 3.11.9
                      releaseDate: 2024-11-05 00:00:00+00:00
                    - sequenceId: 6045
                      templateType: apir
                      templateTypeVersion: 1.20.3
                      releaseDate: 2024-11-05 00:00:00+00:00
                    isEditEndpointsActivated: Y
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidEnvironmentsByEnvironmentidApmrelease
  /organizations/{organizationId}/environments/{environmentId}/certificates:
    description: Single certificate
    get:
      description: Get Details of all the certificates saved in the environment
      parameters:
      - name: as2Only
        required: false
        in: query
        schema:
          type: string
          default: 'false'
        description: The as2Only query parameter.
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  title: certificates-example
                  certificates:
                  - id: a8000e40-4058-4cd0-9517-0d15869d3241
                    certificateType: PEM
                    name: idkey124
                    csmSecret:
                      secretType: IdentityKeyPEM
                      secretId: f2d74eef-d0a3-48a6-a1e8-334248507087
                      secretGroupId: 756f3961-b1ac-44f0-ab26-c478f8876083
                      grantResponse:
                        path: sharedSecrets/f2d74eef-d0a3-48a6-a1e8-334248507087
                        accessGrant: ''
                    authority: N/A
                    serialNumber: N/A
                    startDate: 2024-11-21 20:42:08+00:00
                    expires: 2123-11-22 00:00:00+00:00
                    partnerId: 5368b020-6cb6-496b-b3e5-f2ac77dc8996
                    usedInEndpoints: 0
                    flowDependencyCount: 0
                    usedInAs2: false
                  - id: 3231a310-8d91-4373-b47b-299d34a1f36b
                    certificateType: PEM
                    name: IdentityKey-0
                    csmSecret:
                      secretType: IdentityKeyPEM
                      secretId: f0c4b94b-eca8-4102-aa7d-d0d816ac5211
                      secretGroupId: 756f3961-b1ac-44f0-ab26-c478f8876083
                      grantResponse:
                        path: sharedSecrets/f0c4b94b-eca8-4102-aa7d-d0d816ac5211
                        accessGrant: ''
                    authority: N/A
                    serialNumber: N/A
                    startDate: 2025-01-07 09:05:51+00:00
                    expires: 2124-01-07 00:00:00+00:00
                    partnerId: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                    usedInEndpoints: 0
                    flowDependencyCount: 0
                    usedInAs2: false
                  - id: 24ca549f-eaae-4fef-97e3-420a1b632ae7
                    certificateType: PEM
                    name: host
                    csmSecret:
                      secretType: Certificate
                      secretId: 0d36051d-dcd5-4797-957d-978c72d4446b
                      secretGroupId: 756f3961-b1ac-44f0-ab26-c478f8876083
                      grantResponse:
                        path: certificates/0d36051d-dcd5-4797-957d-978c72d4446b
                        accessGrant: ''
                    authority: Host Business
                    serialNumber: 6718E84A
                    startDate: 2024-10-23 12:12:58+00:00
                    expires: 2025-10-23 12:12:58+00:00
                    partnerId: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                    usedInEndpoints: 0
                    flowDependencyCount: 0
                    usedInAs2: false
                  - id: d4cbe3b2-eee4-4a88-9a82-9c3a7be4cc0c
                    certificateType: PEM
                    name: IdentityKey-3
                    csmSecret:
                      secretType: IdentityKeyPEM
                      secretId: ebdcd288-52ed-4e72-803b-66b2821a2299
                      secretGroupId: 756f3961-b1ac-44f0-ab26-c478f8876083
                      grantResponse:
                        path: sharedSecrets/ebdcd288-52ed-4e72-803b-66b2821a2299
                        accessGrant: ''
                    authority: N/A
                    serialNumber: N/A
                    startDate: 2024-11-21 20:35:21+00:00
                    expires: 2123-11-22 00:00:00+00:00
                    partnerId: 5368b020-6cb6-496b-b3e5-f2ac77dc8996
                    usedInEndpoints: 0
                    flowDependencyCount: 0
                    usedInAs2: false
                  - id: 9130761c-8bd9-483d-99b0-3eb3040f7e96
                    certificateType: PEM
                    name: partner1
                    csmSecret:
                      secretType: Certificate
                      secretId: aa3f173d-892d-4fa6-b9b5-4afa3ca7bfba
                      secretGroupId: 756f3961-b1ac-44f0-ab26-c478f8876083
                      grantResponse:
                        path: certificates/aa3f173d-892d-4fa6-b9b5-4afa3ca7bfba
                        accessGrant: ''
                    authority: Partner
                    serialNumber: .inf
                    startDate: 2024-10-23 12:05:21+00:00
                    expires: 2025-10-23 12:05:21+00:00
                    partnerId: 5368b020-6cb6-496b-b3e5-f2ac77dc8996
                    usedInEndpoints: 0
                    flowDependencyCount: 0
                    usedInAs2: true
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidEnvironmentsByEnvironmentidCertificates
  /organizations/{organizationId}/environments/{environmentId}/customAttributes:
    description: Gets all custom attributes defined in environment
    get:
      description: Get all customAttributes
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  title: custom-attributes
                  customAttributes:
                  - id: 3b9fcc46-5f3c-4c38-886e-3e808bb88277
                    alias: orderAmount
                    label: Order Amount
                    searchable: true
                  - id: cc550191-e949-4f94-828c-3b49b0f3e22d
                    alias: orderNumber
                    label: Order Number
                    searchable: true
              example: {}
      operationId: getOrganizationsByOrganizationidEnvironmentsByEnvironmentidCustomattributes
    post:
      description: Create a new customAttribute
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated2'
        description: The customAttributes data to create.
      responses:
        '201':
          description: Resource created successfully.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '400':
          description: Bad request. The request was malformed or contains invalid parameters.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: createOrganizationsByOrganizationidEnvironmentsByEnvironmentidCustomattributes
  /organizations/{organizationId}/environments/{environmentId}/customAttributes/{customAttributeId}:
    description: Single customAttribute
    get:
      description: Get customAttributes
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - name: customAttributeId
        required: true
        in: path
        schema:
          type: string
        description: The customAttribute ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  simple-custom-attribute-create:
                    id: f480b96d-b531-4e0d-924e-4e5a50543e15
                    alias: claimAmount
                    label: Claim Amount
                    searchable: true
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidEnvironmentsByEnvironmentidCustomattributesByCustomattributeid
    delete:
      description: Delete customAttribute
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - name: customAttributeId
        required: true
        in: path
        schema:
          type: string
        description: The customAttribute ID to identify the target resource.
      responses:
        '204':
          description: Operation completed successfully with no content returned.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: deleteOrganizationsByOrganizationidEnvironmentsByEnvironmentidCustomattributesByCustomattributeid
    patch:
      description: Patches customAttribute
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - name: customAttributeId
        required: true
        in: path
        schema:
          type: string
        description: The customAttribute ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated2'
        description: The customAttributes data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '204':
          description: Operation completed successfully with no content returned.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '400':
          description: Bad request. The request was malformed or contains invalid parameters.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: patchOrganizationsByOrganizationidEnvironmentsByEnvironmentidCustomattributesByCustomattributeid
  /organizations/{organizationId}/environments/{environmentId}/deployments:
    post:
      description: Creates new Deployment config
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated6'
        description: The deployments data to create.
      responses:
        '202':
          description: Request accepted for processing.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEntityResponse'
              example: &id007
                id: f4ace7b9-6da1-4322-8852-823532633c18
                message: ''
      operationId: createOrganizationsByOrganizationidEnvironmentsByEnvironmentidDeployments
    get:
      description: Get Deployment configurations
      parameters:
      - name: formatVersion
        in: query
        schema:
          type: string
        description: The formatVersion query parameter.
      - name: receivingEndpointId
        in: query
        schema:
          type: string
        description: The receivingEndpoint ID query parameter.
      - name: toPartner
        in: query
        schema:
          type: string
        description: The toPartner query parameter.
      - name: excludeSchemasAndMappings
        in: query
        schema:
          type: boolean
        description: The excludeSchemasAndMappings query parameter.
      - name: formatType
        in: query
        schema:
          type: string
        description: The formatType query parameter.
      - name: status
        in: query
        schema:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          - DRAFT
          default: ACTIVE
        description: The status query parameter.
      - name: excludeAuditHistory
        in: query
        schema:
          type: boolean
        description: The excludeAuditHistory query parameter.
      - name: fromPartner
        in: query
        schema:
          type: string
        description: The fromPartner query parameter.
      - name: docType
        in: query
        schema:
          type: string
        description: The docType query parameter.
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  deployments:
                  - id: 73fa7761-43c3-4d52-88c3-890e1b64b8aa
                    name: X12-v004050-100
                    status: ACTIVE
                    configId: 84f1d635-7787-4309-92f9-434fc44fc2aa
                    direction: INBOUND
                    version: 20
                    partnerToId: f01227a5-5878-4440-bd4b-111963693d26
                    partnerFromId: 9b57e6c3-4a84-4ed9-9153-12dbf8acc060
                    receivingEndpoint:
                      id: 0ea9f199-79af-4e36-a7f7-e738349b96fb
                      name: SFTPRECEIVE
                      description: sftp
                      environmentId: 73c2911c-3959-4755-8707-3f8b9d0b7e42
                      endpointTypeId: 3bcc65e5-040b-47eb-8fc7-27c89225f1bc
                      partnerId: 9b57e6c3-4a84-4ed9-9153-12dbf8acc060
                      deployment:
                        id: d3058907-fff9-49f0-9bc2-9097f75236ac
                        status: ACTIVE
                        name: inbound-sftp-48466d55-adb6-43dc-853a-9ae9eededcfc
                        runtimeDeploymentId: 1030
                        port: 19090
                      endpointRole: RECEIVE
                      endpointType: sftp
                      config:
                        configName: sftp
                        serverAddress: localhost
                        serverPort: 22
                        authMode:
                          authType: BASIC
                          csmSecret:
                            secretId: 6584ec3e-90c3-4b1b-9f45-76a1d22fc560
                            secretGroupId: 6e128fa8-dba2-416e-a0fb-4773c3bbe729
                            grantResponse:
                              path: sharedSecrets/6584ec3e-90c3-4b1b-9f45-76a1d22fc560
                              accessGrant: QWNjZXNzSWQ9SWVQYVFKRnkyTG9zNHE3UFBBdnFFcWt2QiZFeHBpcmVzPTI1MzgxNTj3MDAmU2lnbmF0dXJlPXZhdWx0OnYxOldnSlg0NFk1c1Z1NTVzeGxETkpEQ2hOQ0NWazIveDRpZ2U3T1hKalRNYzBVZTV0TU1JeWZmSHNLbHp2WXJWenZ0N3RpdWVyNW9zUW94RHlLRGRreEF3PT0=
                          username: userExample
                          password: 6584ec3e-90c3-4b1b-9f45-76a1d22f0000
                        path: /sftpuser/SFTP
                        fileAge: 1
                        pollingFrequency: 100
                        sizeCheckWaitTime: 1
                    targetEndpoint:
                      id: 62169839-fad7-4a9a-978f-dd4c3c4030a6
                      name: SFTPSEND
                      description: sftp
                      environmentId: 73c2911c-3959-4755-8707-3f8b9d0b7e42
                      endpointTypeId: 3bcc65e5-040b-47eb-8fc7-27c89225f1bc
                      partnerId: f01227a5-5878-4440-bd4b-111963693d26
                      deployment:
                        id: 66966155-f0c9-49fa-8353-3cb98c5a2fce
                        status: ACTIVE
                        name: outbound-sftp-48466d55-adb6-43dc-853a-9ae9eededcfc
                        runtimeDeploymentId: 1029
                        port: 19090
                      endpointRole: SEND
                      endpointType: sftp
                      config:
                        configName: sftp
                        serverAddress: localhost
                        serverPort: 22
                        authMode:
                          authType: BASIC
                          csmSecret:
                            secretId: 9132af99-f438-46a2-804a-b1f8b39ec8bb
                            secretGroupId: 6e128fa8-dba2-416e-a0fb-4773c3bbe729
                            grantResponse:
                              path: sharedSecrets/9132af99-f438-46a2-804a-b1f8b39ec8bb
                              accessGrant: QWNjZXNzSWQ9SWVQYVFKRnkyTG9zNHE3UFBBdnFFcWt2QiZFeHBpcmVzPTI1MzgxNTj3MDAmU2lnbmF0dXJlPXZhdWx0OnYxOldnSlg0NFk1c1Z1NTVzeGxETkpEQ2hOQ0NWazIveDRpZ2U3T1hKalRNYzBVZTV0TU1JeWZmSHNLbHp2WXJWenZ0N3RpdWVyNW9zUW94RHlLRGRreEF3PT0=
                          username: userExample
                          password: 9132af99-f438-46a2-804a-b1f8b39e0000
                        path: /sftpuser/SFTP/received
                        fileAge: 1
                        pollingFrequency: 1
                        sizeCheckWaitTime: 1
                    sourceDocType:
                      id: faf5a97a-49cc-4d33-a81f-889da48f29c4
                      name: X12-v004050-100
                      isStandard: true
                      ediDocumentTypeId: c88d57be-1f5b-4078-baa4-690b6845290e
                      baseType:
                        id: c88d57be-1f5b-4078-baa4-690b6845290e
                        documentName: '100'
                        label: '100'
                        schemaPath: /schemas/x12/4050/100.esl
                        description: ''
                        formatType: X12
                        version: v004050
                    targetDocType:
                      id: 858fb257-0d81-47e4-9017-ebc31f87adce
                      name: JSON-V1-JSON
                      isStandard: true
                      ediDocumentTypeId: 64c8a31b-5748-49d4-9193-55ba3e6cd99b
                      baseType:
                        id: 64c8a31b-5748-49d4-9193-55ba3e6cd99b
                        documentName: JSON
                        label: JSON
                        schemaPath: ''
                        description: JSONSchema
                        formatType: JSON
                        version: V1
                    documentMapping:
                    - id: 28019ccd-303b-4b71-b649-cef58a58740b
                      mappingType: DWL_FILE
                      mappingContent: data:application/octet-stream;base64,JWR3IDIuMA0Kb3V0cHV0IGFwcGxpY2F0aW9uL2pzb24NCi0tLQ0Kew0KCSJPYmplY3QiOiBwYXlsb2FkLlRyYW5zYWN0aW9uU2V0cy52MDA0MDUwWyc4MjAnXQ0KfQ0K
                      mappingSourceRef: 820_v004050_to_Json.dwl
                    comment: Updated
                    messageStatus: ''
                    receivingAckConfig:
                      ackConfigType: X12
                      require997: true
                      generate999: true
              example: {}
      operationId: getOrganizationsByOrganizationidEnvironmentsByEnvironmentidDeployments
  /organizations/{organizationId}/environments/{environmentId}/deployments/{deploymentId}:
    description: Single deployment
    get:
      description: Get specific deployment details using deploymentId
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_deploymentId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  simpleDeployment:
                    id: 73fa7761-43c3-4d52-88c3-890e1b64b8aa
                    name: X12-v004050-100
                    status: ACTIVE
                    configId: 84f1d635-7787-4309-92f9-434fc44fc2aa
                    direction: INBOUND
                    version: 20
                    partnerToId: f01227a5-5878-4440-bd4b-111963693d26
                    partnerFromId: 9b57e6c3-4a84-4ed9-9153-12dbf8acc060
                    receivingEndpoint:
                      id: 0ea9f199-79af-4e36-a7f7-e738349b96fb
                      name: SFTPRECEIVE
                      description: sftp
                      environmentId: 73c2911c-3959-4755-8707-3f8b9d0b7e42
                      endpointTypeId: 3bcc65e5-040b-47eb-8fc7-27c89225f1bc
                      partnerId: 9b57e6c3-4a84-4ed9-9153-12dbf8acc060
                      deployment:
                        id: d3058907-fff9-49f0-9bc2-9097f75236ac
                        status: ACTIVE
                        name: inbound-sftp-48466d55-adb6-43dc-853a-9ae9eededcfc
                        runtimeDeploymentId: 1030
                        port: 19090
                      endpointRole: RECEIVE
                      endpointType: sftp
                      config:
                        configName: sftp
                        serverAddress: localhost
                        serverPort: 22
                        authMode:
                          authType: BASIC
                          csmSecret:
                            secretId: 6584ec3e-90c3-4b1b-9f45-76a1d22fc560
                            secretGroupId: 6e128fa8-dba2-416e-a0fb-4773c3bbe729
                            grantResponse:
                              path: sharedSecrets/6584ec3e-90c3-4b1b-9f45-76a1d22fc560
                              accessGrant: QWNjZXNzSWQ9SWVQYVFKRnkyTG9zNHE3UFBBdnFFcWt2QiZFeHBpcmVzPTI5LDM4MTU5NTAwMCZTaWduYXR1cmU9dmF1bDp2MTpDYWNUYTFXVUZUNGJwR1VmeUpvdzArVzhQd1ZPTXZGdTNNTllDY2ZwWFVmc3JlVyt4MlUwRTV5d2JlNFpqRXJKck5iZ3BOM2MvNmJ6MkJZZkF3MUR3PT0=
                            jsonDetails: ''
                          username: username
                          password: 6584ec3e-90c3-4b1b-9f45-76a1d22f0000
                        path: /sftpuser/SFTP
                        fileAge: 1
                        pollingFrequency: 100
                        sizeCheckWaitTime: 1
                        movedPath: ''
                    targetEndpoint:
                      id: 62169839-fad7-4a9a-978f-dd4c3c4030a6
                      name: SFTPSEND
                      description: sftp
                      environmentId: 73c2911c-3959-4755-8707-3f8b9d0b7e42
                      endpointTypeId: 3bcc65e5-040b-47eb-8fc7-27c89225f1bc
                      partnerId: f01227a5-5878-4440-bd4b-111963693d26
                      deployment:
                        id: 66966155-f0c9-49fa-8353-3cb98c5a2fce
                        status: ACTIVE
                        name: outbound-sftp-48466d55-adb6-43dc-853a-9ae9eededcfc
                        runtimeDeploymentId: 1029
                        port: 19090
                      endpointRole: SEND
                      endpointType: sftp
                      config:
                        configName: sftp
                        serverAddress: localhost
                        serverPort: 22
                        authMode:
                          authType: BASIC
                          csmSecret:
                            secretId: 9132af99-f438-46a2-804a-b1f8b39ec8bb
                            secretGroupId: 6e128fa8-dba2-416e-a0fb-4773c3bbe729
                            grantResponse:
                              path: sharedSecrets/9132af99-f438-46a2-804a-b1f8b39ec8bb
                              accessGrant: QWNjZXNzSWQ9a3ZoYmFzbTBWMkNleHBPOEhPZGhyOEk3OSZFeHBpcmVzPTI5LDM4MTU5NTAwMCZTaWduYXR1cmU9dmF1bDp2MTpDYWNUYTFXVUZUNGJwR1VmeUpvdzArVzhQd1ZPTXZGdTNNTllDY2ZpWUFlOXU4RXlFM2RjMDNBYkUvNmJ6MkJZZkF3MUR3PT0=
                            jsonDetails: ''
                          username: username
                          password: 9132af99-f438-46a2-804a-b1f8b39e0000
                        path: /sftpuser/SFTP/received
                        fileAge: 1
                        pollingFrequency: 1
                        sizeCheckWaitTime: 1
                        movedPath: ''
                    sourceDocType:
                      id: faf5a97a-49cc-4d33-a81f-889da48f29c4
                      name: X12-v004050-100
                      isStandard: true
                      ediDocumentTypeId: c88d57be-1f5b-4078-baa4-690b6845290e
                      baseType:
                        id: c88d57be-1f5b-4078-baa4-690b6845290e
                        documentName: '100'
                        label: '100'
                        schemaPath: /schemas/x12/4050/100.esl
                        description: ''
                        formatType: X12
                        version: v004050
                    targetDocType:
                      id: 858fb257-0d81-47e4-9017-ebc31f87adce
                      name: JSON-V1-JSON
                      isStandard: true
                      ediDocumentTypeId: 64c8a31b-5748-49d4-9193-55ba3e6cd99b
                      baseType:
                        id: 64c8a31b-5748-49d4-9193-55ba3e6cd99b
                        documentName: JSON
                        label: JSON
                        schemaPath: ''
                        description: JSONSchema
                        formatType: JSON
                        version: V1
                    documentMapping:
                    - id: 28019ccd-303b-4b71-b649-cef58a58740b
                      mappingType: DWL_FILE
                      mappingContent: data:application/octet-stream;base64,JWR3IDIuMA0Kb3V0cHV0IGFwcGxpY2F0aW9uL2pzb24NCi0tLQ0Kew0KCSJPYmplY3QiOiBwYXlsb2FkLlRyYW5zYWN0aW9uU2V0cy52MDA0MDUwWyc4MjAnXQ0KfQ0K
                      mappingSourceRef: 820_v004050_to_Json.dwl
                    comment: Updated
                    messageStatus: ''
                    receivingAckConfig:
                      ackConfigType: X12
                      require997: true
                      generate999: true
                      reportNonFatalErrorsInAck: true
                      reportSegmentDetails: true
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidEnvironmentsByEnvironmentidDeploymentsByDeploymentid
    patch:
      description: Update deployment details
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_deploymentId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated6'
        description: The deployments data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '204':
          description: Operation completed successfully with no content returned.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '400':
          description: Bad request. The request was malformed or contains invalid parameters.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: patchOrganizationsByOrganizationidEnvironmentsByEnvironmentidDeploymentsByDeploymentid
  /organizations/{organizationId}/environments/{environmentId}/documentflows:
    description: The collection of documentflows
    get:
      description: Get all documents
      parameters:
      - name: name
        in: query
        schema:
          type: string
        description: The name query parameter.
      - name: pageSize
        description: Limit the elements to be fetched a page
        required: false
        in: query
        schema:
          type: integer
          default: 100
      - name: description
        in: query
        schema:
          type: string
        description: The description query parameter.
      - name: page
        description: The page to be fetched
        required: false
        in: query
        schema:
          type: integer
          default: 1
      - name: searchString
        in: query
        schema:
          type: string
        description: The searchString query parameter.
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      responses:
        '200':
          description: Successful operation.
          headers:
            X-TotalRecordCount:
              description: the count of total elements in the query
              schema:
                type: integer
            X-TotalPages:
              description: The count of total pages in the query
              schema:
                type: integer
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  documentFlow:
                  - id: 769d59e7-311c-4869-babc-46dc0f0deb68
                    name: X12-4010-850
                    direction: INBOUND
                    partnerFromId: a93f9cfa-3267-40dd-8940-7713aaf0be21
                    partnerToId: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                    createdAt: 2025-01-07 09:04:40+00:00
                    createdBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                    updatedAt: 2025-01-13 05:45:07+00:00
                    updatedBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                    configurations: []
                    last_deploy_status: ACTIVE
                    last_deploy_message: ''
                  - id: 6ebdd4c7-8cc6-470e-bafe-e240dbbdfd7d
                    name: X12-3040-125
                    direction: INBOUND
                    partnerFromId: 5368b020-6cb6-496b-b3e5-f2ac77dc8996
                    partnerToId: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                    createdAt: 2024-11-21 19:50:13+00:00
                    createdBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                    updatedAt: 2024-11-21 19:51:44+00:00
                    updatedBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                    configurations: []
                    last_deploy_status: ACTIVE
                    last_deploy_message: ''
                  - id: 8ec7622c-b688-4c78-a9ce-f7ab1f3e4479
                    name: claim-json
                    direction: INBOUND
                    partnerFromId: 5368b020-6cb6-496b-b3e5-f2ac77dc8996
                    partnerToId: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                    createdAt: 2024-10-28 19:57:29+00:00
                    createdBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                    updatedAt: 2024-11-20 10:22:01+00:00
                    updatedBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                    configurations: []
                    last_deploy_status: ACTIVE
                    last_deploy_message: ''
              example: {}
      operationId: getOrganizationsByOrganizationidEnvironmentsByEnvironmentidDocumentflows
    post:
      description: Create a new documentflow
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated7'
        description: The documentflows data to create.
      responses:
        '201':
          description: Resource created successfully.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '400':
          description: Bad request. The request was malformed or contains invalid parameters.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: createOrganizationsByOrganizationidEnvironmentsByEnvironmentidDocumentflows
  /organizations/{organizationId}/environments/{environmentId}/documentflows/{documentflowId}:
    description: Single documentflow
    patch:
      description: "Post APM release 2.21.0, Message flows can be created with or without identifier based routing.\n\r Example **DocumentFlowWithGranularRouting** depicts flow with identifier based routing where an identifier from host and another identifier from partner profile is provided for message routing.\n\r Example **DocumentFlowWithOutGranularRouting** depicts flow without identifier based routing, that flow accepts any of the configured identifiers for message flow routing."
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_documentflowId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated7'
        description: The documentflows data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '204':
          description: Operation completed successfully with no content returned.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '400':
          description: Bad request. The request was malformed or contains invalid parameters.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: patchOrganizationsByOrganizationidEnvironmentsByEnvironmentidDocumentflowsByDocumentflowid
    get:
      description: Get documentflows
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_documentflowId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  DocumentFlowWithGranularRouting:
                    id: 769d59e7-311c-4869-babc-46dc0f0deb68
                    name: X12-4010-850
                    direction: INBOUND
                    partnerFromId: a93f9cfa-3267-40dd-8940-7713aaf0be21
                    partnerToId: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                    configurations:
                    - id: 78a8d3b5-bcf4-4765-a9b2-7318414e3553
                      documentFlowId: 769d59e7-311c-4869-babc-46dc0f0deb68
                      environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                      status: DRAFT
                      version: 10
                      receivingEndpointId: be45f759-d96b-45e6-af63-42e0b305b726
                      targetEndpointId: 9f11119a-5fc4-495d-9a91-a348b651065f
                      sourceDocTypeId: faaef438-b681-4c1c-b4b2-6f9788356595
                      targetDocTypeId: 88089257-7b46-4506-a503-e5e72a267f29
                      documentMapping:
                      - id: d86c68fa-2399-4957-958a-0a53a23d4b6a
                        mappingType: DWL_FILE
                        mappingSourceRef: input-to-json.dwl
                        isComplete: false
                      partnerIdentifiersConfig:
                        useAllHostIdentifiers: false
                        useAllPartnerIdentifiers: false
                        identifiers:
                        - configId: 78a8d3b5-bcf4-4765-a9b2-7318414e3553
                          identifierId: 2a45590e-ace2-4dec-bfd5-964c2c73cb8b
                          identifierTypeId: ce7e0612-8913-4bac-a99b-7f7c6c8f456f
                          identifierTypeName: X12-ISA
                          identifierCode: '01'
                          identifierValue: '1234567'
                          partnerId: a93f9cfa-3267-40dd-8940-7713aaf0be21
                          flowSection: RECEIVE
                        - configId: 78a8d3b5-bcf4-4765-a9b2-7318414e3553
                          identifierId: 63c3ec03-5a91-4a89-a1ef-3611b40606d9
                          identifierTypeId: ce7e0612-8913-4bac-a99b-7f7c6c8f456f
                          identifierTypeName: X12-ISA
                          identifierCode: '01'
                          identifierValue: STAR
                          partnerId: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                          flowSection: RECEIVE
                    runtime_deploy_status: ACTIVE
                    runtime_deploy_id: 83fbc2de-9078-4c59-bc35-bde9c769ce6e
                    last_deploy_status: ACTIVE
                    last_deploy_message: ''
                  DocumentFlowWithOutGranularRouting:
                    id: 769d59e7-311c-4869-babc-46dc0f0deb68
                    name: X12-4010-850
                    direction: INBOUND
                    partnerFromId: a93f9cfa-3267-40dd-8940-7713aaf0be21
                    partnerToId: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                    configurations:
                    - id: 78a8d3b5-bcf4-4765-a9b2-7318414e3553
                      documentFlowId: 769d59e7-311c-4869-babc-46dc0f0deb68
                      environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                      status: DRAFT
                      version: 10
                      receivingEndpointId: be45f759-d96b-45e6-af63-42e0b305b726
                      targetEndpointId: 9f11119a-5fc4-495d-9a91-a348b651065f
                      sourceDocTypeId: faaef438-b681-4c1c-b4b2-6f9788356595
                      targetDocTypeId: 88089257-7b46-4506-a503-e5e72a267f29
                      documentMapping:
                      - id: d86c68fa-2399-4957-958a-0a53a23d4b6a
                        mappingType: DWL_FILE
                        mappingSourceRef: input-to-json.dwl
                        isComplete: false
                      partnerIdentifiersConfig:
                        useAllHostIdentifiers: true
                        useAllPartnerIdentifiers: true
                        identifiers: []
                    runtime_deploy_status: ACTIVE
                    runtime_deploy_id: 83fbc2de-9078-4c59-bc35-bde9c769ce6e
                    last_deploy_status: ACTIVE
                    last_deploy_message: ''
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidEnvironmentsByEnvironmentidDocumentflowsByDocumentflowid
    delete:
      description: Delete documentflow
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_documentflowId_Path'
      responses:
        '204':
          description: Operation completed successfully with no content returned.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: deleteOrganizationsByOrganizationidEnvironmentsByEnvironmentidDocumentflowsByDocumentflowid
  /organizations/{organizationId}/environments/{environmentId}/documentflows/{documentflowId}/mappings:
    description: The collection of mappings
    get:
      description: Get all mappings
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_documentflowId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  documentFlowMappings:
                  - id: f8cea8dd-8a24-4063-8e68-0622af74f7b5
                    mappingType: DWL_FILE
                    mappingContent: JWR3IDIuMApvdXRwdXQgYXBwbGljYXRpb24vanNvbgotLS0KcGF5bG9hZA==
                    mappingSourceRef: melora-claim.dwl
                    isComplete: true
                  - id: d431727f-a073-4743-979f-9326609f96ba
                    mappingType: DWL_FILE
                    mappingContent: JWR3IDIuMApvdXRwdXQgYXBwbGljYXRpb24vanNvbgotLS0KcGF5bG9hZA==
                    mappingSourceRef: melora-claim.dwl
                    isComplete: true
              example: {}
      operationId: getOrganizationsByOrganizationidEnvironmentsByEnvironmentidDocumentflowsByDocumentflowidMappings
    post:
      description: Create a new mapping
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_documentflowId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The mappings data to create.
      responses:
        '201':
          description: Resource created successfully.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '400':
          description: Bad request. The request was malformed or contains invalid parameters.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: createOrganizationsByOrganizationidEnvironmentsByEnvironmentidDocumentflowsByDocumentflowidMappings
  /organizations/{organizationId}/environments/{environmentId}/documentflows/{documentflowId}/mappings/{mappingsId}:
    description: Single mapping
    get:
      description: Get mappings
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_documentflowId_Path'
      - name: mappingsId
        required: true
        in: path
        schema:
          type: string
        description: The mappings ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  simpleDocumentFlowMapping:
                    id: d431727f-a073-4743-979f-9326609f96ba
                    mappingType: DWL_FILE
                    mappingContent: JWR3IDIuMApvdXRwdXQgYXBwbGljYXRpb24vanNvbgotLS0KcGF5bG9hZA==
                    mappingSourceRef: melora-claim.dwl
                    isComplete: true
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidEnvironmentsByEnvironmentidDocumentflowsByDocumentflowidMappingsByMappingsid
    put:
      description: Replace mapping
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_documentflowId_Path'
      - name: mappingsId
        required: true
        in: path
        schema:
          type: string
        description: The mappings ID to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
        description: The mappings data to update.
      responses:
        '204':
          description: Operation completed successfully with no content returned.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '400':
          description: Bad request. The request was malformed or contains invalid parameters.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: updateOrganizationsByOrganizationidEnvironmentsByEnvironmentidDocumentflowsByDocumentflowidMappingsByMappingsid
  /organizations/{organizationId}/environments/{environmentId}/documentflows/{documentflowId}/resolvedview:
    description: Single resolvedview
    get:
      description: Get all resolvedview
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_documentflowId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  resolvedView:
                    value:
                      id: 8ec7622c-b688-4c78-a9ce-f7ab1f3e4479
                      name: claim-json
                      direction: INBOUND
                      partnerFromId: 5368b020-6cb6-496b-b3e5-f2ac77dc8996
                      partnerToId: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                      createdAt: 2024-10-28 19:57:29+00:00
                      createdBy:
                        userId: 30dce079-0d9d-4793-be00-781d6a6429e2
                        firstName: Ravi
                        lastName: Sharma
                        userName: ravisf
                      updatedAt: 2024-11-20 10:22:01+00:00
                      updatedBy:
                        userId: 30dce079-0d9d-4793-be00-781d6a6429e2
                        firstName: Ravi
                        lastName: Sharma
                        userName: ravisf
                      configurations:
                      - id: 6d6a99a8-efa1-4aea-85d6-5ad8138b154e
                        documentFlowId: 8ec7622c-b688-4c78-a9ce-f7ab1f3e4479
                        environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                        status: DRAFT
                        version: 5
                        receivingEndpointId: fc0b648b-27c9-4663-8351-83841a582404
                        targetEndpointId: 5c1a5997-8af8-4453-a936-349b02fba7ab
                        sourceDocTypeId: 896584fa-cb8a-4051-bc98-1287969b3ef1
                        targetDocTypeId: 88089257-7b46-4506-a503-e5e72a267f29
                        documentMapping:
                        - id: d431727f-a073-4743-979f-9326609f96ba
                          mappingType: DWL_FILE
                          mappingSourceRef: x12-json.dwl
                          isComplete: false
                        receivingEndpoint:
                          id: fc0b648b-27c9-4663-8351-83841a582404
                          name: http-in
                          description: ''
                          environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                          endpointTypeId: aa1fd35b-50af-47fe-91bb-48a7ed4ab685
                          partnerId: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                          usedInDeployments: 2
                          flowDependencyCount: 0
                          usedInConfigurations: 0
                          deployment:
                            id: 01752b3b-9d07-4505-b57f-04070fbf12ad
                            status: ACTIVE
                            name: b2b-inbound-http-yoky
                            runtimeDeploymentId: 0
                            ports:
                            - port: 10092
                            runtimeType: CLOUDHUB
                            templateTypeVersion: 3.11.8
                            templateTypeVersionSeqId: 6043
                          endpointRole: RECEIVE
                          supportedFormatTypes: ALL
                          visibility: EXTERNAL
                          endpointType: http
                          deployedConfig:
                            protocol: HTTPS
                            path: /api
                            allowedMethods: POST
                            persistentConnections: false
                            connectionIdleTimeout: 30000
                            responseTimeout: 15000
                            retryInterval: 30
                            retryIntervalUnit: SECONDS
                            maxRetryAttempts: 3
                            allowStorageApiUIConnection: false
                            tlsContext:
                              insecure: true
                              needCertificate: true
                            vpc:
                              enabled: false
                            manageWithApiManager: false
                            autoDiscoveryId: '3921362'
                            configName: http
                            serverAddress: b2b-inbound-http-yoky.us-e1.cloudhub.io
                            serverPort: 443
                            authMode:
                              authType: NONE
                          config:
                            protocol: HTTPS
                            path: /api
                            allowedMethods: POST
                            persistentConnections: false
                            connectionIdleTimeout: 30000
                            responseTimeout: 15000
                            retryInterval: 30
                            retryIntervalUnit: SECONDS
                            maxRetryAttempts: 3
                            allowStorageApiUIConnection: false
                            tlsContext:
                              insecure: true
                              needCertificate: true
                            vpc:
                              enabled: false
                            manageWithApiManager: false
                            autoDiscoveryId: '3921362'
                            configName: http
                            serverAddress: b2b-inbound-http-yoky.us-e1.cloudhub.io
                            serverPort: 443
                            authMode:
                              authType: NONE
                          createdAt: 2024-11-13 09:49:11+00:00
                          createdBy:
                            userId: 30dce079-0d9d-4793-be00-781d6a6429e2
                            firstName: Ravi
                            lastName: Sharma
                            userName: ravisf
                          updatedAt: 2024-11-21 19:53:07+00:00
                          updatedBy:
                            userId: 30dce079-0d9d-4793-be00-781d6a6429e2
                            firstName: Ravi
                            lastName: Sharma
                            userName: ravisf
                          isComplete: true
                          dependenciesInfo: []
                          needsDeployment: false
                          partner:
                            id: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                            name: Host
                            status:
                              id: fef57a59-baa9-4c33-a715-0861d2a2a61b
                              status: ACTIVE
                            environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                            hostFlag: true
                            partnerType: HOST
                            isComplete: true
                        targetEndpoint:
                          id: 5c1a5997-8af8-4453-a936-349b02fba7ab
                          name: HTTPS-Inbound-Target-1
                          description: ''
                          environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                          endpointTypeId: aa1fd35b-50af-47fe-91bb-48a7ed4ab685
                          partnerId: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                          usedInDeployments: 2
                          flowDependencyCount: 0
                          usedInConfigurations: 0
                          deployment:
                            id: 8e96ceb8-6c1a-454a-9a76-a8863c837aff
                            status: ACTIVE
                            name: b2b-outbound-http-xmpq
                            runtimeDeploymentId: 0
                            ports:
                            - port: 10090
                            sourceQueueName: partner-manager.v2.b2b-outbound-http
                            runtimeType: CLOUDHUB
                            templateTypeVersion: 3.11.4
                            templateTypeVersionSeqId: 5727
                          endpointRole: SEND
                          supportedFormatTypes: ALL
                          visibility: INTERNAL
                          endpointType: http
                          deployedConfig:
                            protocol: HTTPS
                            path: /organizations/1993e592-e858-43b6-ac47-3519484188cd/environments/f49e24ed-b97d-4779-901a-10fab62ee637/contents
                            allowedMethods: POST
                            persistentConnections: false
                            connectionIdleTimeout: 30000
                            responseTimeout: 120000
                            retryInterval: 60
                            retryIntervalUnit: SECONDS
                            maxRetryAttempts: 3
                            allowStorageApiUIConnection: false
                            tlsContext:
                              insecure: true
                              needCertificate: false
                            manageWithApiManager: false
                            internalBrowserUrl: ''
                            configName: http
                            serverAddress: payload-storage.us-w1.cloudhub.io
                            serverPort: 443
                            authMode:
                              authType: NONE
                          config:
                            protocol: HTTPS
                            path: /organizations/1993e592-e858-43b6-ac47-3519484188cd/environments/f49e24ed-b97d-4779-901a-10fab62ee637/contents
                            allowedMethods: POST
                            persistentConnections: false
                            connectionIdleTimeout: 30000
                            responseTimeout: 120000
                            retryInterval: 60
                            retryIntervalUnit: SECONDS
                            maxRetryAttempts: 3
                            allowStorageApiUIConnection: false
                            tlsContext:
                              insecure: true
                              needCertificate: false
                            manageWithApiManager: false
                            internalBrowserUrl: ''
                            configName: http
                            serverAddress: payload-storage.us-w1.cloudhub.io
                            serverPort: 443
                            authMode:
                              authType: NONE
                          createdAt: 2024-10-28 20:09:56+00:00
                          createdBy:
                            userId: 30dce079-0d9d-4793-be00-781d6a6429e2
                            firstName: Ravi
                            lastName: Sharma
                            userName: ravisf
                          updatedAt: 2024-11-21 19:53:07+00:00
                          updatedBy:
                            userId: 30dce079-0d9d-4793-be00-781d6a6429e2
                            firstName: Ravi
                            lastName: Sharma
                            userName: ravisf
                          isComplete: true
                          dependenciesInfo: []
                          needsDeployment: false
                          partner:
                            id: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                            name: Host
                            status:
                              id: fef57a59-baa9-4c33-a715-0861d2a2a61b
                              status: ACTIVE
                            environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                            hostFlag: true
                            partnerType: HOST
                            isComplete: true
                        sourceDocType:
                          customSchemaId: 539017fc-f790-4dde-b363-658373e67fb1
                          id: 896584fa-cb8a-4051-bc98-1287969b3ef1
                          name: claim-json
                          isStandard: false
                          ediDocumentTypeId: 64c8a31b-5748-49d4-9193-55ba3e6cd99b
                          baseType:
                            id: 64c8a31b-5748-49d4-9193-55ba3e6cd99b
                            documentName: JSON
                            label: JSON
                            schemaPath: ''
                            description: JSON Schema
                            formatType: JSON
                            version: V1
                            versionLabel: V1
                            ediFormatVersionId: 6fff4fa4-05e8-49c2-a89e-38f6f9323017
                            isComplete: true
                          isComplete: false
                          documentTypeRole: RECEIVE
                          documentFlowDirection: INBOUND
                          flowDependencyCount: 0
                          messageFlowDependenciesInfo: []
                          messageDataScript: JWR3IDIuMApvdXRwdXQgYXBwbGljYXRpb24vanNvbgotLS0KewoJcGFydG5lclJlZmVyZW5jZUlkOiBwYXlsb2FkLnNlbmRlciwKCWhvc3RSZWZlcmVuY2VJZDogcGF5bG9hZC5yZWNlaXZlciBkZWZhdWx0ICJTVEFSIiwKCWJ1c2luZXNzRG9jdW1lbnRLZXk6IHBheWxvYWQuY2xhaW1JZCwKCWN1c3RvbUF0dHJpYnV0ZXM6IFsKCQl7CgkJCWFsaWFzOiAiY2xhaW1OdW1iZXIiLAoJCQl2YWx1ZXM6IFtwYXlsb2FkLmNsYWltSWQgZGVmYXVsdCAiVU5LTk9XTiJdCgl9LAoJewoJCQlhbGlhczogImNsYWltQW1vdW50IiwKCQkJdmFsdWVzOiBbcGF5bG9hZC5hbW91bnQgZGVmYXVsdCAiMCJdCgl9Cl0KfQ==
                          customAttributes:
                          - id: 3b9fcc46-5f3c-4c38-886e-3e808bb88277
                            alias: claimAmount
                            label: Claim Amount
                            searchable: true
                          - id: cc550191-e949-4f94-828c-3b49b0f3e22d
                            alias: claimNumber
                            label: Claim Number
                            searchable: true
                        targetDocType:
                          customSchemaId: baaa3b7a-3411-48e8-ad94-6c37e5475025
                          id: 88089257-7b46-4506-a503-e5e72a267f29
                          name: claim-emr
                          isStandard: false
                          ediDocumentTypeId: 64c8a31b-5748-49d4-9193-55ba3e6cd99b
                          baseType:
                            id: 64c8a31b-5748-49d4-9193-55ba3e6cd99b
                            documentName: JSON
                            label: JSON
                            schemaPath: ''
                            description: JSON Schema
                            formatType: JSON
                            version: V1
                            versionLabel: V1
                            ediFormatVersionId: 6fff4fa4-05e8-49c2-a89e-38f6f9323017
                            isComplete: true
                          isComplete: false
                          documentTypeRole: SEND
                          documentFlowDirection: INBOUND
                          flowDependencyCount: 0
                          messageFlowDependenciesInfo: []
                          customAttributes: []
                      runtime_deploy_status: ACTIVE
                      runtime_deploy_id: 582cd03f-fd4e-4770-826a-1fd749adf44e
                      last_deploy_status: ACTIVE
                      partnerFrom:
                        logo:
                          id: 5368b020-6cb6-496b-b3e5-f2ac77dc8996
                          fileName: manipal_hospital_logo.jpeg
                        identifiers:
                        - id: 2ef627d9-302f-413e-b99f-f67df52b4290
                          identifierTypeQualifierId: dacbb21c-f452-434e-985f-c8c588ebf2f2
                          status: ACTIVE
                          qualifierLabel: 01 (Duns Number)
                          typeLabel: X12 - ISA
                          code: '01'
                          value: '134652765'
                          dependencyCounts:
                            messageFlowDeployment: 0
                            messageFlowConfig: 0
                            flowDependencyCount: 0
                            identifiers: 0
                            endpoints: 0
                            certificates: 0
                          messageFlowDependenciesInfo: []
                        - id: dd7313bc-1932-477d-8e86-45cfdac9cc91
                          identifierTypeQualifierId: 5982e3de-4878-44ec-b55d-a39d60064250
                          status: ACTIVE
                          qualifierLabel: Group ID (GS)
                          typeLabel: X12 - GS
                          code: GS
                          value: '134567'
                          dependencyCounts:
                            messageFlowDeployment: 0
                            messageFlowConfig: 0
                            flowDependencyCount: 0
                            identifiers: 0
                            endpoints: 0
                            certificates: 0
                          messageFlowDependenciesInfo: []
                        - id: eaf6646e-cce2-4063-82a3-19c19502d926
                          identifierTypeQualifierId: 5217a9a0-9bc2-47cc-8803-a9c51713e9a3
                          status: ACTIVE
                          qualifierLabel: Reference Value
                          typeLabel: Reference ID
                          code: REF_ID
                          value: ACME
                          dependencyCounts:
                            messageFlowDeployment: 0
                            messageFlowConfig: 0
                            flowDependencyCount: 0
                            identifiers: 0
                            endpoints: 0
                            certificates: 0
                          messageFlowDependenciesInfo: []
                        createdAt: 2024-10-28 19:57:13+00:00
                        createdBy:
                          userId: 30dce079-0d9d-4793-be00-781d6a6429e2
                          firstName: Ravi
                          lastName: Sharma
                          userName: ravisf
                        updatedAt: 2024-11-21 19:26:29+00:00
                        updatedBy:
                          userId: 30dce079-0d9d-4793-be00-781d6a6429e2
                          firstName: Ravi
                          lastName: Sharma
                          userName: ravisf
                        protocols: []
                        standards: []
                        id: 5368b020-6cb6-496b-b3e5-f2ac77dc8996
                        name: Acme
                        status:
                          id: 244ead16-64e5-4fce-8723-0230390af8ea
                          status: ACTIVE
                        environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                        hostFlag: false
                        partnerType: PARTNER
                        isComplete: true
                      partnerTo:
                        identifiers:
                        - id: 63c3ec03-5a91-4a89-a1ef-3611b40606d9
                          identifierTypeQualifierId: dacbb21c-f452-434e-985f-c8c588ebf2f2
                          status: ACTIVE
                          qualifierLabel: 01 (Duns Number)
                          typeLabel: X12 - ISA
                          code: '01'
                          value: '23876543'
                          dependencyCounts:
                            messageFlowDeployment: 0
                            messageFlowConfig: 0
                            flowDependencyCount: 0
                            identifiers: 0
                            endpoints: 0
                            certificates: 0
                          messageFlowDependenciesInfo: []
                        - id: 0da82295-e8be-40eb-84e5-05720fd72153
                          identifierTypeQualifierId: 5217a9a0-9bc2-47cc-8803-a9c51713e9a3
                          status: ACTIVE
                          qualifierLabel: Reference Value
                          typeLabel: Reference ID
                          code: REF_ID
                          value: HOST
                          dependencyCounts:
                            messageFlowDeployment: 0
                            messageFlowConfig: 0
                            flowDependencyCount: 0
                            identifiers: 0
                            endpoints: 0
                            certificates: 0
                          messageFlowDependenciesInfo: []
                        createdAt: 2024-10-25 10:40:14+00:00
                        createdBy:
                          userId: 30dce079-0d9d-4793-be00-781d6a6429e2
                          firstName: Ravi
                          lastName: Sharma
                          userName: ravisf
                        updatedAt: 2024-10-25 10:40:14+00:00
                        updatedBy: ''
                        protocols: []
                        standards: []
                        id: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                        name: Host
                        status:
                          id: fef57a59-baa9-4c33-a715-0861d2a2a61b
                          status: ACTIVE
                        environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                        hostFlag: true
                        partnerType: HOST
                        isComplete: true
                      deployments:
                      - deploymentId: 582cd03f-fd4e-4770-826a-1fd749adf44e
                        deployedBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                        deployedAt: 2024-11-21 06:45:18+00:00
                        deploymentStatus: ACTIVE
                        deploymentComment: Deployment triggered by endpoint update
                        documentFlowConfigId: 6d6a99a8-efa1-4aea-85d6-5ad8138b154e
                        documentFlowId: 8ec7622c-b688-4c78-a9ce-f7ab1f3e4479
                        environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                        auditHistory:
                        - id: '1099361'
                          targetId: 582cd03f-fd4e-4770-826a-1fd749adf44e
                          prevStatus: DRAFT
                          newStatus: ACTIVE
                          comment: Deployment triggered by endpoint update
                          actionBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                          actionAt: 2024-11-21 06:46:30+00:00
                      - deploymentId: 6026a328-26e5-4a8c-a02b-9a3764bc6e47
                        deployedBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                        deployedAt: 2024-11-20 10:45:44+00:00
                        deploymentStatus: INACTIVE
                        deploymentComment: Updated endpoint
                        documentFlowConfigId: 6d6a99a8-efa1-4aea-85d6-5ad8138b154e
                        documentFlowId: 8ec7622c-b688-4c78-a9ce-f7ab1f3e4479
                        environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                        auditHistory:
                        - id: '1096775'
                          targetId: 6026a328-26e5-4a8c-a02b-9a3764bc6e47
                          prevStatus: DRAFT
                          newStatus: ACTIVE
                          comment: Updated endpoint
                          actionBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                          actionAt: 2024-11-20 10:50:46+00:00
                        - id: '1099357'
                          targetId: 6026a328-26e5-4a8c-a02b-9a3764bc6e47
                          prevStatus: ACTIVE
                          newStatus: INACTIVE
                          comment: Updated endpoint
                          actionBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                          actionAt: 2024-11-21 06:46:30+00:00
                      - deploymentId: bc3f2bb0-591b-4b1e-b8e1-eeb15b60890a
                        deployedBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                        deployedAt: 2024-10-28 20:11:31+00:00
                        deploymentStatus: INACTIVE
                        deploymentComment: Initial deployment
                        documentFlowConfigId: 6d6a99a8-efa1-4aea-85d6-5ad8138b154e
                        documentFlowId: 8ec7622c-b688-4c78-a9ce-f7ab1f3e4479
                        environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                        auditHistory:
                        - id: '1037342'
                          targetId: bc3f2bb0-591b-4b1e-b8e1-eeb15b60890a
                          prevStatus: DRAFT
                          newStatus: ACTIVE
                          comment: Initial deployment
                          actionBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                          actionAt: 2024-10-28 20:21:53+00:00
                        - id: '1096771'
                          targetId: bc3f2bb0-591b-4b1e-b8e1-eeb15b60890a
                          prevStatus: ACTIVE
                          newStatus: INACTIVE
                          comment: Initial deployment
                          actionBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                          actionAt: 2024-11-20 10:50:46+00:00
                      sectionsStatus:
                        receivingEndpoint:
                          status: true
                          receivingEndpoint:
                            status: true
                        sourceMessage:
                          status: true
                          documentType:
                            status: true
                        documentMapping:
                          status: true
                          documentMapping:
                            status: true
                        target:
                          status: true
                          targetEndpoint:
                            status: true
                          targetDocType:
                            status: true
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidEnvironmentsByEnvironmentidDocumentflowsByDocumentflowidResolvedview
  /organizations/{organizationId}/environments/{environmentId}/documentflows/{documentflowId}/runtimeValidations:
    description: Performs runtime validations to ensure the document flow can be deployed
    get:
      description: Get all runtimeValidations
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_documentflowId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  runtimeValidation: {}
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidEnvironmentsByEnvironmentidDocumentflowsByDocumentflowidRuntimevalidations
  /organizations/{organizationId}/environments/{environmentId}/documentflows/summarylist:
    description: Single summarylist
    get:
      description: Get all summarylist
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  documentFlowSummaryList:
                  - id: 6ebdd4c7-8cc6-470e-bafe-e240dbbdfd7d
                    name: X12-4010-837
                    direction: INBOUND
                    partnerFrom:
                      logo:
                        id: 5368b020-6cb6-496b-b3e5-f2ac77dc8996
                        fileName: acme_logo.jpeg
                      contacts: []
                      identifiers: []
                      addresses: []
                      createdAt: 2024-10-28 19:57:13+00:00
                      createdBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                      updatedAt: 2024-11-21 19:26:29+00:00
                      updatedBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                      protocols: []
                      standards: []
                      id: 5368b020-6cb6-496b-b3e5-f2ac77dc8996
                      name: Acme
                      environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                      hostFlag: false
                      partnerType: PARTNER
                    partnerTo:
                      contacts: []
                      identifiers: []
                      addresses: []
                      createdAt: 2024-10-25 10:40:14+00:00
                      createdBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                      updatedAt: 2024-10-25 10:40:14+00:00
                      updatedBy: ''
                      protocols: []
                      standards: []
                      id: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                      name: Host
                      environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                      hostFlag: true
                      partnerType: HOST
                    createdAt: 2024-11-21 19:50:13+00:00
                    createdBy:
                      userId: 30dce079-0d9d-4793-be00-781d6a6429e2
                      firstName: Ravi
                      lastName: Sharma
                      userName: ravisf
                    updatedAt: 2024-11-21 19:51:44+00:00
                    updatedBy:
                      userId: 30dce079-0d9d-4793-be00-781d6a6429e2
                      firstName: Ravi
                      lastName: Sharma
                      userName: ravisf
                    deploymentSummary: []
                    lastDeployTime: 2024-11-21 19:53:07+00:00
                    lastDeployBy:
                      userId: 30dce079-0d9d-4793-be00-781d6a6429e2
                      firstName: Ravi
                      lastName: Sharma
                      userName: ravisf
                    lastDeployStatus: ACTIVE
                    runtimeDeployStatus: ACTIVE
                  - id: 8ec7622c-b688-4c78-a9ce-f7ab1f3e4479
                    name: claim-json
                    direction: INBOUND
                    partnerFrom:
                      logo:
                        id: 5368b020-6cb6-496b-b3e5-f2ac77dc8996
                        fileName: Acme_logo.jpeg
                      contacts: []
                      identifiers: []
                      addresses: []
                      createdAt: 2024-10-28 19:57:13+00:00
                      createdBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                      updatedAt: 2024-11-21 19:26:29+00:00
                      updatedBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                      protocols: []
                      standards: []
                      id: 5368b020-6cb6-496b-b3e5-f2ac77dc8996
                      name: Acme
                      environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                      hostFlag: false
                      partnerType: PARTNER
                    partnerTo:
                      contacts: []
                      identifiers: []
                      addresses: []
                      createdAt: 2024-10-25 10:40:14+00:00
                      createdBy: 30dce079-0d9d-4793-be00-781d6a6429e2
                      updatedAt: 2024-10-25 10:40:14+00:00
                      updatedBy: ''
                      protocols: []
                      standards: []
                      id: 8365ac75-7e8b-4b17-947a-dac2aa60ddae
                      name: Host
                      environmentId: f49e24ed-b97d-4779-901a-10fab62ee637
                      hostFlag: true
                      partnerType: HOST
                    createdAt: 2024-10-28 19:57:29+00:00
                    createdBy:
                      userId: 30dce079-0d9d-4793-be00-781d6a6429e2
                      firstName: Ravi
                      lastName: Sharma
                      userName: ravisf
                    updatedAt: 2024-11-20 10:22:01+00:00
                    updatedBy:
                      userId: 30dce079-0d9d-4793-be00-781d6a6429e2
                      firstName: Ravi
                      lastName: Sharma
                      userName: ravisf
                    deploymentSummary: []
                    lastDeployTime: 2024-11-22 09:24:47+00:00
                    lastDeployBy:
                      userId: 30dce079-0d9d-4793-be00-781d6a6429e2
                      firstName: Ravi
                      lastName: Sharma
                      userName: ravisf
                    lastDeployStatus: ACTIVE
                    runtimeDeployStatus: ACTIVE
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidEnvironmentsByEnvironmentidDocumentflowsSummarylist
  /organizations/{organizationId}/environments/{environmentId}/ediFormats:
    description: Get all formats accepted by the environment
    get:
      description: Get all ediFormats
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  ediFormats:
                  - id: 25c1bc8a-801f-4337-a2a6-7721ef971460
                    formatType: X12
                    description: X12 format type
                    label: X12
                  - id: 00ef8a4a-b755-4970-bdc1-a6cad9d9b0c0
                    formatType: XML
                    description: XML format type
                    label: XML
                  - id: eac1bc8a-801f-4337-12a6-7721ef971460
                    formatType: JSON
                    description: JSON format type
                    label: JSON
                  - id: 72dde75a-8d70-11eb-8dcd-0242ac130003
                    formatType: EDIFACT
                    description: EDIFACT format type
                    label: EDIFACT
                  - id: 97a729f5-f3b4-49c3-a5cd-f2cc1e5ae59f
                    formatType: CSV
                    description: CSV/Delimited format type
                    label: CSV
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidEnvironmentsByEnvironmentidEdiformats
  /organizations/{organizationId}/environments/{environmentId}/ediFormats/{format}:
    description: Single ediFormat
    get:
      description: Get ediFormats
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - name: format
        required: true
        in: path
        schema:
          type: string
          enum:
          - X12
          - EDIFACT
          - JSON
          - CSV
          - XML
        description: The format to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  simpleEdiFormat:
                    id: 25c1bc8a-801f-4337-a2a6-7721ef971460
                    formatType: X12
                    description: X12 format type
                    label: X12 Document
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidEnvironmentsByEnvironmentidEdiformatsByFormat
  /organizations/{organizationId}/environments/{environmentId}/ediFormats/{format}/ediFormatVersions:
    description: Single ediFormatVersion
    get:
      description: Get all ediFormatVersions
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - name: format
        required: true
        in: path
        schema:
          type: string
          enum:
          - X12
          - EDIFACT
          - JSON
          - CSV
          - XML
        description: The format to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  ediFormatsVersions:
                  - id: 7f9d1dcc-6262-43b8-8990-26a4f2787aec
                    formatType: X12
                    version: v003010
                    description: X12 v.3010
                    label: '3010'
                  - id: 095c7c8d-5279-4fb9-98a6-80fc80878619
                    formatType: X12
                    version: v003020
                    description: X12 v.3020
                    label: '3020'
                  - id: 65d08bcd-6880-4130-9184-6f6361db1d7c
                    formatType: X12
                    version: v003030
                    description: X12 v.3030
                    label: '3030'
                  - id: bd10f1d5-7572-41cf-8f24-e3ef353fb89c
                    formatType: X12
                    version: v003040
                    description: X12 v.3040
                    label: '3040'
                  - id: d436e37d-4266-4827-ad95-9c539f89154d
                    formatType: X12
                    version: v003050
                    description: X12 v.3050
                    label: '3050'
                  - id: 6960f402-12c5-4b0a-a5d3-658094d7589b
                    formatType: X12
                    version: v003060
                    description: X12 v.3060
                    label: '3060'
                  - id: c85987b7-5403-4d7c-9282-d5f2fb531034
                    formatType: X12
                    version: v003070
                    description: X12 v.3070
                    label: '3070'
                  - id: d8a662cc-9a03-498a-a378-aaca86023021
                    formatType: X12
                    version: v004010
                    description: X12 v.4010
                    label: '4010'
                  - id: af466b6e-436f-43d3-8e18-00a2d402a953
                    formatType: X12
                    version: v004020
                    description: X12 v.4020
                    label: '4020'
                  - id: 92f6a617-a17b-4df6-8a8c-e149d970d34b
                    formatType: X12
                    version: v004030
                    description: X12 v.4030
                    label: '4030'
                  - id: 0f44fc78-336e-4541-b54b-00a309a5ade7
                    formatType: X12
                    version: v004040
                    description: X12 v.4040
                    label: '4040'
                  - id: f0895ce6-6624-4b1a-b1a5-2abddbb23ab1
                    formatType: X12
                    version: v004050
                    description: X12 v.4050
                    label: '4050'
                  - id: 30add070-0c95-4f32-8c86-7edd278c5a80
                    formatType: X12
                    version: v004060
                    description: X12 v.4060
                    label: '4060'
                  - id: 461a5b09-07fc-4ce1-8376-7595603bced5
                    formatType: X12
                    version: v005010
                    description: X12 v.5010
                    label: '5010'
                  - id: c9eeb215-6117-4209-9495-e4096b06f358
                    formatType: X12
                    version: v005020
                    description: X12 v.5020
                    label: '5020'
                  - id: d66fd726-f593-4d16-92f0-74f9f0269cae
                    formatType: X12
                    version: v005030
                    description: X12 v.5030
                    label: '5030'
                  - id: 6f8c4e67-bddc-4f1d-bdd1-cab8f86b366c
                    formatType: X12
                    version: v005040
                    description: X12 v.5040
                    label: '5040'
                  - id: eff38654-80b1-4e96-be67-58d6b6207548
                    formatType: X12
                    version: v005050
                    description: X12 v.5050
                    label: '5050'
                  - id: e76223da-f9f1-4c31-916c-2faf8ed65b2a
                    formatType: X12
                    version: v006020
                    description: X12 v.6020
[...]
