openapi: 3.0.0
info:
  title: Proxies API
  version: 1.0.0
  description: Manage API proxy deployments and deployment targets for CloudHub, CloudHub 2.0, and Runtime Fabric.
servers:
- url: https://anypoint.mulesoft.com/proxies/xapi/v1
- url: https://{region}.anypoint.mulesoft.com/proxies/xapi/v1
  variables:
    region:
      default: eu1
      description: Region identifier for the service endpoint.
- url: https://{region}.platform.mulesoft.com/proxies/xapi/v1
  variables:
    region:
      default: ca1
      description: Region identifier for the service endpoint.
security:
- bearerAuth: []
- clientAuth: []
paths:
  /organizations/{organizationId}/environments/{environmentId}/apis/{environmentApiId}/proxy:
    get:
      responses:
        '200':
          description: Successful operation.
      description: Gets a proxy.
      parameters:
      - name: gatewayVersion
        in: query
        schema:
          default: 3.8.0
          type: string
        description: The gatewayVersion query parameter.
      summary: Get proxy
      operationId: getProxy
    parameters:
    - name: environmentApiId
      in: path
      required: true
      schema:
        minimum: 1
        maximum: 2147483647
        type: integer
      description: The environmentApi ID to identify the target resource.
    - $ref: '#/components/parameters/XOrigin_environmentId_Path'
    - $ref: '#/components/parameters/XOrigin_organizationId_Path'
  /organizations/{organizationId}/environments/{environmentId}/apis/{environmentApiId}/active:
    post:
      responses:
        '201':
          description: Resource created successfully.
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: false
        description: The active data to create.
      summary: Activate proxy
      operationId: activateProxy
      description: Creates a active.
    parameters:
    - name: environmentApiId
      in: path
      required: true
      schema:
        minimum: 1
        maximum: 2147483647
        type: integer
      description: The environmentApi ID to identify the target resource.
    - $ref: '#/components/parameters/XOrigin_environmentId_Path'
    - $ref: '#/components/parameters/XOrigin_organizationId_Path'
  /organizations/{organizationId}/environments/{environmentId}/apis/{environmentApiId}/deployments:
    get:
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                example: ./responses/deployments.json
              example: ./responses/deployments.json
      summary: List proxy deployments
      operationId: listProxyDeployments
      description: Retrieves a deployments.
    post:
      responses:
        '201':
          description: Resource created successfully.
          content:
            application/json:
              schema:
                example: ./responses/deployment.json
              example: ./responses/deployment.json
      requestBody:
        content:
          application/json:
            example: ./requests/ch-hy-deployment-example.json
            schema:
              $ref: ./requests/inbound-deployment-body.json
        required: true
        description: The deployments data to create.
      summary: Create proxy deployment
      operationId: createProxyDeployment
      description: Creates a deployments.
    parameters:
    - name: environmentApiId
      in: path
      required: true
      schema:
        minimum: 1
        maximum: 2147483647
        type: integer
      description: The environmentApi ID to identify the target resource.
    - $ref: '#/components/parameters/XOrigin_environmentId_Path'
    - $ref: '#/components/parameters/XOrigin_organizationId_Path'
  /organizations/{organizationId}/environments/{environmentId}/apis/{environmentApiId}/deployments/{proxyDeploymentId}:
    get:
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                example: ./responses/deployment.json
              example: ./responses/deployment.json
      description: Returns a deployment (And sync it with deployment targets)
      summary: Get proxy deployment by ID
      operationId: getProxyDeploymentById
    put:
      responses:
        '201':
          description: Resource created successfully.
      requestBody:
        content:
          application/json:
            example: ./requests/ch-hy-deployment-example.json
            schema:
              $ref: ./requests/inbound-deployment-body.json
        required: true
        description: The deployments data to update.
      summary: Replace proxy deployment
      operationId: replaceProxyDeployment
      description: Replaces a deployments.
    patch:
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                example: ./responses/deployment.json
              example: ./responses/deployment.json
      requestBody:
        content:
          application/json:
            example: ./requests/ch-hy-deployment-example.json
            schema:
              type: object
        required: true
        description: The deployments data to update.
      summary: Patch proxy deployment
      operationId: patchProxyDeployment
      description: Updates a deployments.
    parameters:
    - name: proxyDeploymentId
      in: path
      required: true
      schema:
        minimum: 1
        maximum: 2147483647
        type: integer
      description: The proxyDeployment ID to identify the target resource.
    - name: environmentApiId
      in: path
      required: true
      schema:
        minimum: 1
        maximum: 2147483647
        type: integer
      description: The environmentApi ID to identify the target resource.
    - $ref: '#/components/parameters/XOrigin_environmentId_Path'
    - $ref: '#/components/parameters/XOrigin_organizationId_Path'
    - name: checkAutomatedPolicies
      in: query
      schema:
        type: boolean
      description: The checkAutomatedPolicies query parameter.
  ? /organizations/{organizationId}/environments/{environmentId}/apis/{environmentApiId}/deployments/{proxyDeploymentId}/status
  : get:
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                example: ./responses/deploymentStatus.json
              example: ./responses/deploymentStatus.json
      description: Retrieves the deployment details of a version (And sync it with deployment targets).
      summary: Get proxy deployment status
      operationId: getProxyDeploymentStatus
    parameters:
    - name: proxyDeploymentId
      in: path
      required: true
      schema:
        minimum: 1
        maximum: 2147483647
        type: integer
      description: The proxyDeployment ID to identify the target resource.
    - name: environmentApiId
      in: path
      required: true
      schema:
        minimum: 1
        maximum: 2147483647
        type: integer
      description: The environmentApi ID to identify the target resource.
    - $ref: '#/components/parameters/XOrigin_environmentId_Path'
    - $ref: '#/components/parameters/XOrigin_organizationId_Path'
  /organizations/{organizationId}/deployment-targets:
    get:
      responses:
        '200':
          description: Successful operation.
      parameters:
      - $ref: '#/components/parameters/XOrigin_environmentId_Query'
      summary: List deployment targets
      operationId: listDeploymentTargets
      description: Retrieves a deployment targets.
    parameters:
    - $ref: '#/components/parameters/XOrigin_organizationId_Path'
  /organizations/{organizationId}/targets/{targetId}/runtimes/mule/versions:
    get:
      responses:
        '200':
          description: Successful operation.
      parameters:
      - name: operation
        in: query
        schema:
          type: string
          enum:
          - newdeployment
          - redeployment
          - rollback
        description: The operation query parameter.
      summary: List Mule runtime versions
      operationId: listMuleRuntimeVersions
      description: Retrieves a versions.
    parameters:
    - name: targetId
      in: path
      required: true
      schema:
        type: string
      description: The target ID to identify the target resource.
    - $ref: '#/components/parameters/XOrigin_organizationId_Path'
  /organizations/{organizationId}/providers/{providerId}/runtime-fabric-deployment-targets:
    get:
      responses:
        '200':
          description: Successful operation.
      parameters:
      - $ref: '#/components/parameters/XOrigin_environmentId_Query'
      summary: List Runtime Fabric deployment targets
      operationId: listRuntimeFabricTargets
      description: Retrieves a runtime fabric deployment targets.
    parameters:
    - name: providerId
      in: path
      required: true
      schema:
        type: string
      description: The provider ID to identify the target resource.
    - $ref: '#/components/parameters/XOrigin_organizationId_Path'
  /organizations/{organizationId}/providers/{providerId}/cloudhub2-deployment-targets:
    get:
      responses:
        '200':
          description: Successful operation.
      parameters:
      - $ref: '#/components/parameters/XOrigin_environmentId_Query'
      - name: returnAllTargets
        in: query
        schema:
          type: boolean
        description: The returnAllTargets query parameter.
      summary: List CloudHub 2.0 deployment targets
      operationId: listCloudHub2DeploymentTargets
      description: Retrieves a cloudhub2 deployment targets.
    parameters:
    - name: providerId
      in: path
      required: true
      schema:
        type: string
      description: The provider ID to identify the target resource.
    - $ref: '#/components/parameters/XOrigin_organizationId_Path'
  /ch-domains/{domainName}:
    get:
      responses:
        '200':
          description: Successful operation.
      summary: Get CH domain by name
      operationId: getChDomain
      description: Retrieves a ch domains.
    parameters:
    - name: domainName
      in: path
      required: true
      schema:
        type: string
      description: The domainName to identify the target resource.
  /status/echo:
    get:
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                example: ./responses/echo.json
              example: ./responses/echo.json
      summary: Get echo response
      operationId: getStatusEcho
      description: Lists echo.
  /status/version:
    get:
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                example: ./responses/version.json
              example: ./responses/version.json
      description: Retrieves the date and commit of the deployed version.
      summary: Get service version
      operationId: getStatusVersion
components:
  schemas: {}
  responses: {}
  parameters:
    XOrigin_environmentId_Path:
      $ref: ../../fragments/anypoint_fragment.yaml#/components/parameters/environmentId_Path
    XOrigin_organizationId_Path:
      $ref: ../../fragments/anypoint_fragment.yaml#/components/parameters/organizationId_Path
    XOrigin_environmentId_Query:
      $ref: ../../fragments/anypoint_fragment.yaml#/components/parameters/environmentId_Query
  examples: {}
  requestBodies: {}
  headers: {}
  securitySchemes:
    bearerAuth:
      $ref: ../../fragments/anypoint_fragment.yaml#/components/securitySchemes/bearerAuth
    clientAuth:
      $ref: ../../fragments/anypoint_fragment.yaml#/components/securitySchemes/clientAuth
  links: {}
  callbacks: {}
