openapi: 3.0.0
info:
  title: Secrets Manager API
  version: 1.0.0
  description: Manage keystores, truststores, certificates, TLS contexts, and shared secrets across environments in Anypoint Secrets Manager.
servers:
- url: https://anypoint.mulesoft.com/secrets-manager/api/{version}/organizations
  variables:
    version:
      default: unknown
      description: API version identifier.
- url: https://eu1.anypoint.mulesoft.com/secrets-manager/api/{version}/organizations
  variables:
    version:
      default: unknown
      description: API version identifier.
- url: https://{region}.platform.mulesoft.com/secrets-manager/api/{version}/organizations
  variables:
    region:
      default: ca1
      description: Region identifier for the service endpoint.
    version:
      default: unknown
      description: API version identifier.
externalDocs:
  url: http://
  description: "Here's the flow for managing the lifecycle of secrets :\n 1. Create a secret group.\n 2. Acquire lock on the secret group.\n 3. Create and/or update secrets as you would like.\n 4. Once done with creations/updates, release the lock."
  x-amf-title: Flow to create/update secrets
x-amf-userDocumentation:
- url: http://
  content: '1. Maximum number of secret groups that can be created per (org + env) pair : 25

    2. Maximum number of secrets that can be created in a secret group : 350

    3. Maximum number of clone operations allowed concurrently within an organization : 1

    4. Maximum number of clone operations allowed concurrently : 5

    '
  title: Limits on resources and operations
security:
- bearerAuth: []
- clientAuth: []
paths:
  /{organizationId}:
    delete:
      description: Deletes the organization
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '204':
          description: Successful. Returns zero length body.
      operationId: deleteByOrganizationid
  /{organizationId}/environments/{environmentId}:
    delete:
      description: Deletes the environment
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      responses:
        '204':
          description: Successful. Returns zero length body.
      operationId: deleteByOrganizationidEnvironmentsByEnvironmentid
  /{organizationId}/environments/{environmentId}/operations:
    description: To check the status of running operations
    get:
      parameters:
      - name: type
        required: false
        in: query
        schema:
          type: string
          enum:
          - clone
        description: The type query parameter.
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      responses:
        '200':
          description: Give information if a new request can be triggered or not for specific operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/operationsResponse'
              example: &id001
              - type: clone
                canInitiateARequest: true
        '400':
          description: Bad request. The request was malformed or contains invalid parameters.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-message'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: getByOrganizationidEnvironmentsByEnvironmentidOperations
      description: Retrieves a operations.
  /{organizationId}/environments/{environmentId}/secretGroups:
    description: Secret group is a logical grouping of secrets. Secrets belonging to a group can refer to other secrets from that group only.
    get:
      description: Get a list of secretGroups.
      parameters:
      - name: downloadable
        description: Filter and fetch list of secret groups based on value of 'downloadable' flag.
        required: false
        in: query
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  all-secret-group-types:
                  - name: crm-app-sg
                    downloadable: false
                    meta:
                      id: 9319c917-5811-41fa-bd73-1bf13253334a
                      createdAt: 2018-07-04 21:00:00
                      modifiedAt: 2018-07-04 22:00:00
                      modifiedBy: acme-admin
                      locked: true
                      lockedBy: acme-admin
                      currentState: Clear
                type: array
                items:
                  $ref: '#/components/schemas/secretGroup'
              example:
              - id: string
                type: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: getByOrganizationidEnvironmentsByEnvironmentidSecretgroups
    post:
      description: 'Create a new secretGroup.

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/secretGroup_1'
        x-amf-mediaType: application/json
        description: The secretGroups data to create.
      responses:
        '201':
          description: Resource created successfully.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/secretGroupPostResponse'
              example:
                id:
                  id: string
                  type: string
                message: string
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '402':
          description: Resource creation limit exceeded. There are limits on how many of resources of this type can be created, and if that limit exceeds, this error occurs.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the secret group this operation is being performed on, is not yet locked, or is locked by another user.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: createByOrganizationidEnvironmentsByEnvironmentidSecretgroups
  /{organizationId}/environments/{environmentId}/secretGroups/{secretGroupId}:
    description: Get an entity representing a secretGroup
    get:
      description: 'Get the secretGroup

        with id =

        {secretId}

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/secretGroup'
              example:
                name:
                  id: string
                  type: string
                downloadable: true
                meta:
                  id: string
                  type: string
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: getByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupid
    patch:
      description: Operation to update name of this secret group.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/secretGroupPatchRequest'
        x-amf-mediaType: application/json
        description: The secretGroups data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericPatchResponse'
              example:
                message: string
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the currentState of the secret group does not allow this operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  sg-not-yet-locked:
                    message: The secret group 'test' is not yet locked
                type: object
                required:
                - message
                properties:
                  errors:
                    description: 'Error list used to describe the set of conflicts and failed validations. Required when

                      HTTP error code is not enough for describing the failure case.

                      '
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          description: "Custom error code, following are the category wise error codes:\n\nPath parameter validation error codes:\n- PT-1001 : Invalid path parameter value\n\nHeader parameter validation error codes:\n- HD-1001 : Invalid header parameter value\n\nQuery parameter validation error codes:\n- QR-1001 : Invalid query parameter value\n\nRequest body validation error codes:\n- RB-1001 : JSON parsing failure\n- RB-1002 : Name already in use \n- RB-1003 : Invalid field value\n- RB-1004 : Missing field OR field with empty value\n- RB-1005 : Referenced secret not found\n- RB-1006 : Conditional validation failure\n- RB-1007 : Certificate expired\n- RB-1008 : Limit exceeded\n\nOther validation error codes:\n- OE-1001 : Secret expired\n- OE-1003 : Shared secret of type VDPContext present\n"
                          enum:
                          - PT-1001
                          - HD-1001
                          - QR-1001
                          - RB-1001
                          - RB-1002
                          - RB-1003
                          - RB-1004
                          - RB-1005
                          - RB-1006
                          - RB-1007
                          - RB-1008
                          - OE-1001
                          - OE-1003
                          type: string
                        message:
                          description: 'Human readable error description for this particular issue with the request.

                            '
                          type: string
                        field:
                          description: 'The name of the erroneous field from request.

                            '
                          type: string
                  message:
                    description: 'Human readable error description.

                      '
                    type: string
              example:
                errors:
                - code: PT-1001
                  message: string
                  field: string
                message: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: patchByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupid
    delete:
      description: 'Deletes the secret group.


        The amount of time required for this operation to complete is proportionate to the number of secrets  in the secret group.

        '
      parameters:
      - name: force
        description: Forcefully delete the secret group even if it contains shared secret(s) of type VDPContext.
        required: false
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      responses:
        '204':
          description: Operation completed successfully with no content returned.
        '409':
          description: state of conflict. It can occur if the currentState of the secret group does not allow this operation or secret group contains a shared secret of type VDPContext.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-message'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: deleteByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupid
  /{organizationId}/environments/{environmentId}/secretGroups/{secretGroupId}/lock:
    description: '[Deprecated] From this release and on, the lock mechanism on secret groups is deprecated. For compatibility purpose, the endpoint will still exist, but you can think it is a no-op endpoint.'
    put:
      description: '[Deprecated] For compatibility purpose, it always returns successful response.'
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      responses:
        '204':
          description: Response to indicate operation completed successfully.
          headers:
            X-SG-Locked-By-Same-User:
              description: Presence of this header with value 'true', implies that the user making this api call already held the lock on this secret group.
              schema:
                type: boolean
      operationId: updateByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidLock
    delete:
      description: '[Deprecated] For compatibility purpose, it always returns successful response.'
      parameters:
      - name: action
        description: 'To indicate how the lock is being released, either as operation ''finish'' or ''cancel''.

          - finish = Indicates that the secret group editing is complete, and all draft changes (including additions) made since acquiring the lock, are to be committed.

          - cancel = Indicates that the lock needs to be released and all of the draft changes (including additions) made since acquiring the lock should be discarded.


          Only the user who acquired the lock can use value ''finish''. Any user, including the user who acquired the lock, can use the value ''cancel''.

          The amount of time required for this operation to complete increases, as the the number of secrets that were operated on after acquirirng the lock increases.

          '
        required: true
        in: query
        schema:
          type: string
          enum:
          - finish
          - cancel
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      responses:
        '204':
          description: Response to indicate operation completed successfully.
      operationId: deleteByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidLock
  /{organizationId}/environments/{environmentId}/secretGroups/{secretGroupId}/clone:
    post:
      description: Request to clone this secret group.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/secretGroupCloneRequest'
        x-amf-mediaType: application/json
        description: The clone data to create.
      responses:
        '202':
          description: Request accepted for processing.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/secretGroupCloneResponse'
              example: &id002
                message: Request to clone secret group accepted successfully. Please check the status after some time.
                id: 6b40448d-d122-471b-ae0f-22c59f1b9589
        '400':
          description: Bad request. The request was malformed or contains invalid parameters.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-message'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the currentState of the secret group does not allow this operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-message'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '503':
          description: State of overload. It can occur, if the server does not have capacity to serve new requests.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-message'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: createByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidClone
    delete:
      description: To cancel the in-progress clone operation on the secret group, This can be performed on either source or target secret group.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      responses:
        '202':
          description: Response to indicate cancel clone operation accepted successfully.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sgCancelCloneResponse'
              example: &id003
                message: Request to cancel the clone operation accepted successfully. Please check the status after some time.
        '400':
          description: Bad request. The request was malformed or contains invalid parameters.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-message'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: State of conflict. It can occur if clone operation is not initiated on this secret group.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-message'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: deleteByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidClone
  /{organizationId}/environments/{environmentId}/secretGroups/{secretGroupId}/grants:
    post:
      description: Returns an access grant for each of the secrets, along with corresponding secret path from the request body
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/grantsRequest'
        x-amf-mediaType: application/json
        description: The grants data to create.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/grantsResponse'
              example: &id004
              - path: certificates/bc8746e1-23a1-41ad-87f9-fb8b08dc2385
                accessGrant: QWNjZXNzSWQ9MjM0MzI0aGtmdHJraHV5dWl5JkV4cGlyZXM9MjUzODE1OTUwMCZTaWduYXR1cmU9Qmd5dHk1NjVnaGhqZ2RnZFJUWVJ0eXJibm1ibm1ibW5iWVR1eXR1eXQ1Njc1NiUyQm1XQlBxd2dVWWNPU3N6Q1BsZ1dSRWVGN29QR293a2VLazdnYXNoamdzZGhqZjU2NzU2N3NkZmpoa2p5dWl5ODc2c2RmODc2a2poZWpmaFJUdmdmZ2hUWVJnZ2ZvRGVBR25mekNkNGZUc1djTGJhbDlzRnBxWHNRSThJUWkxNDkzbXclM0Q=
              - path: keystores/fc1579cf-a5ba-486f-925c-d537c22eff54
                accessGrant: QWNjZXNzSWQ9MjM0MzI0aGtmdHJkZnV5dWl5JkV4cGlyZXM9MjUzODE1OTUwMCZTaWduYXR1cmU9Qmd5dHk1NjVnaGVyZ2RnZFJUWVJ0eXJibm1ibm1ibW5iWVR1eXR1eXQ1Njc1NiUyQm1XQlBxd2dVWWNPU3N6Q1BsZ1dSRWVGN29QR293a2VLazdnYXNoamdzZGhqZjU2NzU2N3NkZmpoa2p5dWl5ODc2c2RmODc2a2poZWpmaFJUdmdmZ2hUWVJnZ2ZvRGVBR25mekNkNGZUc1djTGJhbDlzRnBxWHNRSThJUWkxNDkzbXclM0Q=
        '400':
          description: Bad request. The request was malformed or contains invalid parameters.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-message'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the secret for which the grant was requested is expired.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-message'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: createByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidGrants
  /{organizationId}/environments/{environmentId}/secretGroups/{secretGroupId}/certificates:
    description: X509 certificate. Type supported - PEM
    get:
      description: Get a list of certificates.
      parameters:
      - name: state
        description: Get the response which is built from the draft state. This is allowed only to the user who currently holds the lock on the containing secret group.
        required: false
        in: query
        schema:
          type: string
          enum:
          - draft
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  certificate-list:
                  - meta:
                      id: bc8746e1-23a1-41ad-87f9-fb8b08dc2385
                      path: certificates/bc8746e1-23a1-41ad-87f9-fb8b08dc2385
                      modifiedAt: 2024-07-12 18:00:54
                    name: cert-003
                    expirationDate: 2018-11-26
                    type: PEM
                type: array
                items:
                  $ref: '#/components/schemas/genericListElementWithType'
              example:
              - id: string
                type: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: getByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidCertificates
    post:
      description: 'Create a new certificate.

        '
      parameters:
      - name: allowExpiredCert
        description: With 'true' to allow uploading expired certificates
        required: false
        in: query
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      requestBody:
        $ref: '#/components/requestBodies/certificate'
        description: The certificates data to create.
      responses:
        '201':
          description: Resource created successfully.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericPostResponse'
              example:
                id:
                  id: string
                  type: string
                message: string
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '402':
          description: Resource creation limit exceeded. There are limits on how many of resources of this type can be created, and if that limit exceeds, this error occurs.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the secret group this operation is being performed on, is not yet locked, or is locked by another user.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: createByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidCertificates
  /{organizationId}/environments/{environmentId}/secretGroups/{secretGroupId}/certificates/{secretId}:
    description: Get an entity representing a certificate
    put:
      parameters:
      - name: allowExpiredCert
        description: With 'true' to allow uploading expired certificates
        required: false
        in: query
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      - $ref: '#/components/parameters/XOrigin_secretId_Path'
      requestBody:
        $ref: '#/components/requestBodies/certificate'
        description: The certificates data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericPutResponse'
              example:
                message: string
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the secret group this operation is being performed on, is not yet locked, or is locked by another user.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: updateByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidCertificatesBySecretid
      description: Replaces a certificates.
    patch:
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      - $ref: '#/components/parameters/XOrigin_secretId_Path'
      requestBody:
        $ref: '#/components/requestBodies/patchRequest'
        description: The certificates data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericPatchResponse'
              example:
                message: string
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the secret group this operation is being performed on, is not yet locked, or is locked by another user.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: patchByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidCertificatesBySecretid
      description: Updates a certificates.
    get:
      description: 'Get the certificate

        with id =

        {secretId}

        '
      parameters:
      - name: state
        description: Get the response which is built from the draft state. This is allowed only to the user who currently holds the lock on the containing secret group.
        required: false
        in: query
        schema:
          type: string
          enum:
          - draft
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      - $ref: '#/components/parameters/XOrigin_secretId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/certificate_2'
              example:
                expirationDate: '2024-01-15'
                meta:
                  id: string
                  type: string
                name:
                  id: string
                  type: string
                details:
                  subject:
                    commonName: string
                    organizationUnit: string
                    organizationName: string
                    localityName: string
                    state: string
                    countryName: string
                  signatureAlgorithm: string
                  version: string
                  publicKeyAlgorithm: string
                  basicConstraints:
                    certificateAuthority: true
                  certificateType: string
                  validity:
                    notBefore: string
                    notAfter: string
                  issuer:
                    commonName: string
                    organizationUnit: string
                    organizationName: string
                    localityName: string
                    state: string
                    countryName: string
                  keyUsage:
                  - Digital Signature
                  serialNumber: string
                certificateFileName: string
                type: PEM
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: getByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidCertificatesBySecretid
  /{organizationId}/environments/{environmentId}/secretGroups/{secretGroupId}/truststores:
    description: Collection of trusted certificates. Types supported - PEM, JKS, JCEKS, PKCS12
    get:
      description: Get a list of truststores.
      parameters:
      - name: type
        description: Filter the elements on the response to be of a specific type from {PEM, JKS, JCEKS, PKCS12}
        required: false
        in: query
        schema:
          type: string
      - name: state
        description: Get the response which is built from the draft state. This is allowed only to the user who currently holds the lock on the containing secret group.
        required: false
        in: query
        schema:
          type: string
          enum:
          - draft
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  truststore-list:
                  - meta:
                      id: 1c80a7fa-8641-4821-a55f-855089ff9732
                      path: truststores/1c80a7fa-8641-4821-a55f-855089ff9732
                      modifiedAt: 2024-07-12 18:00:54
                    name: crm-app
                    type: PEM
                    expirationDate: 2018-07-04
                type: array
                items:
                  $ref: '#/components/schemas/genericListElementWithType'
              example:
              - id: string
                type: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: getByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidTruststores
    post:
      description: 'Create a new truststore.

        '
      parameters:
      - name: allowExpiredCert
        description: With 'true' to allow uploading expired certificates
        required: false
        in: query
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated'
        description: The truststores data to create.
      responses:
        '201':
          description: Resource created successfully.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericPostResponse'
              example:
                id:
                  id: string
                  type: string
                message: string
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '402':
          description: Resource creation limit exceeded. There are limits on how many of resources of this type can be created, and if that limit exceeds, this error occurs.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the secret group this operation is being performed on, is not yet locked, or is locked by another user.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: createByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidTruststores
  /{organizationId}/environments/{environmentId}/secretGroups/{secretGroupId}/truststores/{secretId}:
    description: Get an entity representing a truststore
    put:
      parameters:
      - name: allowExpiredCert
        description: With 'true' to allow uploading expired certificates
        required: false
        in: query
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupSecretId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated'
        description: The truststores data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericPutResponse'
              example:
                message: string
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the secret group this operation is being performed on, is not yet locked, or is locked by another user.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: updateByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidTruststoresBySecretid
      description: Replaces a truststores.
    patch:
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupSecretId_Path'
      requestBody:
        $ref: '#/components/requestBodies/patchRequest'
        description: The truststores data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericPatchResponse'
              example:
                message: string
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the secret group this operation is being performed on, is not yet locked, or is locked by another user.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: patchByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidTruststoresBySecretid
      description: Updates a truststores.
    get:
      description: 'Get the truststore

        with id =

        {secretId}

        '
      parameters:
      - name: state
        description: Get the response which is built from the draft state. This is allowed only to the user who currently holds the lock on the containing secret group.
        required: false
        in: query
        schema:
          type: string
          enum:
          - draft
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupSecretId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  single-item:
                    meta:
                      id: 377148a1-5c2a-47e7-bfbb-be5b546a1cbf
                      path: truststores/377148a1-5c2a-47e7-bfbb-be5b546a1cbf
                      modifiedAt: 2024-07-12 18:00:54
                    name: crm-app
                    expirationDate: 2018-07-04
                    details:
                      certificateEntries:
                      - certificate:
                          basicConstraints:
                            certificateAuthority: true
                          certificateType: X.509
                          issuer:
                            commonName: Acme Root
                            countryName: US
                            localityName: SF
                            organizationName: Acme
                            organizationUnit: Engineering
                            state: CA
                          publicKeyAlgorithm: RSA
                          serialNumber: B8D4B9E98631D090
                          signatureAlgorithm: SHA1withRSA
                          subject:
                            commonName: Acme Root
                            countryName: US
                            localityName: SF
                            organizationName: Acme
                            organizationUnit: Engineering
                            state: CA
                          subjectAlternativeName: []
                          validity:
                            notBefore: 2016-07-04 21:00:00
                            notAfter: 2018-07-04 21:00:00
                          version: '3'
                      - certificate:
                          basicConstraints:
                            certificateAuthority: true
                          certificateType: X.509
                          issuer:
                            commonName: Acme Root2
                            countryName: US
                            localityName: SF
                            organizationName: Acme
                            organizationUnit: Engineering
                            state: CA
                          publicKeyAlgorithm: RSA
                          serialNumber: CF38D9594CFA35B1
                          signatureAlgorithm: SHA1withRSA
                          subject:
                            commonName: Acme Root2
                            countryName: US
                            localityName: SF
                            organizationName: Acme
                            organizationUnit: Engineering
                            state: CA
                          subjectAlternativeName: []
                          validity:
                            notBefore: 2016-07-04 21:00:00
                            notAfter: 2018-07-04 21:00:00
                          version: '3'
                    truststoreFileName: truststore.pem
                    type: PEM
                x-amf-union:
                - $ref: '#/components/schemas/truststorePEM_3'
                - $ref: '#/components/schemas/truststoreOthers'
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: getByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidTruststoresBySecretid
  /{organizationId}/environments/{environmentId}/secretGroups/{secretGroupId}/keystores:
    description: This secret represents combination of a private key, corresponding public certificate, and CAPath till the root CA. The private key is required to be encrypted. Types supported - PEM, JKS, JCEKS, PKCS12
    get:
      description: Get a list of keystores.
      parameters:
      - name: type
        description: Filter the elements on the response to be of a specific type from {PEM, JKS, JCEKS, PKCS12}
        required: false
        in: query
        schema:
          type: string
      - name: state
        description: Get the response which is built from the draft state. This is allowed only to the user who currently holds the lock on the containing secret group.
        required: false
        in: query
        schema:
          type: string
          enum:
          - draft
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  keystore-list:
                  - meta:
                      id: fc1579cf-a5ba-486f-925c-d537c22eff54
                      path: keystores/fc1579cf-a5ba-486f-925c-d537c22eff54
                      modifiedAt: 2024-07-12 18:00:54
                    name: crm-app
                    expirationDate: 2018-07-04
                    type: PEM
                type: array
                items:
                  $ref: '#/components/schemas/genericListElementWithType'
              example:
              - id: string
                type: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: getByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidKeystores
    post:
      description: 'Create a new keystore.

        '
      parameters:
      - name: allowExpiredCert
        description: With 'true' to allow uploading expired certificates
        required: false
        in: query
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated2'
        description: The keystores data to create.
      responses:
        '201':
          description: Resource created successfully.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericPostResponse'
              example:
                id:
                  id: string
                  type: string
                message: string
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '402':
          description: Resource creation limit exceeded. There are limits on how many of resources of this type can be created, and if that limit exceeds, this error occurs.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the secret group this operation is being performed on, is not yet locked, or is locked by another user.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: createByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidKeystores
  /{organizationId}/environments/{environmentId}/secretGroups/{secretGroupId}/keystores/{secretId}:
    description: Get an entity representing a keystore
    put:
      parameters:
      - name: allowExpiredCert
        description: With 'true' to allow uploading expired certificates
        required: false
        in: query
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      - $ref: '#/components/parameters/XOrigin_tlsContextSecretId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated2'
        description: The keystores data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericPutResponse'
              example:
                message: string
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the secret group this operation is being performed on, is not yet locked, or is locked by another user.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: updateByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidKeystoresBySecretid
      description: Replaces a keystores.
    patch:
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      - $ref: '#/components/parameters/XOrigin_tlsContextSecretId_Path'
      requestBody:
        $ref: '#/components/requestBodies/patchRequest'
        description: The keystores data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericPatchResponse'
              example:
                message: string
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the secret group this operation is being performed on, is not yet locked, or is locked by another user.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: patchByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidKeystoresBySecretid
      description: Updates a keystores.
    get:
      description: 'Get the keystore

        with id =

        {secretId}

        '
      parameters:
      - name: state
        description: Get the response which is built from the draft state. This is allowed only to the user who currently holds the lock on the containing secret group.
        required: false
        in: query
        schema:
          type: string
          enum:
          - draft
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      - $ref: '#/components/parameters/XOrigin_tlsContextSecretId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  single-item:
                    capathFileName: capath.pem
                    certificateFileName: cert.pem
                    keyFileName: private.pem
                    meta:
                      id: 5ebdcf27-1b71-4c70-a6bd-f3feac950195
                      path: keystores/5ebdcf27-1b71-4c70-a6bd-f3feac950195
                      modifiedAt: 2024-07-12 18:00:54
                    name: crm-app
                    expirationDate: 2018-07-04
                    details:
                      capath:
                      - basicConstraints:
                          certificateAuthority: true
                        certificateType: X.509
                        issuer:
                          commonName: Acme Root
                          countryName: US
                          localityName: SF
                          organizationName: Acme
                          organizationUnit: Engineering
                          state: CA
                        publicKeyAlgorithm: RSA
                        serialNumber: B8D4B9E98631D090
                        signatureAlgorithm: SHA1withRSA
                        subject:
                          commonName: Acme ICA
                          countryName: US
                          localityName: SF
                          organizationName: Acme
                          organizationUnit: Engineering
                          state: CA
                        subjectAlternativeName: []
                        validity:
                          notBefore: 2016-07-04 21:00:00
                          notAfter: 2018-07-04 21:00:00
                        version: '3'
                      - basicConstraints:
                          certificateAuthority: true
                        certificateType: X.509
                        issuer:
                          commonName: Acme Root
                          countryName: US
                          localityName: SF
                          organizationName: Acme
                          organizationUnit: Engineering
                          state: CA
                        publicKeyAlgorithm: RSA
                        serialNumber: CF38D9594CFA35B1
                        signatureAlgorithm: SHA1withRSA
                        subject:
                          commonName: Acme Root
                          countryName: US
                          localityName: SF
                          organizationName: Acme
                          organizationUnit: Engineering
                          state: CA
                        subjectAlternativeName: []
                        validity:
                          notBefore: 2016-07-04 21:00:00
                          notAfter: 2018-07-04 21:00:00
                        version: '3'
                      certificate:
                        certificateType: X.509
                        issuer:
                          commonName: Acme ICA
                          countryName: US
                          localityName: SF
                          organizationName: Acme
                          organizationUnit: Engineering
                          state: CA
                        publicKeyAlgorithm: RSA
                        serialNumber: E93E2F47200ED6DC
                        signatureAlgorithm: SHA1withRSA
                        subject:
                          commonName: Acme
                          countryName: US
                          localityName: SF
                          organizationName: Acme
                          organizationUnit: Sales
                          state: CA
                        subjectAlternativeName: []
                        validity:
                          notBefore: 2016-07-04 21:00:00
                          notAfter: 2018-07-04 21:00:00
                        version: '1'
                    type: PEM
                x-amf-union:
                - $ref: '#/components/schemas/keystorePEM_4'
                - $ref: '#/components/schemas/keystoreOthers'
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: getByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidKeystoresBySecretid
  /{organizationId}/environments/{environmentId}/secretGroups/{secretGroupId}/certificatePinsets:
    description: Collection of trusted certificates, in concatenated PEM format.
    get:
      description: Get a list of certificatePinsets.
      parameters:
      - name: state
        description: Get the response which is built from the draft state. This is allowed only to the user who currently holds the lock on the containing secret group.
        required: false
        in: query
        schema:
          type: string
          enum:
          - draft
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  cert-pinset-list:
                  - meta:
                      id: 15eac189-0e52-4b1c-be95-1aece65b0721
                      path: certificatePinsets/15eac189-0e52-4b1c-be95-1aece65b0721
                      modifiedAt: 2024-07-12 18:00:54
                    name: test-certificate-pinset2
                    expirationDate: 2018-11-26
                type: array
                items:
                  $ref: '#/components/schemas/genericListElement'
              example:
              - id: string
                type: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: getByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidCertificatepinsets
    post:
      description: 'Create a new certificatePinset.

        '
      parameters:
      - name: allowExpiredCert
        description: With 'true' to allow uploading expired certificates
        required: false
        in: query
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      requestBody:
        $ref: '#/components/requestBodies/certificatePinset'
        description: The certificatePinsets data to create.
      responses:
        '201':
          description: Resource created successfully.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericPostResponse'
              example:
                id:
                  id: string
                  type: string
                message: string
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '402':
          description: Resource creation limit exceeded. There are limits on how many of resources of this type can be created, and if that limit exceeds, this error occurs.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the secret group this operation is being performed on, is not yet locked, or is locked by another user.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: createByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidCertificatepinsets
  /{organizationId}/environments/{environmentId}/secretGroups/{secretGroupId}/certificatePinsets/{secretId}:
    description: Get an entity representing a certificatePinset
    put:
      parameters:
      - name: allowExpiredCert
        description: With 'true' to allow uploading expired certificates
        required: false
        in: query
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      - $ref: '#/components/parameters/XOrigin_keystoreSecretId_Path'
      requestBody:
        $ref: '#/components/requestBodies/certificatePinset'
        description: The certificatePinsets data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericPutResponse'
              example:
                message: string
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the secret group this operation is being performed on, is not yet locked, or is locked by another user.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: updateByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidCertificatepinsetsBySecretid
      description: Replaces a certificatePinsets.
    patch:
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      - $ref: '#/components/parameters/XOrigin_keystoreSecretId_Path'
      requestBody:
        $ref: '#/components/requestBodies/patchRequest'
        description: The certificatePinsets data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericPatchResponse'
              example:
                message: string
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '409':
          description: state of conflict. This can occur if the secret group this operation is being performed on, is not yet locked, or is locked by another user.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: patchByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidCertificatepinsetsBySecretid
      description: Updates a certificatePinsets.
    get:
      description: 'Get the certificatePinset

        with id =

        {secretId}

        '
      parameters:
      - name: state
        description: Get the response which is built from the draft state. This is allowed only to the user who currently holds the lock on the containing secret group.
        required: false
        in: query
        schema:
          type: string
          enum:
          - draft
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      - $ref: '#/components/parameters/XOrigin_keystoreSecretId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/certificatePinset_5'
              example:
                expirationDate: '2024-01-15'
                meta:
                  id: string
                  type: string
                name:
                  id: string
                  type: string
                details:
                - subject:
                    commonName: string
                    organizationUnit: string
                    organizationName: string
                    localityName: string
                    state: string
                    countryName: string
                  signatureAlgorithm: string
                  version: string
                  publicKeyAlgorithm: string
                  basicConstraints:
                    certificateAuthority: true
                  certificateType: string
                  validity:
                    notBefore: string
                    notAfter: string
                  issuer:
                    commonName: string
                    organizationUnit: string
                    organizationName: string
                    localityName: string
                    state: string
                    countryName: string
                  keyUsage:
                  - Digital Signature
                  serialNumber: string
                certificatePinsetFileName: string
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: getByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidCertificatepinsetsBySecretid
  /{organizationId}/environments/{environmentId}/secretGroups/{secretGroupId}/sharedSecrets:
    description: The shared secret as defined in cryptography. Supported shared secret types - UsernamePassword, SymmetricKey, S3Credential, Blob and VDPContext.
    get:
      description: Get a list of sharedSecrets.
      parameters:
      - name: type
        description: Filter the elements on the response to be of a specific type from {UsernamePassword, SymmetricKey, S3Credential, VDPContext, Blob}
        required: false
        in: query
        schema:
          type: string
      - name: state
        description: Get the response which is built from the draft state. This is allowed only to the user who currently holds the lock on the containing secret group.
        required: false
        in: query
        schema:
          type: string
          enum:
          - draft
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  all-ss-types:
                  - meta:
                      id: 8d3ac877-1c78-4b2f-a384-5f02b05f1105
                      path: sharedSecrets/8d3ac877-1c78-4b2f-a384-5f02b05f1105
                      modifiedAt: 2024-07-12 18:00:54
                    name: crm-app-1
                    expirationDate: 2018-07-04
                    type: UsernamePassword
                  - meta:
                      id: 211badab-bfb6-4976-9d83-90e3c322d1b5
                      path: sharedSecrets/211badab-bfb6-4976-9d83-90e3c322d1b5
                      modifiedAt: 2024-07-12 18:00:54
                    name: crm-app-2
                    expirationDate: 2018-07-04
                    type: S3Credential
                  - meta:
                      id: 2bb7a7c5-6fb5-42c9-80f9-23342c9c14f9
                      path: sharedSecrets/2bb7a7c5-6fb5-42c9-80f9-23342c9c14f9
                      modifiedAt: 2024-07-12 18:00:54
                    name: crm-app-3
                    expirationDate: 2018-07-04
                    type: S3Credential
                type: array
                items:
                  $ref: '#/components/schemas/genericListElementWithType'
              example:
              - id: string
                type: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
        '500':
          description: Internal server error.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: PT-1001
                  message: string
                  field: string
      operationId: getByOrganizationidEnvironmentsByEnvironmentidSecretgroupsBySecretgroupidSharedsecrets
    post:
      description: 'Create a new sharedSecret.

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      - $ref: '#/components/parameters/XOrigin_secretGroupId_Path'
      requestBody:
        content:
          application/json:
            schema:
              x-amf-examples:
                username-pwd-request:
                  name: crm-app
                  type: UsernamePassword
                  username: user
                  password: passwd
                blob-request:
                  name: crm-app
                  type: Blob
                  content: 4oCo4oCoew0KICAia2V5IjogImZkZmd1eXVpaG5ramdoZGtmamdoamtsamtsaj09IiwNCiAgImNvbmZpZ3VyYXRpb24iOiB7DQogICAgInVybCI6ICJodHRwOi8vZXhhbXBsZS5jb20iDQogIH0sDQogICJpZGVudGlmaWVyIjogIjkzMTVhNTAzLTFkNTctNGQ4Zi04YjgxLTQ5ODBiYWY0OTYyNCINCn0=
              x-amf-union:
              - $ref: '#/components/schemas/sharedSecretUsernamePassword'
              - $ref: '#/components/schemas/sharedSecretSymmetricKey'
              - $ref: '#/components/schemas/sharedSecretS3Credential'
              - $ref: '#/components/schemas/sharedSecretVdpContext'
              - $ref: '#/components/schemas/sharedSecretBlob'
        x-amf-mediaType: application/json
        description: The sharedSecrets data to create.
      responses:
        '201':
          description: Resource created successfully.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericPostResponse'
              example:
                id:
                  id: string
                  type: string
                message: string
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
[...]
