openapi: 3.0.0
info:
  title: CloudHub API
  version: 1.0.0
  description: Manage CloudHub applications, domains, deployments, alerts, and autoscale policies. Monitor dashboard statistics and diagnostics.
servers:
- url: https://anypoint.mulesoft.com/cloudhub/api
- url: https://{region}.anypoint.mulesoft.com/cloudhub/api
  variables:
    region:
      default: eu1
      description: Region identifier for the service endpoint.
- url: https://{region}.platform.mulesoft.com/cloudhub/api
  variables:
    region:
      default: ca1
      description: Region identifier for the service endpoint.
security:
- bearerAuth: []
- clientAuth: []
paths:
  /v2: {}
  /v2/alerts:
    description: 'Alerts resource

      '
    get:
      description: 'Retrieve all alerts in the specified environment.

        Requires ''Read Alerts'' role.

        '
      parameters:
      - name: offset
        description: Offset to return alerts from
        required: true
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        description: Maximum number of alerts to return
        required: true
        in: query
        schema:
          type: integer
          default: 10
      - name: resource
        description: Only return alerts which are connected to this resource (application name)
        required: true
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAlertsResponse'
              example: &id067
              - name: failure
                severity: INFO
                condition:
                  type: deployment-failed
                  resources:
                  - my-app-name
                  resourceType: application
                organizationId: 2105a52e-6bd7-4c86-92bd-119ba216f96d
                environmentId: 8606e617-21de-4d46-84fb-0e44036ac08b
                id: 1555fd61-3cfb-4662-afdc-298c1676beb0
                productName: cloudhub
                actions:
                - type: email
                  emails:
                  - me@example.com
                  subject: subject line
                  content: deployment failed for ${resource}
                enabled: true
                lastModified: 1458115909470
                isSystem: false
                createdAt: 1458115909470
              - name: failure
                severity: INFO
                condition:
                  type: deployment-success
                  resources:
                  - my-app-name
                  resourceType: application
                organizationId: 2105a52e-6bd7-4c86-92bd-119ba216f96d
                environmentId: 8606e617-21de-4d46-84fb-0e44036ac08b
                id: 1555fd61-3cfb-4662-afdc-298c1676beb2
                productName: cloudhub
                actions:
                - type: email
                  emails:
                  - me@example.com
                  subject: subject line
                  content: deployment failed for ${resource}
                enabled: true
                lastModified: 1458115909470
                isSystem: false
                createdAt: 1458115909470
      operationId: getV2Alerts
    post:
      description: 'Create an alert

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      requestBody:
        $ref: '#/components/requestBodies/PostPutAlert'
        description: The alerts data to create.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAlertResponse'
              example: &id001
                name: failure
                severity: INFO
                condition:
                  type: deployment-failed
                  resources:
                  - my-app-name
                  resourceType: cloudhub-application
                organizationId: 2105a52e-6bd7-4c86-92bd-119ba216f96d
                environmentId: 8606e617-21de-4d46-84fb-0e44036ac08b
                id: 1555fd61-3cfb-4662-afdc-298c1676beb0
                productName: cloudhub
                actions:
                - type: email
                  emails:
                  - me@example.com
                  subject: subject line
                  content: deployment failed for ${resource}
                enabled: true
                lastModified: 1458115909470
                isSystem: false
                createdAt: 1458115909470
      operationId: createV2Alerts
  /v2/alerts/{id}:
    put:
      description: 'Update an existing alert

        '
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
        description: The id to identify the target resource.
      requestBody:
        $ref: '#/components/requestBodies/PostPutAlert'
        description: The alerts data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAlertResponse'
              example: *id001
      operationId: updateV2AlertsById
    get:
      description: 'Retrieve a single alert

        '
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
        description: The id to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAlertResponse'
              example: *id001
      operationId: getV2AlertsById
    delete:
      description: 'Delete a single alert

        '
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
        description: The id to identify the target resource.
      responses:
        '204':
          description: 'Alert deleted

            '
      operationId: deleteV2AlertsById
  /v2/alerts/{id}/history:
    get:
      description: 'Retrieve the history describing when this alert was triggered

        '
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
        description: The id to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertsHistory'
              example: &id068
                data:
                - triggeredAt: 1458117301985
                  context:
                    user: jeffh
                    resource: testapi-jeffdasd2
                  severity: INFO
                  condition:
                    type: deployment-success
                  actions:
                  - state: failed
                    type: email
                - triggeredAt: 1458116181786
                  context:
                    user: jeffh
                    resource: testapi-jeffdasd2
                  severity: INFO
                  condition:
                    type: deployment-success
                  actions:
                  - state: failed
                    type: email
                total: 2
      operationId: getV2AlertsByIdHistory
  /v2/applications:
    description: 'Applications resource

      '
    get:
      description: 'Retrieve all applications in the specified environment.

        Requires ''Read Applications'' role.

        '
      parameters:
      - name: retrieveStatistics
        description: Include statistics for each application in the response
        required: true
        in: query
        schema:
          type: boolean
          default: false
      - name: period
        description: Number of milliseconds of statistics to gather
        required: true
        in: query
        schema:
          type: number
          default: 3600000
      - name: retrieveLogLevels
        description: Include log levels for each application in the response
        required: true
        in: query
        schema:
          type: boolean
          default: true
      - name: retrieveTrackingSettings
        description: Include tracking settings for each application in the response
        required: true
        in: query
        schema:
          type: boolean
          default: true
      - name: retrieveIpAddresses
        description: Include ip address allocations for each application in the response
        required: true
        in: query
        schema:
          type: boolean
          default: true
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id002
                - domain: example-app
                  fullDomain: example-app.cloudhub.io
                  description: ''
                  properties: {}
                  propertiesOptions: {}
                  status: STARTED
                  workers:
                    type:
                      name: Medium
                      weight: 1
                      cpu: 1 vCore
                      memory: 1.5 GB memory
                    amount: 1
                    remainingOrgWorkers: 1
                    totalOrgWorkers: 1
                    recentStatistics:
                      transactions: 0
                      cpu: 0.95
                  lastUpdateTime: 1425571830350
                  fileName: example-app.jar
                  muleVersion:
                    version: 4.4.0
                    updateId: 651c112af26039320eef384f
                    latestUpdateId: 6527fb5109623963cc1d425e
                    endOfSupportDate: 1703991600000
                    endOfLifeDate: 1704078000000
                    updateVersion: 10-03-2023
                    releaseChannel: NONE
                    javaVersion: '8'
                  previousMuleVersion:
                    version: 4.4.0
                    updateId: 64f20477036da5595236faaf
                    endOfSupportDate: 1703991600000
                    endOfLifeDate: 1704078000000
                    updateVersion: 09-01-2023
                    releaseChannel: NONE
                    javaVersion: '8'
                  tenants: 0
                  userId: 54f7ed7ae4b0d48f31a3099e
                  userName: fred-smith
                  vpnConfig:
                    network: 203.0.113.0
                    mask: 27
                  persistentQueues: false
                  persistentQueuesEncryptionEnabled: false
                  persistentQueuesEncrypted: false
                  monitoringEnabled: true
                  monitoringAutoRestart: true
                  staticIPsEnabled: false
                  multitenanted: false
                  hasFile: true
                  secureDataGatewayEnabled: false
                  vpnEnabled: false
                  trackingSettings:
                    trackingLevel: DISABLED
                  logLevels: []
                  ipAddresses: []
              example: *id002
      operationId: getV2Applications
    post:
      description: 'Create a new application.

        Requires ''Create Applications'' role.

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PostApplication'
          application/json:
            schema:
              $ref: '#/components/schemas/PostApplication'
        x-amf-mediaType: application/json
        description: The applications data to create.
      x-amf-requestPayloads:
      - mediaType: multipart/form-data
        schema:
          type: object
          required:
          - file
          - appInfoJson
          properties:
            file:
              description: 'Contents of a Mule application file

                '
              type: file
            autoStart:
              description: 'boolean flag to autostart the application after it is deployed

                '
              example: true
              type: boolean
            appInfoJson:
              description: 'application attributes in json format


                Set "objectStoreV1": false to use Object Store V2

                '
              example: "{\n    \"domain\": \"test-test\",\n    \"muleVersion\": {\n        \"version\": \"4.4.0\"\n    },\n    \"region\": \"us-east-1\",\n    \"monitoringEnabled\": true,\n    \"monitoringAutoRestart\": true,\n    \"workers\": {\n        \"amount\": 1,\n        \"type\": {\n            \"name\": \"Medium\",\n            \"weight\": 1,\n            \"cpu\": \"1 vCore\",\n            \"memory\": \"1.5 GB memory\"\n        }\n    },\n    \"loggingNgEnabled\": true,\n    \"persistentQueues\": true,\n    \"objectStoreV1\": true\n}"
              type: string
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id003
                  domain: example-app
                  fullDomain: example-app.cloudhub.io
                  description: ''
                  properties: {}
                  propertiesOptions: {}
                  status: STARTED
                  workers:
                    type:
                      name: Medium
                      weight: 1
                      cpu: 1 vCore
                      memory: 1.5 GB memory
                    amount: 1
                    remainingOrgWorkers: 1
                    totalOrgWorkers: 1
                    recentStatistics:
                      transactions: 0
                      cpu: 0.95
                  lastUpdateTime: 1425571830350
                  fileName: example-app.zip
                  muleVersion:
                    version: 4.4.0
                    updateId: 651c112af26039320eef384f
                    latestUpdateId: 6527fb5109623963cc1d425e
                    endOfSupportDate: 1703991600000
                    endOfLifeDate: 1704078000000
                    updateVersion: 10-03-2023
                    releaseChannel: NONE
                    javaVersion: '8'
                  previousMuleVersion:
                    version: 4.4.0
                    updateId: 64f20477036da5595236faaf
                    endOfSupportDate: 1703991600000
                    endOfLifeDate: 1704078000000
                    updateVersion: 09-01-2023
                    releaseChannel: NONE
                    javaVersion: '8'
                  tenants: 0
                  userId: 54f7ed7ae4b0d48f31a3099e
                  userName: fred-smith
                  vpnConfig:
                    network: 203.0.113.0
                    mask: 27
                  deploymentGroup:
                    id: 5aff4d75ea4580594b7405d6
                    name: US West and East 1
                  persistentQueues: false
                  persistentQueuesEncryptionEnabled: false
                  persistentQueuesEncrypted: false
                  monitoringEnabled: true
                  monitoringAutoRestart: true
                  staticIPsEnabled: false
                  multitenanted: false
                  hasFile: true
                  secureDataGatewayEnabled: false
                  vpnEnabled: false
                  trackingSettings:
                    trackingLevel: DISABLED
                  logLevels: []
                  ipAddresses: []
              example: *id003
      operationId: createV2Applications
    put:
      description: 'Bulk Action (UPDATE, START, STOP, RESTART, DELETE) for Applications.


        **UPDATE**: Update all applications in the provided list to the latest

        update of the Mule Version that the application is currently using


        **START**: Start all applications in the provided list if they are stopped


        **STOP**: Stop all applications in the provided list if they are started


        **RESTART**: Restart all applications in the provided list with zero downtime


        **DELETE**: Delete all applications in the provided list


        The threshold for number of domains in the bulk actions is 100.


        These actions cannot be stopped. Requires ''Manage Settings'' role.

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      requestBody:
        content:
          application/json:
            schema:
              example:
                action: UPDATE
                domains:
                - domain1
                - domain2
        x-amf-mediaType: application/json
        description: The applications data to update.
      responses:
        '200':
          description: Successful operation.
      operationId: updateV2Applications
  /v2/applications/{domain}:
    description: 'A single application

      '
    get:
      description: 'Retrieve a single application by name.

        Requires ''Read Applications'' role.

        '
      parameters:
      - name: domain
        description: Application domain name
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id004
                  domain: example-app
                  fullDomain: example-app.cloudhub.io
                  description: ''
                  properties: {}
                  propertiesOptions: {}
                  status: STARTED
                  workers:
                    type:
                      name: Medium
                      weight: 1
                      cpu: 1 vCore
                      memory: 1.5 GB memory
                    amount: 1
                    remainingOrgWorkers: 1
                    totalOrgWorkers: 1
                    recentStatistics:
                      transactions: 0
                      cpu: 0.95
                  lastUpdateTime: 1425571830350
                  fileName: example-app.zip
                  muleVersion:
                    version: 4.4.0
                    updateId: 651c112af26039320eef384f
                    latestUpdateId: 6527fb5109623963cc1d425e
                    endOfSupportDate: 1703991600000
                    endOfLifeDate: 1704078000000
                    updateVersion: 10-03-2023
                    releaseChannel: NONE
                    javaVersion: '8'
                  previousMuleVersion:
                    version: 4.4.0
                    updateId: 64f20477036da5595236faaf
                    endOfSupportDate: 1703991600000
                    endOfLifeDate: 1704078000000
                    updateVersion: 09-01-2023
                    releaseChannel: NONE
                    javaVersion: '8'
                  tenants: 0
                  userId: 54f7ed7ae4b0d48f31a3099e
                  userName: fred-smith
                  vpnConfig:
                    network: 203.0.113.0
                    mask: 27
                  deploymentGroup:
                    id: 5aff4d75ea4580594b7405d6
                    name: US West and East 1
                  persistentQueues: false
                  persistentQueuesEncryptionEnabled: false
                  persistentQueuesEncrypted: false
                  monitoringEnabled: true
                  monitoringAutoRestart: true
                  staticIPsEnabled: false
                  multitenanted: false
                  hasFile: true
                  secureDataGatewayEnabled: false
                  vpnEnabled: false
                  trackingSettings:
                    trackingLevel: DISABLED
                  logLevels: []
                  ipAddresses: []
              example: *id004
      operationId: getV2ApplicationsByDomain
    delete:
      description: 'Delete a single application

        '
      parameters:
      - name: domain
        description: Application domain name
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      responses:
        '204':
          description: Operation completed successfully with no content returned.
      operationId: deleteV2ApplicationsByDomain
    put:
      description: 'Update a single application.

        Requires ''Manage Settings'' role.

        '
      parameters:
      - name: domain
        description: Application domain name
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      requestBody:
        content:
          multipart/form-data:
            schema:
              description: CloudHub Application from Exchange or Sandbox
              x-amf-examples:
                sandbox:
                  applicationSource:
                    fileSource: 5a0251232f6ce02c9b813bd4
                    fileChecksum: 1ac0a8293da1d327558707662c4fe567
                    source: SANDBOX
                  applicationInfo:
                    workers:
                      amount: 2
                      type:
                        name: Micro
                  autoStart: true
                exchange:
                  applicationSource:
                    groupId: org.mule.examples
                    artifactId: hello-world
                    version: 1.4.0
                    source: EXCHANGE
                  applicationInfo:
                    workers:
                      type:
                        name: Micro
                      amount: 2
                  autoStart: true
              type: object
              properties:
                autoStart:
                  description: Should the application start deploying
                  type: boolean
                applicationInfo:
                  description: Application deployment information
                  type: object
                  properties:
                    domain:
                      description: Desired unique CloudHub application domain, required for new applications
                      type: string
                    fileName:
                      description: Display name for the application file, without extension
                      type: string
                    loggingCustomLog4JEnabled:
                      description: Whether custom Log4J logging is enabled
                      type: boolean
                    loggingNgEnabled:
                      type: boolean
                    logLevels:
                      description: Log levels configuration
                      type: array
                      items:
                        type: object
                        required:
                        - level
                        - packageName
                        properties:
                          level:
                            description: Log level to be set for the specified package
                            enum:
                            - TRACE
                            - DEBUG
                            - INFO
                            - WARN
                            - ERROR
                            type: string
                          packageName:
                            description: Name of the package for which the log level is being set
                            type: string
                    monitoringAutoRestart:
                      description: Whether application should be restarted when not responding
                      type: boolean
                    monitoringEnabled:
                      description: Whether Anypoint Monitoring is enabled for the application
                      type: boolean
                    muleVersion:
                      description: CloudHub Mule runtime version to use. For new deployments obtainer this information from the mule-versions endpoint
                      type: object
                      properties:
                        updateId:
                          description: Update ID identifying the specific patch for the main version. Corresponds to latestUpdate.id from mule-versions endpoint
                          type: string
                        version:
                          description: Main version to use
                          type: string
                    objectStoreV1:
                      description: Whether Object Store V1 should be used, otherwise Object Store V2 will apply
                      type: boolean
                    persistentQueues:
                      description: Whether persistent queues are enabled
                      type: boolean
                    persistentQueuesEncrypted:
                      description: Whether persistent queues are to be encrypted
                      type: boolean
                    properties:
                      description: System property overrides
                      type: object
                      additionalProperties: true
                    region:
                      description: Region where the application is deployed
                      type: string
                    staticIPsEnabled:
                      description: Whether static IPs are enabled
                      type: boolean
                    trackingSettings:
                      description: Insight level
                      type: object
                      required:
                      - trackingLevel
                      properties:
                        trackingLevel:
                          enum:
                          - DISABLED
                          - METADATA
                          - METADATA_AND_REPLAY
                          type: string
                    workers:
                      description: Replicas configuration
                      type: object
                      required:
                      - amount
                      - type
                      properties:
                        amount:
                          description: Number of workers
                          type: integer
                        type:
                          description: Worker vCore size, specifying the right name is enough, the other properties are infromative
                          type: object
                          required:
                          - name
                          properties:
                            cpu:
                              description: CPU allocation for the worker
                              type: string
                            memory:
                              description: Memory allocation for the worker
                              type: string
                            name:
                              description: Name of the worker type
                              type: string
                            weight:
                              description: vCore allocation
                              type: number
                applicationSource:
                  description: Information about application source
                  type: object
                  properties:
                    artifactId:
                      description: artifactId for exchange source
                      type: string
                    fileChecksum:
                      description: fileChecksum for sandbox source
                      type: string
                    fileSource:
                      description: fileSource for sandbox source
                      type: string
                    groupId:
                      description: groupId for exchange source
                      type: string
                    source:
                      description: Source type
                      enum:
                      - EXCHANGE
                      - SANDBOX
                      type: string
                    version:
                      description: version for exchange source
                      type: string
          application/json:
            schema:
              description: CloudHub Application from Exchange or Sandbox
              x-amf-examples:
                sandbox:
                  applicationSource:
                    fileSource: 5a0251232f6ce02c9b813bd4
                    fileChecksum: 1ac0a8293da1d327558707662c4fe567
                    source: SANDBOX
                  applicationInfo:
                    workers:
                      amount: 2
                      type:
                        name: Micro
                  autoStart: true
                exchange:
                  applicationSource:
                    groupId: org.mule.examples
                    artifactId: hello-world
                    version: 1.4.0
                    source: EXCHANGE
                  applicationInfo:
                    workers:
                      type:
                        name: Micro
                      amount: 2
                  autoStart: true
              type: object
              properties:
                autoStart:
                  description: Should the application start deploying
                  type: boolean
                applicationInfo:
                  description: Application deployment information
                  type: object
                  properties:
                    domain:
                      description: Desired unique CloudHub application domain, required for new applications
                      type: string
                    fileName:
                      description: Display name for the application file, without extension
                      type: string
                    loggingCustomLog4JEnabled:
                      description: Whether custom Log4J logging is enabled
                      type: boolean
                    loggingNgEnabled:
                      type: boolean
                    logLevels:
                      description: Log levels configuration
                      type: array
                      items:
                        type: object
                        required:
                        - level
                        - packageName
                        properties:
                          level:
                            description: Log level to be set for the specified package
                            enum:
                            - TRACE
                            - DEBUG
                            - INFO
                            - WARN
                            - ERROR
                            type: string
                          packageName:
                            description: Name of the package for which the log level is being set
                            type: string
                    monitoringAutoRestart:
                      description: Whether application should be restarted when not responding
                      type: boolean
                    monitoringEnabled:
                      description: Whether Anypoint Monitoring is enabled for the application
                      type: boolean
                    muleVersion:
                      description: CloudHub Mule runtime version to use. For new deployments obtainer this information from the mule-versions endpoint
                      type: object
                      properties:
                        updateId:
                          description: Update ID identifying the specific patch for the main version. Corresponds to latestUpdate.id from mule-versions endpoint
                          type: string
                        version:
                          description: Main version to use
                          type: string
                    objectStoreV1:
                      description: Whether Object Store V1 should be used, otherwise Object Store V2 will apply
                      type: boolean
                    persistentQueues:
                      description: Whether persistent queues are enabled
                      type: boolean
                    persistentQueuesEncrypted:
                      description: Whether persistent queues are to be encrypted
                      type: boolean
                    properties:
                      description: System property overrides
                      type: object
                      additionalProperties: true
                    region:
                      description: Region where the application is deployed
                      type: string
                    staticIPsEnabled:
                      description: Whether static IPs are enabled
                      type: boolean
                    trackingSettings:
                      description: Insight level
                      type: object
                      required:
                      - trackingLevel
                      properties:
                        trackingLevel:
                          enum:
                          - DISABLED
                          - METADATA
                          - METADATA_AND_REPLAY
                          type: string
                    workers:
                      description: Replicas configuration
                      type: object
                      required:
                      - amount
                      - type
                      properties:
                        amount:
                          description: Number of workers
                          type: integer
                        type:
                          description: Worker vCore size, specifying the right name is enough, the other properties are infromative
                          type: object
                          required:
                          - name
                          properties:
                            cpu:
                              description: CPU allocation for the worker
                              type: string
                            memory:
                              description: Memory allocation for the worker
                              type: string
                            name:
                              description: Name of the worker type
                              type: string
                            weight:
                              description: vCore allocation
                              type: number
                applicationSource:
                  description: Information about application source
                  type: object
                  properties:
                    artifactId:
                      description: artifactId for exchange source
                      type: string
                    fileChecksum:
                      description: fileChecksum for sandbox source
                      type: string
                    fileSource:
                      description: fileSource for sandbox source
                      type: string
                    groupId:
                      description: groupId for exchange source
                      type: string
                    source:
                      description: Source type
                      enum:
                      - EXCHANGE
                      - SANDBOX
                      type: string
                    version:
                      description: version for exchange source
                      type: string
        x-amf-mediaType: application/json
        description: The applications data to update.
      x-amf-requestPayloads:
      - mediaType: multipart/form-data
        schema:
          type: object
          required:
          - appInfoJson
          properties:
            file:
              description: 'Contents of a Mule application file

                '
              type: file
            appInfoJson:
              description: 'application attributes in json format

                '
              example:
                value: "{\n   \"fileChecksum\":\"\",\n   \"fileSource\":\"\",\n   \"muleVersion\":{\n      \"version\":\"3.8.2\",\n      \"updateId\": \"581bbe7383a74dc0901efd1c\"\n   },\n   \"properties\":{\n      \"key1\":\"value1\"\n   },\n   \"logLevels\":[\n\n   ],\n   \"trackingSettings\":{\n      \"trackingLevel\":\"DISABLED\"\n   },\n   \"region\":\"us-east-1\",\n   \"multitenanted\":false,\n   \"vpnEnabled\":false,\n   \"secureDataGatewayEnabled\":false,\n   \"persistentQueues\":false,\n   \"persistentQueuesEncrypted\":false,\n   \"monitoringEnabled\":true,\n   \"monitoringAutoRestart\":true,\n   \"workers\":{\n      \"type\":{\n         \"name\":\"Medium\",\n         \"weight\":1,\n         \"cpu\":\"1 vCore\",\n         \"memory\":\"1.5 GB memory\"\n      },\n      \"amount\":1\n   }\n}"
              type: string
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id005
                  domain: example-app
                  fullDomain: example-app.cloudhub.io
                  description: ''
                  properties: {}
                  propertiesOptions: {}
                  status: STARTED
                  workers:
                    type:
                      name: Medium
                      weight: 1
                      cpu: 1 vCore
                      memory: 1.5 GB memory
                    amount: 1
                    remainingOrgWorkers: 1
                    totalOrgWorkers: 1
                    recentStatistics:
                      transactions: 0
                      cpu: 0.95
                  lastUpdateTime: 1425571830350
                  fileName: example-app.zip
                  muleVersion:
                    version: 4.4.0
                    updateId: 651c112af26039320eef384f
                    latestUpdateId: 6527fb5109623963cc1d425e
                    endOfSupportDate: 1703991600000
                    endOfLifeDate: 1704078000000
                    updateVersion: 10-03-2023
                    releaseChannel: NONE
                    javaVersion: '8'
                  previousMuleVersion:
                    version: 4.4.0
                    updateId: 64f20477036da5595236faaf
                    endOfSupportDate: 1703991600000
                    endOfLifeDate: 1704078000000
                    updateVersion: 09-01-2023
                    releaseChannel: NONE
                    javaVersion: '8'
                  tenants: 0
                  userId: 54f7ed7ae4b0d48f31a3099e
                  userName: fred-smith
                  vpnConfig:
                    network: 203.0.113.0
                    mask: 27
                  deploymentGroup:
                    id: 5aff4d75ea4580594b7405d6
                    name: US West and East 1
                  persistentQueues: false
                  persistentQueuesEncryptionEnabled: false
                  persistentQueuesEncrypted: false
                  monitoringEnabled: true
                  monitoringAutoRestart: true
                  staticIPsEnabled: false
                  multitenanted: false
                  hasFile: true
                  secureDataGatewayEnabled: false
                  vpnEnabled: false
                  trackingSettings:
                    trackingLevel: DISABLED
                  logLevels: []
                  ipAddresses: []
              example: *id005
      operationId: updateV2ApplicationsByDomain
  /v2/applications/{domain}/dashboardStats:
    description: 'Dashboard statistics


      Dashboard stats contains various metrics as requested, each includes multiple <timestamp, value> pairs referred to as statistic points.

      The number of statistic points depends on the time range and the interval for the statistics.


      The statistics available are:


      | Metric Name              | Description                                                                                |

      | ------------------       |:-------------------------------------------------------------------------------------------|

      | **events**               | Total number of mule events occur within the specific interval. Note: Due to the 60-second collection cycle, events occurring in one calendar minute may appear in an adjacent minute window. This is expected behavior based on when events are collected by the Mule agent statistics system. |

      | **diskReadBytes**        | Average disk read in bytes per minute within the specific interval                         |

      | **diskWriteBytes**       | Average disk write in bytes per minute within the specific interval                        |

      | **networkIn**            | Average networkIn in bytes per minute within the specific interval                         |

      | **networkOut**           | Average networkOut in bytes per minute within the specific interval                        |

      | **memoryTotalUsed**      | Average memory used in bytes within the specific interval                                  |

      | **memoryPercentageUsed** | Average percentage of memory used within the specific interval                             |

      | **memoryTotalMax**       | Total memory in bytes of the worker. memoryTotalUsed/memoryTotalMax = memoryPercentageUsed |

      | **cpu**                  | Average percentage of cpu used within the specific interval                                |


      **Important notes:**


      - **Statistics Events cap:** When the requested duration exceeds 250 intervals, the API preserves the full time range but automatically recalculates the interval to fit within 250 data points.


      - **WorkerStatistics behaviour:** Worker metrics are limited to a maximum of 1440 data points and do not auto-adjust intervals when within limits.


      - **Retention limit:** Metrics requested at 1-minute resolution are only available for the last 15 days.


      - **Disk metrics (-1 values):** diskReadBytes and diskWriteBytes may return -1 when instance store volumes are not present. These metrics can be safely ignored in such cases.

      '
    get:
      description: 'Retrieve statistics for an application or specific application workers.

        Requires ''Read Applications'' role.


        (Note: The maximum number of statistic points returned for each metric from a single call is 1440.)

        '
      parameters:
      - name: endDate
        description: 'ISO format date string representing the last date to retrieve statistics. If not specified, defaults to now.

          '
        required: true
        in: query
        schema:
          type: string
      - name: statistics
        description: 'Specify which statistics to retrieve. If not specified, retrieve all statistics

          '
        required: true
        in: query
        schema:
          type: string
      - name: interval
        description: Amount of time between samples in milliseconds. Worker statistics can be retrieved for period as short as 1 minute.
        required: true
        in: query
        schema:
          type: integer
          default: 900000
      - name: workerIds
        description: 'Specify which worker to retrieve statistics for. Can be specified multiple times to retrieve statistics for multiple workers. If not specified, statistics for all workers are retrieved.

          '
        required: true
        in: query
        schema:
          type: string
      - name: startDate
        description: 'ISO format date string representing the first date to retrieve statistics. If not specified, defaults to endDate - 24 hours.

          '
        required: true
        in: query
        schema:
          type: string
      - name: domain
        description: Application domain name
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id006
                  events:
                    '1431145723547': 0
                    '1431229423547': 0
                    '1431230323547': 0
                    '1431231223547': 0
                  workerStatistics:
                  - id: i-0331cdfc
                    ipAddress: 52.6.239.113
                    statistics:
                      memoryTotalUsed:
                        '1431231180000': 1000
                        '1431232080000': 1000
                      diskWriteBytes:
                        '1431145680000': -1
                        '1431146580000': -1
                      cpu:
                        '1431145680000': 3
                        '1431146580000': 5
                      networkOut:
                        '1431146580000': 34234
                        '1431231180000': 73779.5
                      diskReadBytes:
                        '1431145680000': 3434
                        '1431146580000': 4545
                      networkIn:
                        '1431145680000': 4554
                        '1431146580000': 2222
                        '1431231180000': 334
                        '1431232080000': 6666
                      memoryTotalMax:
                        '1431145680000': 344
                        '1431146580000': 344
              example: *id006
      operationId: getV2ApplicationsByDomainDashboardstats
  /v2/applications/{domain}/files:
    description: 'Deploy or re-deploy an application with the specified application file.

      '
    post:
      description: 'Deploy or re-deploy an application with the specified application file.

        Requires ''Manage Settings'' role.

        '
      parameters:
      - name: domain
        description: Application domain name
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  description: 'Contents of a Mule application file

                    '
                  type: string
                  format: binary
                staticIp:
                  description: 'Ip address to serve the application on

                    '
                  example: 10.4.5.20
                  type: string
        x-amf-mediaType: multipart/form-data
        description: The files data to create.
      responses:
        '200':
          description: 'Application deployment queued successfully.

            '
      operationId: createV2ApplicationsByDomainFiles
  /v2/applications/{domain}/queueStatistics:
    description: Retrieve statistics for persistent queues.
    get:
      description: 'Retrieve statistics for persistent queues.

        Requires ''Read Applications'' role.

        '
      parameters:
      - name: endDate
        description: 'ISO format date string representing the last date to retrieve statistics. If not specified, defaults to now.

          '
        required: false
        in: query
        schema:
          type: string
      - name: statistics
        description: 'Specifiy which statistics to retrieve

          '
        required: false
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
          default:
          - queued
          - inFlight
          - added
          - dequeued
      - name: interval
        description: 'Amount of time between samples in milliseconds.

          '
        required: false
        in: query
        schema:
          type: integer
          default: 300000
      - name: offset
        description: 'Index of the first queue to retrieve. Used for paging results.

          '
        required: true
        in: query
        schema:
          type: integer
          default: 0
      - name: queueName
        description: 'Specify the name of the queue to retrieve data for

          '
        required: true
        in: query
        schema:
          type: string
      - name: limit
        description: 'Maximum number of queues to retrieve statistics for.

          '
        required: true
        in: query
        schema:
          type: integer
          default: 20
      - name: startDate
        description: 'ISO format date string representing the first date to retrieve statistics. If not specified, defaults to endDate - 24 hours.

          '
        required: false
        in: query
        schema:
          type: string
      - name: domain
        description: Application domain name
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id007
                  queues:
                  - id: 54f7ed78e4b0d48f31a30891_54f87d13e4b0d48f320c66cb_A9452D1A86C11FD2E70F2481D99B31
                    name: seda.queue(helloworldFlow.stage1)
                    queued: 0
                    inFlight: 0
                    status: NORMAL
                  queueStatistics:
                  - id: 54f7ed78e4b0d48f31a30891_54f87d13e4b0d48f320c66cb_A9452D1A86C11FD2E70F2481D99B31
                    statistics:
                      queued: {}
                      inFlight: {}
                      dequeued: {}
                  total: 1
              example: *id007
      operationId: getV2ApplicationsByDomainQueuestatistics
  /v2/applications/{domain}/staticips:
    description: Manage the static Ips
    get:
      description: 'Retrieve all the static IP addresses related with the application

        '
      parameters:
      - name: domain
        description: Application domain name
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id008
                  total: 2
                  data:
                  - regionId: us-east-1
                    regionName: US East (N. Virginia)
                    type: vpc
                    address: 0.0.0.0
                    state: IN_USE
                  - regionId: us-west-2
                    regionName: US West (Oregon)
                    type: vpc
                    address: 0.0.0.0
                    state: ASSIGNED
              example: *id008
      operationId: getV2ApplicationsByDomainStaticips
    post:
      description: 'Request a static IP for the application.

        '
      parameters:
      - name: domain
        description: Application domain name
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStaticIp'
        x-amf-mediaType: application/json
        description: The staticips data to create.
      responses:
        '200':
          description: 'Static IP is assigned to the application

            '
        '400':
          description: 'Region is not valid or application, or static IP is not enabled for the app

            '
        '403':
          description: 'Static IP is not allowed for the org or the app

            '
        '409':
          description: 'A static IP is already reserved for the app

            '
      operationId: createV2ApplicationsByDomainStaticips
  /v2/applications/{domain}/staticips/{region}:
    delete:
      description: Release any unused static IP address(es) assigned to the application for that region back to the pool.
      parameters:
      - name: domain
        description: Application domain name
        required: true
        in: path
        schema:
          type: string
      - name: region
        description: the region
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      responses:
        '204':
          description: 'IP address is successfully released back to the pool.

            '
        '400':
          description: 'Region not in existence.

            '
        '403':
          description: 'Static IP is not allowed for the org or the app

            '
        '409':
          description: 'A concurrent request has modified the status of the IP before freeing.

            '
      operationId: deleteV2ApplicationsByDomainStaticipsByRegion
  /v2/applications/{domain}/deployments:
    get:
      description: 'description: Retrieve deploymentIds and InstanceIds using this API. These Ids are useful for downloading mule application and worker logs.

        '
      parameters:
      - name: limit
        description: 'Maximum number of deployments to retrieve.

          '
        required: false
        in: query
        schema:
          type: integer
          default: 25
      - name: offset
        description: 'Index of the first deployment to retrieve. Used for paging results.

          '
        required: false
        in: query
        schema:
          type: integer
          default: 0
      - name: orderByDate
        description: 'Order of deployments

          '
        required: false
        in: query
        schema:
          type: string
          enum:
          - DESC
          - ASC
          default: ASC
      - name: loggingVersion
        description: 'if you are using new logging system then use VERSION_2

          '
        required: false
        in: query
        schema:
          type: string
          enum:
          - VERSION_1
          - VERSION_2
          default: VERSION_2
      - name: domain
        description: Application domain name
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id009
                  data:
                  - deploymentId: 566f011be4b06b370949daff
                    createTime: 2015-12-14 17:49:15.731000+00:00
                    startTime: 2015-12-14 17:49:19.329000+00:00
                    endTime: 2015-12-14 17:53:52.828000+00:00
                    instances:
                    - instanceId: 566f011be4b06b370949daff-0
                      publicIPAddress: 52.91.11.88
                      status: STARTED
                      region: us-east-1
                  - deploymentId: 566f00c2e4b06b3709496e0d
                    createTime: 2015-12-14 17:47:46.833000+00:00
                    startTime: 2015-12-14 17:47:49.282000+00:00
                    endTime: 2015-12-14 17:49:18.366000+00:00
                    instances: []
                  - deploymentId: 566efefae4b06b3709475a6b
                    createTime: 2015-12-14 17:40:10.659000+00:00
                    startTime: 2015-12-14 17:40:14.002000+00:00
                    endTime: 2015-12-14 17:43:25.923000+00:00
                    instances: []
                  - deploymentId: 566efdd5e4b06b37094601dc
                    createTime: 2015-12-14 17:35:17.351000+00:00
                    startTime: 2015-12-14 17:35:18.228000+00:00
                    endTime: 2015-12-14 17:38:30.207000+00:00
                    instances: []
                  - deploymentId: 566efdd2e4b06b370945ff40
                    createTime: 2015-12-14 17:35:14.444000+00:00
                    startTime: 2015-12-14 17:35:18.231000+00:00
                    endTime: 2015-12-14 17:35:18.356000+00:00
                    instances: []
                  total: 5
              example: *id009
      operationId: getV2ApplicationsByDomainDeployments
  /v2/applications/{domain}/deployments/{deploymentId}/logs:
    get:
      description: 'Retrieve deployment log for a specific depoymentId. May be subject of rate limit.


        We do not recommend the use of this API for extraction of logs. Please use custom log appenders for this purpose. [More Info](https://docs.mulesoft.com/cloudhub/custom-log-appender)

        '
      parameters:
      - name: limit
        description: 'number of log lines, less or equal 2000

          '
        required: false
        in: query
        schema:
          type: integer
          default: 100
      - name: domain
        description: Application domain name
        required: true
        in: path
        schema:
          type: string
      - name: deploymentId
        description: deploymentId retrieved from /deployments API
        required: true
        in: path
        schema:
          type: string
        x-origin:
        - api: urn:api:cloudhub
          operation: GET /v2/applications/{domain}/deployments
          description: GET `/v2/applications/{domain}/deployments` in this API; use `id` values as `deploymentId`.
          values: $.id
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id010
                  data:
                  - loggerName: org.mule.api.processor.LoggerMessageProcessor
                    threadName: '[test-test].Copy_of_echoFlow.stage1.02'
                    timestamp: 1450128121850
                    message: "\norg.mule.DefaultMuleMessage\n{\n  id=b751b960-a2a8-11e5-9d9b-0e4b77f24b53\n  payload=org.glassfish.grizzly.utils.BufferInputStream\n  correlationId=<not set>\n  correlationGroup=-1\n  correlationSeq=-1\n  encoding=UTF-8\n  exceptionPayload=<not set>\n\nMessage properties:\n  INVOCATION scoped properties:\n    pollingFrequency=1000\n  INBOUND scoped properties:\n    MULE_ORIGINATING_ENDPOINT=endpoint.polling.1912630717\n    cache-control=public, no-cache=\"Set-Cookie\", max-age=21\n    cf-ray=254cf63924c50097-IAD\n    connection=keep-alive\n    content-type=text/html; charset=utf-8\n    date=Mon, 14 Dec 2015 21:22:01 GMT\n    expires=Mon, 14 Dec 2015 21:22:23 GMT\n    http.reason=OK\n    http.status=200\n    last-modified=Mon, 14 Dec 2015 21:21:23 GMT\n    server=cloudflare-nginx\n    set-cookie=[__cfduid=d267b5965fec19705b85e5d82160b774d1450128121; expires=Tue, 13-Dec-16 21:22:01 GMT; path=/; domain=.stackoverflow.com; HttpOnly, prov=79f490c4-c64a-4de6-80a3-36b6f19f9cbc; domain=.stackoverflow.com; expires=Fri, 01-Jan-2055 00:00:00 GMT; path=/; HttpOnly]\n    transfer-encoding=chunked\n    vary=*\n    x-frame-options=SAMEORIGIN\n    x-request-guid=2f2996ba-bd71-43ac-bab2-d0e5682ebf51\n  OUTBOUND scoped properties:\n  SESSION scoped properties:\n}"
                    priority: INFO
                    instanceId: 566f011be4b06b370949daff-0
                  - loggerName: org.mule.api.processor.LoggerMessageProcessor
                    threadName: '[test-test].echoFlow.stage1.02'
                    timestamp: 1450128121851
                    message: "\norg.mule.DefaultMuleMessage\n{\n  id=b7522e90-a2a8-11e5-9d9b-0e4b77f24b53\n  payload=org.glassfish.grizzly.utils.BufferInputStream\n  correlationId=<not set>\n  correlationGroup=-1\n  correlationSeq=-1\n  encoding=UTF-8\n  exceptionPayload=<not set>\n\nMessage properties:\n  INVOCATION scoped properties:\n    pollingFrequency=1000\n  INBOUND scoped properties:\n    MULE_ORIGINATING_ENDPOINT=endpoint.polling.1912630717\n    cache-control=public, no-cache=\"Set-Cookie\", max-age=21\n    cf-ray=254cf63933d2087a-IAD\n    connection=keep-alive\n    content-type=text/html; charset=utf-8\n    date=Mon, 14 Dec 2015 21:22:01 GMT\n    expires=Mon, 14 Dec 2015 21:22:23 GMT\n    http.reason=OK\n    http.status=200\n    last-modified=Mon, 14 Dec 2015 21:21:23 GMT\n    server=cloudflare-nginx\n    set-cookie=[__cfduid=d8f18998797a26f0957f21db409e1741d1450128121; expires=Tue, 13-Dec-16 21:22:01 GMT; path=/; domain=.stackoverflow.com; HttpOnly, prov=7809cd0f-2cbe-4a8f-9df2-c5373732961d; domain=.stackoverflow.com; expires=Fri, 01-Jan-2055 00:00:00 GMT; path=/; HttpOnly]\n    transfer-encoding=chunked\n    vary=*\n    x-frame-options=SAMEORIGIN\n    x-request-guid=169bb6da-6b64-41ee-846a-fda65c51fbf1\n  OUTBOUND scoped properties:\n  SESSION scoped properties:\n}"
                    priority: INFO
                    instanceId: 566f011be4b06b370949daff-0
                  - loggerName: org.mule.api.processor.LoggerMessageProcessor
                    threadName: '[test-test].Copy_of_echoFlow.stage1.02'
                    timestamp: 1450128143460
                    message: "\norg.mule.DefaultMuleMessage\n{\n  id=c4334d10-a2a8-11e5-9d9b-0e4b77f24b53\n  payload=org.glassfish.grizzly.utils.BufferInputStream\n  correlationId=<not set>\n  correlationGroup=-1\n  correlationSeq=-1\n  encoding=UTF-8\n  exceptionPayload=<not set>\n\nMessage properties:\n  INVOCATION scoped properties:\n    pollingFrequency=1000\n  INBOUND scoped properties:\n    MULE_ORIGINATING_ENDPOINT=endpoint.polling.1912630717\n    cache-control=public, no-cache=\"Set-Cookie\", max-age=40\n    cf-ray=254cf6c047f52456-IAD\n    connection=keep-alive\n    content-type=text/html; charset=utf-8\n    date=Mon, 14 Dec 2015 21:22:23 GMT\n    expires=Mon, 14 Dec 2015 21:23:03 GMT\n    http.reason=OK\n    http.status=200\n    last-modified=Mon, 14 Dec 2015 21:22:03 GMT\n    server=cloudflare-nginx\n    set-cookie=[__cfduid=daba5383a0f8ede6ff1c538ca4eade3fa1450128143; expires=Tue, 13-Dec-16 21:22:23 GMT; path=/; domain=.stackoverflow.com; HttpOnly, prov=6844e5be-37f5-439f-b853-fb47c747d92d; domain=.stackoverflow.com; expires=Fri, 01-Jan-2055 00:00:00 GMT; path=/; HttpOnly]\n    transfer-encoding=chunked\n    vary=*\n    x-frame-options=SAMEORIGIN\n    x-request-guid=0255f6eb-9993-4a1e-91e8-3fbfbce0f277\n  OUTBOUND scoped properties:\n  SESSION scoped properties:\n}"
                    priority: INFO
                    instanceId: 566f011be4b06b370949daff-0
                  total: 3
              example: *id010
        '429':
          description: Rejected due to rate limit.
      operationId: getV2ApplicationsByDomainDeploymentsByDeploymentidLogs
  /v2/applications/{domain}/instances:
    parameters:
    - name: domain
      description: Application domain name
      required: true
      in: path
      schema:
        type: string
  /v2/applications/{domain}/instances/{instanceId}:
    parameters:
    - name: domain
      description: Application domain name
      required: true
      in: path
      schema:
        type: string
    - name: instanceId
      description: instanceId retrieved from /deployments API
      required: true
      in: path
      schema:
        type: string
  /v2/applications/{domain}/instances/{instanceId}/logs:
    get:
      description: 'Retrieve instance log for a specific instanceId. Instance log is related to your application. May be subject to rate limit.


        We do not recommend the use of this API for extraction of logs. Please use custom log appenders for this purpose. [More Info](https://docs.mulesoft.com/cloudhub/custom-log-appender)

        '
      parameters:
      - name: limit
        description: 'number of log lines, less or equal 2000

          '
        required: false
        in: query
        schema:
          type: integer
          default: 100
      - name: offset
        description: 'offset from end for tail, or from start for head request

          '
        required: false
        in: query
        schema:
          type: integer
          default: 0
      - name: tail
        description: 'tail the log

          '
        required: false
        in: query
        schema:
          type: boolean
          default: false
      - name: domain
        description: Application domain name
        required: true
        in: path
        schema:
          type: string
      - name: instanceId
        description: instanceId retrieved from /deployments API
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: &id011
                  data:
                  - loggerName: org.mule.module.launcher.application.DefaultMuleApplication
                    threadName: qtp18605202-31
                    timestamp: 1450115553412
                    message: '

                      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

                      + Initializing app ''test-test''                             +

                      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++'
                    priority: INFO
                  - loggerName: com.mulesoft.ch.monitoring.MonitoringCoreExtension
                    threadName: qtp18605202-31
                    timestamp: 1450115554065
                    message: 'Monitoring enabled: true'
                    priority: INFO
                  - loggerName: com.mulesoft.ch.monitoring.MonitoringCoreExtension
                    threadName: qtp18605202-31
                    timestamp: 1450115554066
                    message: Registering ping flow injector...
                    priority: INFO
                  - loggerName: com.mulesoft.ch.queue.boot.PersistentQueueCoreExtension
                    threadName: qtp18605202-31
                    timestamp: 1450115554083
                    message: The PersistentQueueManager is NOT configured. The normal VM queue manager will be used.
                    priority: INFO
                  - loggerName: org.mule.lifecycle.AbstractLifecycleManager
                    threadName: qtp18605202-31
                    timestamp: 1450115554119
                    message: Initialising RegistryBroker
                    priority: INFO
                  - loggerName: org.mule.module.extension.internal.manager.DefaultExtensionManager
                    threadName: qtp18605202-31
                    timestamp: 1450115554265
                    message: Starting discovery of extensions
                    priority: INFO
                  - loggerName: org.mule.module.extension.internal.manager.DefaultExtensionManager
                    threadName: qtp18605202-31
                    timestamp: 1450115555132
                    message: Discovered 1 extensions
                    priority: INFO
                  - loggerName: org.mule.module.extension.internal.manager.DefaultExtensionManager
                    threadName: qtp18605202-31
                    timestamp: 1450115555132
                    message: Registering extension validation (version 3.7)
                    priority: INFO
                  - loggerName: org.mule.config.spring.MuleArtifactContext
                    threadName: qtp18605202-31
                    timestamp: 1450115555560
                    message: 'Refreshing org.mule.config.spring.MuleArtifactContext@49cfd433: startup date [Mon Dec 14 17:52:35 UTC 2015]; root of context hierarchy'
                    priority: INFO
                  - loggerName: org.mule.config.spring.processors.NoDevkitInjectorProcessor
                    threadName: qtp18605202-31
                    timestamp: 1450115559139
                    message: JSR-330 'javax.inject.Inject' annotation found and supported for autowiring
                    priority: INFO
                  - loggerName: org.springframework.beans.factory.support.DefaultListableBeanFactory
                    threadName: qtp18605202-31
                    timestamp: 1450115559778
                    message: 'Bean creation exception on FactoryBean type check: org.springframework.beans.factory.BeanCurrentlyInCreationException: Error creating bean with name ''_defaultUserObjectStore'': Requested bean is currently in creation: Is there an unresolvable circular reference?'
                    priority: WARN
                  - loggerName: org.springframework.beans.factory.support.DefaultListableBeanFactory
                    threadName: qtp18605202-31
                    timestamp: 1450115559916
                    message: 'Bean creation exception on FactoryBean type check: org.springframework.beans.factory.BeanCurrentlyInCreationException: Error creating bean with name ''_defaultUserObjectStore'': Requested bean is currently in creation: Is there an unresolvable circular reference?'
                    priority: WARN
                  - loggerName: org.mule.lifecycle.AbstractLifecycleManager
                    threadName: qtp18605202-31
                    timestamp: 1450115562916
                    message: 'Initialising connector: connector.polling.mule.default'
                    priority: INFO
                  - loggerName: org.mule.lifecycle.AbstractLifecycleManager
                    threadName: qtp18605202-31
                    timestamp: 1450115563399
                    message: 'Initialising model: _muleSystemModel'
                    priority: INFO
                  - loggerName: org.mule.construct.FlowConstructLifecycleManager
                    threadName: qtp18605202-31
                    timestamp: 1450115564260
                    message: 'Initialising flow: echoFlow'
                    priority: INFO
                  - loggerName: org.mule.exception.DefaultMessagingExceptionStrategy
                    threadName: qtp18605202-31
                    timestamp: 1450115564274
                    message: 'Initialising exception listener: org.mule.exception.DefaultMessagingExceptionStrategy@681f155'
                    priority: INFO
                  - loggerName: org.mule.processor.SedaStageLifecycleManager
                    threadName: qtp18605202-31
                    timestamp: 1450115564404
                    message: 'Initialising service: echoFlow.stage1'
                    priority: INFO
                  - loggerName: org.mule.construct.FlowConstructLifecycleManager
                    threadName: qtp18605202-31
                    timestamp: 1450115564469
                    message: 'Initialising flow: Copy_of_echoFlow'
                    priority: INFO
                  - loggerName: org.mule.exception.DefaultMessagingExceptionStrategy
                    threadName: qtp18605202-31
                    timestamp: 1450115564469
                    message: 'Initialising exception listener: org.mule.exception.DefaultMessagingExceptionStrategy@5face4a9'
                    priority: INFO
                  - loggerName: org.mule.processor.SedaStageLifecycleManager
                    threadName: qtp18605202-31
                    timestamp: 1450115564474
                    message: 'Initialising service: Copy_of_echoFlow.stage1'
                    priority: INFO
                  - loggerName: org.mule.util.journal.TransactionJournal
                    threadName: qtp18605202-31
                    timestamp: 1450115564522
                    message: Using files for tx logs /opt/mule/mule-3.7.2-R44/./.mule/test-test/queue-tx-log/tx1.log and /opt/mule/mule-3.7.2-R44/./.mule/test-test/queue-tx-log/tx2.log
                    priority: INFO
                  - loggerName: org.mule.util.journal.TransactionJournal
                    threadName: qtp18605202-31
                    timestamp: 1450115564523
                    message: Using files for tx logs /opt/mule/mule-3.7.2-R44/./.mule/test-test/queue-xa-tx-log/tx1.log and /opt/mule/mule-3.7.2-R44/./.mule/test-test/queue-xa-tx-log/tx2.log
                    priority: INFO
                  - loggerName: org.mule.config.spring.SpringXmlConfigurationBuilder
                    threadName: qtp18605202-31
                    timestamp: 1450115564717
                    message: 'Configured Mule using "org.mule.config.spring.SpringXmlConfigurationBuilder" with configuration resource(s): "[ConfigResource{resourceName=''/opt/mule/mule-3.7.2-R44/apps/test-test/queue-test2.xml''}]"'
                    priority: INFO
                  total: 14
              example: *id011
        '429':
          description: Rejected due to rate limit.
      operationId: getV2ApplicationsByDomainInstancesByInstanceidLogs
  /v2/applications/{domain}/instances/{instanceId}/diagnostics:
    get:
      description: 'description: Retrieve thread dump of a worker.

        '
      parameters:
      - name: domain
        description: Application domain name
        required: true
        in: path
        schema:
          type: string
      - name: instanceId
        description: instanceId retrieved from /deployments API
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/XOrigin_X_ANYPNT_ENV_ID_Header'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/octet-stream
          content:
            application/octet-stream:
              schema:
                example: "2016-06-03 18:53:03\nFull thread dump Java HotSpot(TM) 64-Bit Server VM (25.51-b03 mixed mode):\n\n\"Attach Listener\" #83 daemon prio=9 os_prio=0 tid=0x00007f9cac01b800 nid=0xb1f waiting on condition [0x0000000000000000]\n   java.lang.Thread.State: RUNNABLE\n\n\"[ironman].VM.dispatcher.01\" #82 prio=5 os_prio=0 tid=0x00007f9cdc257000 nid=0xb03 waiting on condition [0x00007f9ca1b95000]\n   java.lang.Thread.State: WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\n\n\n\n\n\n\t- parking to wait for  <0x00000000eeb5b088> (a java.util.concurrent.SynchronousQueue$TransferStack)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)\n\n\n\n\n\n\n\tat java.util.concurrent.SynchronousQueue$TransferStack.awaitFulfill(SynchronousQueue.java:458)\n\n\n\n\n\n\n\tat java.util.concurrent.SynchronousQueue$TransferStack.transfer(SynchronousQueue.java:362)\n\n\n\n\n\n\n\tat java.util.concurrent.SynchronousQueue.take(SynchronousQueue.java:924)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"[ironman].echoFlow.stage1.02\" #81 prio=5 os_prio=0 tid=0x0000000001779800 nid=0xb02 waiting on condition [0x00007f9ca2b9d000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\n\n\n\n\n\n\t- parking to wait for  <0x00000000eec69798> (a java.util.concurrent.SynchronousQueue$TransferStack)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\n\n\n\n\n\n\tat java.util.concurrent.SynchronousQueue$TransferStack.awaitFulfill(SynchronousQueue.java:460)\n\n\n\n\n\n\n\tat java.util.concurrent.SynchronousQueue$TransferStack.transfer(SynchronousQueue.java:362)\n\n\n\n\n\n\n\tat java.util.concurrent.SynchronousQueue.poll(SynchronousQueue.java:941)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1066)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"[ironman].connector.http.mule.default.receiver.02\" #79 prio=5 os_prio=0 tid=0x00007f9cc46f1800 nid=0xaff waiting on condition [0x00007f9ca1e96000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\n\n\n\n\n\n\t- parking to wait for  <0x00000000eedbed28> (a java.util.concurrent.SynchronousQueue$TransferStack)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\n\n\n\n\n\n\tat java.util.concurrent.SynchronousQueue$TransferStack.awaitFulfill(SynchronousQueue.java:460)\n\n\n\n\n\n\n\tat java.util.concurrent.SynchronousQueue$TransferStack.transfer(SynchronousQueue.java:362)\n\n\n\n\n\n\n\tat java.util.concurrent.SynchronousQueue.poll(SynchronousQueue.java:941)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1066)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"[ironman].http.request.dispatch.7557.01\" #78 prio=5 os_prio=0 tid=0x00007f9cb4008800 nid=0xafe waiting on condition [0x00007f9ca2197000]\n   java.lang.Thread.State: WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\n\n\n\n\n\n\t- parking to wait for  <0x00000000eee40890> (a java.util.concurrent.SynchronousQueue$TransferStack)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)\n\n\n\n\n\n\n\tat java.util.concurrent.SynchronousQueue$TransferStack.awaitFulfill(SynchronousQueue.java:458)\n\
                  \n\n\n\n\n\n\tat java.util.concurrent.SynchronousQueue$TransferStack.transfer(SynchronousQueue.java:362)\n\n\n\n\n\n\n\tat java.util.concurrent.SynchronousQueue.take(SynchronousQueue.java:924)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"[ironman].connector.http.mule.default.receiver.01\" #77 prio=5 os_prio=0 tid=0x00007f9cc46b9800 nid=0xafd runnable [0x00007f9ca2298000]\n   java.lang.Thread.State: RUNNABLE\n\tat java.net.PlainSocketImpl.socketAccept(Native Method)\n\n\n\n\n\n\n\tat java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:404)\n\n\n\n\n\n\n\tat java.net.ServerSocket.implAccept(ServerSocket.java:545)\n\n\n\n\n\n\n\tat java.net.ServerSocket.accept(ServerSocket.java:513)\n\n\n\n\n\n\n\tat org.mule.transport.http.HttpRequestDispatcher$1.doWork(HttpRequestDispatcher.java:100)\n\n\n\n\n\n\n\tat org.mule.retry.policies.AbstractPolicyTemplate.execute(AbstractPolicyTemplate.java:63)\n\n\n\n\n\n\n\tat org.mule.transport.http.HttpRequestDispatcher.run(HttpRequestDispatcher.java:93)\n\n\n\n\n\n\n\tat org.mule.work.WorkerContext.run(WorkerContext.java:286)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"HttpClient-connection-cleaner-connector.http.mule.default\" #76 daemon prio=5 os_prio=0 tid=0x00007f9cc469d000 nid=0xafc in Object.wait() [0x00007f9ca2399000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\n\n\n\n\n\n\tat org.apache.commons.httpclient.util.IdleConnectionTimeoutThread.run(IdleConnectionTimeoutThread.java:108)\n\n\n\n\n\n\n\t- locked <0x00000000eedbf580> (a org.apache.commons.httpclient.util.IdleConnectionTimeoutThread)\n\n\n\n\n\n\n\n\"Thread-25\" #75 daemon prio=5 os_prio=0 tid=0x00007f9cc4695800 nid=0xafb waiting on condition [0x00007f9ca249a000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\n\n\n\n\n\n\t- parking to wait for  <0x00000000eedbff90> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.awaitNanos(AbstractQueuedSynchronizer.java:2078)\n\n\n\n\n\n\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:1093)\n\n\n\n\n\n\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:809)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"[ironman].processing.time.monitor\" #74 daemon prio=5 os_prio=0 tid=0x00007f9cc4680000 nid=0xafa in Object.wait() [0x00007f9ca259b000]\n   java.lang.Thread.State: WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\n\n\n\n\n\n\tat java.lang.ref.ReferenceQueue.remove(ReferenceQueue.java:143)\n\n\n\n\n\n\n\t- locked <0x00000000ee9002e0> (a java.lang.ref.ReferenceQueue$Lock)\n\n\n\n\n\n\n\tat java.lang.ref.ReferenceQueue.remove(ReferenceQueue.java:164)\n\n\n\n\n\n\n\tat org.mule.management.stats.DefaultProcessingTimeWatcher$ProcessingTimeChecker.run(DefaultProcessingTimeWatcher.java:76)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"[ironman].echoFlow.stage1.01\"\
                  \ #73 prio=5 os_prio=0 tid=0x00007f9cc4576800 nid=0xaf9 in Object.wait() [0x00007f9ca2a9c000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\n\n\n\n\n\n\tat org.mule.util.queue.AbstractQueueStoreDelegate.poll(AbstractQueueStoreDelegate.java:81)\n\n\n\n\n\n\n\t- locked <0x00000000eec12850> (a org.mule.util.queue.DefaultQueueStoreDelegate)\n\n\n\n\n\n\n\tat org.mule.util.queue.DefaultQueueStore.poll(DefaultQueueStore.java:89)\n\n\n\n\n\n\n\tat org.mule.util.queue.CacheAwareQueueStore.poll(CacheAwareQueueStore.java:48)\n\n\n\n\n\n\n\tat org.mule.util.queue.TransactionAwareQueueStore.poll(TransactionAwareQueueStore.java:105)\n\n\n\n\n\n\n\tat org.mule.processor.SedaStageInterceptingMessageProcessor.dequeue(SedaStageInterceptingMessageProcessor.java:155)\n\n\n\n\n\n\n\tat org.mule.processor.SedaStageInterceptingMessageProcessor.run(SedaStageInterceptingMessageProcessor.java:230)\n\n\n\n\n\n\n\tat org.mule.work.WorkerContext.run(WorkerContext.java:286)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"[ironman].http.requester.HTTP_Request_Configuration.worker(2)\" #71 daemon prio=5 os_prio=0 tid=0x00007f9cc4551000 nid=0xaf7 waiting on condition [0x00007f9ca2c9e000]\n   java.lang.Thread.State: WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\n\n\n\n\n\n\t- parking to wait for  <0x00000000eec69ef0> (a java.util.concurrent.LinkedTransferQueue)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)\n\n\n\n\n\n\n\tat java.util.concurrent.LinkedTransferQueue.awaitMatch(LinkedTransferQueue.java:737)\n\n\n\n\n\n\n\tat java.util.concurrent.LinkedTransferQueue.xfer(LinkedTransferQueue.java:647)\n\n\n\n\n\n\n\tat java.util.concurrent.LinkedTransferQueue.take(LinkedTransferQueue.java:1265)\n\n\n\n\n\n\n\tat org.glassfish.grizzly.threadpool.FixedThreadPool$BasicWorker.getTask(FixedThreadPool.java:105)\n\n\n\n\n\n\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.doWork(AbstractThreadPool.java:583)\n\n\n\n\n\n\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.run(AbstractThreadPool.java:571)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"[ironman].http.requester.HTTP_Request_Configuration.worker(1)\" #70 daemon prio=5 os_prio=0 tid=0x00007f9cc454f000 nid=0xaf6 waiting on condition [0x00007f9ca2d9f000]\n   java.lang.Thread.State: WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\n\n\n\n\n\n\t- parking to wait for  <0x00000000eec69ef0> (a java.util.concurrent.LinkedTransferQueue)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)\n\n\n\n\n\n\n\tat java.util.concurrent.LinkedTransferQueue.awaitMatch(LinkedTransferQueue.java:737)\n\n\n\n\n\n\n\tat java.util.concurrent.LinkedTransferQueue.xfer(LinkedTransferQueue.java:647)\n\n\n\n\n\n\n\tat java.util.concurrent.LinkedTransferQueue.take(LinkedTransferQueue.java:1265)\n\n\n\n\n\n\n\tat org.glassfish.grizzly.threadpool.FixedThreadPool$BasicWorker.getTask(FixedThreadPool.java:105)\n\n\n\n\n\n\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.doWork(AbstractThreadPool.java:583)\n\n\n\n\n\n\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.run(AbstractThreadPool.java:571)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"[ironman].http.requester.HTTP_Request_Configuration(1) SelectorRunner\" #69 daemon prio=5 os_prio=0 tid=0x00007f9cc454d800 nid=0xaf5 runnable [0x00007f9ca2ea0000]\n   java.lang.Thread.State: RUNNABLE\n\tat sun.nio.ch.EPollArrayWrapper.epollWait(Native Method)\n\n\n\n\n\n\n\tat sun.nio.ch.EPollArrayWrapper.poll(EPollArrayWrapper.java:269)\n\n\n\n\n\n\n\tat sun.nio.ch.EPollSelectorImpl.doSelect(EPollSelectorImpl.java:79)\n\n\n\n\n\n\n\tat sun.nio.ch.SelectorImpl.lockAndDoSelect(SelectorImpl.java:86)\n\n\n\
                  \n\n\n\n\t- locked <0x00000000eec6ae38> (a sun.nio.ch.Util$2)\n\n\n\n\n\n\n\t- locked <0x00000000eec6ae28> (a java.util.Collections$UnmodifiableSet)\n\n\n\n\n\n\n\t- locked <0x00000000eec6ada0> (a sun.nio.ch.EPollSelectorImpl)\n\n\n\n\n\n\n\tat sun.nio.ch.SelectorImpl.select(SelectorImpl.java:97)\n\n\n\n\n\n\n\tat org.glassfish.grizzly.nio.DefaultSelectorHandler.select(DefaultSelectorHandler.java:115)\n\n\n\n\n\n\n\tat org.glassfish.grizzly.nio.SelectorRunner.doSelect(SelectorRunner.java:339)\n\n\n\n\n\n\n\tat org.glassfish.grizzly.nio.SelectorRunner.run(SelectorRunner.java:279)\n\n\n\n\n\n\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.doWork(AbstractThreadPool.java:591)\n\n\n\n\n\n\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.run(AbstractThreadPool.java:571)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"connection-pool-delays-thread-pool(1)\" #68 daemon prio=5 os_prio=0 tid=0x00007f9cc4549000 nid=0xaf4 in Object.wait() [0x00007f9ca2fa1000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\n\n\n\n\n\n\tat org.glassfish.grizzly.utils.DelayedExecutor$DelayedRunnable.run(DelayedExecutor.java:172)\n\n\n\n\n\n\n\t- locked <0x00000000eec7bc28> (a java.lang.Object)\n\n\n\n\n\n\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.doWork(AbstractThreadPool.java:591)\n\n\n\n\n\n\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.run(AbstractThreadPool.java:571)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"Grizzly-IdleTimeoutFilter-IdleCheck\" #67 daemon prio=5 os_prio=0 tid=0x00007f9cc4514800 nid=0xaf3 in Object.wait() [0x00007f9ca30a2000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\n\n\n\n\n\n\tat org.glassfish.grizzly.utils.DelayedExecutor$DelayedRunnable.run(DelayedExecutor.java:172)\n\n\n\n\n\n\n\t- locked <0x00000000eec153f0> (a java.lang.Object)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"Thread-22\" #66 daemon prio=5 os_prio=0 tid=0x00007f9cc445c000 nid=0xaf2 waiting on condition [0x00007f9ca33a3000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\n\n\n\n\n\n\t- parking to wait for  <0x00000000ee781be0> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.awaitNanos(AbstractQueuedSynchronizer.java:2078)\n\n\n\n\n\n\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:1093)\n\n\n\n\n\n\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:809)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"[ironman].Mule.01\" #65 prio=5 os_prio=0 tid=0x00007f9cc41de000 nid=0xaf1 waiting on condition [0x00007f9ca3839000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\n\n\n\n\n\n\t- parking to wait for  <0x00000000ee24bdc8> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.awaitNanos(AbstractQueuedSynchronizer.java:2078)\n\n\n\n\n\n\n\tat java.util.concurrent.LinkedBlockingDeque.pollFirst(LinkedBlockingDeque.java:522)\n\
                  \n\n\n\n\n\n\tat java.util.concurrent.LinkedBlockingDeque.poll(LinkedBlockingDeque.java:684)\n\n\n\n\n\n\n\tat org.mule.context.notification.ServerNotificationManager.run(ServerNotificationManager.java:270)\n\n\n\n\n\n\n\tat org.mule.work.WorkerContext.run(WorkerContext.java:286)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"Thread-20\" #64 prio=5 os_prio=0 tid=0x00007f9cc41c5800 nid=0xaf0 waiting on condition [0x00007f9ca3b3a000]\n   java.lang.Thread.State: TIMED_WAITING (sleeping)\n\tat java.lang.Thread.sleep(Native Method)\n\n\n\n\n\n\n\tat com.mulesoft.ch.logging.appender.utils.SyncUtils.sleepQuietly(SyncUtils.java:21)\n\n\n\n\n\n\n\tat com.mulesoft.ch.logging.appender.utils.SyncUtils.sleepQuietly(SyncUtils.java:13)\n\n\n\n\n\n\n\tat com.mulesoft.ch.logging.appender.core.LogEmitter.sleep(LogEmitter.java:109)\n\n\n\n\n\n\n\tat com.mulesoft.ch.logging.appender.core.LogEmitter.access$400(LogEmitter.java:17)\n\n\n\n\n\n\n\tat com.mulesoft.ch.logging.appender.core.LogEmitter$1.run(LogEmitter.java:83)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"Timer-1\" #63 prio=5 os_prio=0 tid=0x00007f9cc41c0000 nid=0xaef in Object.wait() [0x00007f9ca3c3b000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\n\n\n\n\n\n\tat java.util.TimerThread.mainLoop(Timer.java:552)\n\n\n\n\n\n\n\t- locked <0x00000000ee157648> (a java.util.TaskQueue)\n\n\n\n\n\n\n\tat java.util.TimerThread.run(Timer.java:505)\n\n\n\n\n\n\n\n\"pool-12-thread-1\" #62 prio=5 os_prio=0 tid=0x00007f9cc41c4000 nid=0xaee waiting on condition [0x00007f9ca3d3c000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\n\n\n\n\n\n\t- parking to wait for  <0x00000000ee15c8d8> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.awaitNanos(AbstractQueuedSynchronizer.java:2078)\n\n\n\n\n\n\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:1093)\n\n\n\n\n\n\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:809)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"DataFileAppender Writer Thread\" #61 daemon prio=10 os_prio=0 tid=0x00007f9cc41af800 nid=0xaed waiting on condition [0x00007f9ccc223000]\n   java.lang.Thread.State: WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\n\n\n\n\n\n\t- parking to wait for  <0x00000000ee15d0d8> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.await(AbstractQueuedSynchronizer.java:2039)\n\n\n\n\n\n\n\tat java.util.concurrent.LinkedBlockingQueue.take(LinkedBlockingQueue.java:442)\n\n\n\n\n\n\n\tat org.fusesource.hawtjournal.api.DataFileAppender.processQueue(DataFileAppender.java:364)\n\n\n\n\n\n\n\tat org.fusesource.hawtjournal.api.DataFileAppender.access$200(DataFileAppender.java:47)\n\n\n\n\n\n\n\tat org.fusesource.hawtjournal.api.DataFileAppender$1.run(DataFileAppender.java:306)\n\n\n\n\n\n\n\n\"Scheduler-2107694755\" #60 prio=5 os_prio=0 tid=0x00007f9cc1a5e000 nid=0xaec waiting on condition [0x00007f9ccc425000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\
                  \tat sun.misc.Unsafe.park(Native Method)\n\n\n\n\n\n\n\t- parking to wait for  <0x00000000edc24968> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.awaitNanos(AbstractQueuedSynchronizer.java:2078)\n\n\n\n\n\n\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:1093)\n\n\n\n\n\n\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:809)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"Mule.app.deployer.monitor.1.thread.1\" #59 prio=1 os_prio=0 tid=0x00007f9cc1e4b800 nid=0xaeb waiting on condition [0x00007f9ca81e1000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\n\n\n\n\n\n\t- parking to wait for  <0x00000000edcd7138> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.awaitNanos(AbstractQueuedSynchronizer.java:2078)\n\n\n\n\n\n\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:1093)\n\n\n\n\n\n\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:809)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"Log4j2-AsyncLoggerConfig-3\" #58 daemon prio=5 os_prio=0 tid=0x00007f9cc1eba000 nid=0xaea waiting on condition [0x00007f9ca82e2000]\n   java.lang.Thread.State: WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\n\n\n\n\n\n\t- parking to wait for  <0x00000000edcd79b0> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.await(AbstractQueuedSynchronizer.java:2039)\n\n\n\n\n\n\n\tat com.lmax.disruptor.BlockingWaitStrategy.waitFor(BlockingWaitStrategy.java:45)\n\n\n\n\n\n\n\tat com.lmax.disruptor.ProcessingSequenceBarrier.waitFor(ProcessingSequenceBarrier.java:55)\n\n\n\n\n\n\n\tat com.lmax.disruptor.BatchEventProcessor.run(BatchEventProcessor.java:123)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)\n\n\n\n\n\n\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\n\n\n\n\n\n\tat java.lang.Thread.run(Thread.java:745)\n\n\n\n\n\n\n\n\"pool-3-thread-2\" #57 prio=5 os_prio=0 tid=0x00007f9cc1eaf000 nid=0xae9 waiting on condition [0x00007f9ca83e3000]\n   java.lang.Thread.State: WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\n\n\n\n\n\n\t- parking to wait for  <0x00000000ec76d018> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)\n\n\n\n\n\n\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.await(AbstractQueuedSynchronizer.java:2039)\n\n\n\n\n\n\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:1088)\n\n\n\n\n\n\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:809)\n\
[...]
