openapi: 3.0.0
info:
  title: Runtime Fabric Management API
  version: 1.0.0
  description: Manage Runtime Fabric clusters, agents, associations, ingress configurations, and deployment targets.
servers:
- url: https://anypoint.mulesoft.com/runtimefabric/api
- url: https://eu1.anypoint.mulesoft.com/runtimefabric/api
- url: https://{region}.platform.mulesoft.com/runtimefabric/api
  variables:
    region:
      default: ca1
      description: Region identifier for the service endpoint.
security:
- bearerAuth: []
- clientAuth: []
paths:
  /organizations/{organizationId}/fabrics:
    description: The collection of fabrics
    get:
      description: Get the list of Runtime Fabrics in the organization.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      responses:
        '200':
          description: Successful operation.
          headers:
            ETag:
              x-amf-required: false
              description: The current value of the entity tag for the requested variant
              schema:
                type: string
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  fabric-list:
                  - id: b72b876d-f63d-11e7-a06c-080027adee7c
                    name: hello-rtf
                    region: us-east-1
                    version: 1.0.0
                    desiredVersion: 1.0.1
                    kubernetesVersion: 1.13.5
                    createdAt: 1593564266
                    appliance:
                      version: 1.0.3-ef2325d
                    nodes:
                    - uid: b72b876d-f63d-11e7-a06c-080027adee7d
                      name: minikube
                      capacity:
                        cpu: 2
                        cpuMillis: 2000
                        memory: 2048076Ki
                        memoryMi: 2048
                        pods: 110
                      allocatedRequestCapacity:
                        cpu: 2
                        cpuMillis: 2000
                        memory: 2048076Ki
                        memoryMi: 2048
                        pods: 110
                      allocatedLimitCapacity:
                        cpu: 2
                        cpuMillis: 2000
                        memory: 2048076Ki
                        memoryMi: 2048
                        pods: 110
                      kubeletVersion: v1.7.5
                      role: not_specified
                  - id: b72b876d-f63d-11e7-a06c-080027adee7a
                    name: hello-rtf-2
                    region: us-east-1
                    version: 1.0.0
                    desiredVersion: 1.0.1
                    kubernetesVersion: 1.13.5
                    createdAt: 1593564266
                    appliance:
                      version: 1.0.3-ef2325d
                    nodes:
                    - uid: b72b876d-f63d-11e7-a06c-080027adee7c
                      name: minikube
                      capacity:
                        cpu: 2
                        cpuMillis: 2000
                        memory: 2048076Ki
                        memoryMi: 2048
                        pods: 110
                      allocatedRequestCapacity:
                        cpu: 2
                        cpuMillis: 2000
                        memory: 2048076Ki
                        memoryMi: 2048
                        pods: 110
                      allocatedLimitCapacity:
                        cpu: 2
                        cpuMillis: 2000
                        memory: 2048076Ki
                        memoryMi: 2048
                        pods: 110
                      kubeletVersion: v1.7.5
                      role: master
                type: array
                items:
                  $ref: '#/components/schemas/Fabric'
              example:
              - id: string
                type: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '429':
          description: Too many requests. Rate limit exceeded.
          headers:
            Retry-After:
              schema:
                type: string
              description: Number of seconds to wait before retrying the request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
      operationId: getOrganizationsByOrganizationidFabrics
    post:
      description: Runtime Fabric register endpoint
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FabricPost'
        x-amf-mediaType: application/json
        description: The fabrics data to create.
      responses:
        '201':
          description: Resource created successfully.
          headers:
            Location:
              description: URL where the new fabric can be found
              schema:
                type: string
            ETag:
              description: The current value of the entity tag for the requested variant
              schema:
                type: string
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fabric'
              example:
                id: string
                name: string
                region: string
                vendor: string
                organizationId: string
                version: string
                status: string
                desiredVersion: string
                availableUpgradeVersion: string
                lastUpgradeTimestamp: 0.0
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '409':
          description: Conflict. The request conflicts with the current state of the resource.
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '429':
          description: Too many requests. Rate limit exceeded.
          headers:
            Retry-After:
              schema:
                type: string
              description: Number of seconds to wait before retrying the request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
      operationId: createOrganizationsByOrganizationidFabrics
  /organizations/{organizationId}/fabrics/{fabricId}:
    description: Get an entity representing a fabric
    delete:
      parameters:
      - name: force
        description: If set to "true", forces deletion of associated applications
        required: false
        in: query
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_fabricId_Path'
      responses:
        '200':
          description: Successful operation.
      operationId: deleteOrganizationsByOrganizationidFabricsByFabricid
      description: Deletes a fabrics.
    get:
      description: 'Get the fabric

        with id =

        {fabricId}

        '
      parameters:
      - name: includeCapacityForEnv
        description: 'If provided an enviornment Id, the response will include capacity information about the runtime fabric for that environment

          '
        required: false
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_fabricId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  byok-response:
                    id: bff81db2-82f5-4055-b2f1-bb8e19b3d39f
                    name: hello-rtf
                    region: us-east-1
                    vendor: openshift
                    vendorMetadata:
                      version: 4.12.13
                    organizationId: 4ab8da4d-d790-44a2-8510-44518955a0b4
                    version: 2.5.0
                    status: Active
                    desiredVersion: 2.5.0
                    createdAt: 1695412968527
                    nodes:
                    - uid: 6d2ea67f-557f-4355-af99-0d89d9bb1063
                      name: rtfdevaro-26gnv-worker-westus33-rb75q
                      kubeletVersion: v1.25.8+27e744f
                      dockerVersion: cri-o://1.25.3-2.rhaos4.12.git592efcd.el8
                      role: worker
                      status:
                        isHealthy: true
                        isReady: true
                        isSchedulable: true
                      capacity:
                        cpu: 3
                        cpuMillis: 3920
                        memory: 12847Mi
                        memoryMi: 12847
                        pods: 250
                      allocatedRequestCapacity:
                        cpu: 3
                        cpuMillis: 3145
                        memory: 8108Mi
                        memoryMi: 8108
                        pods: 39
                      allocatedLimitCapacity:
                        cpu: 23
                        cpuMillis: 23085
                        memory: 16706Mi
                        memoryMi: 16706
                        pods: 39
                    - uid: 802b65ab-12e1-4108-87b6-d236a0ac21b9
                      name: rtfdevaro-26gnv-worker-westus32-xkq5k
                      kubeletVersion: v1.25.8+27e744f
                      dockerVersion: cri-o://1.25.3-2.rhaos4.12.git592efcd.el8
                      role: worker
                      status:
                        isHealthy: true
                        isReady: true
                        isSchedulable: true
                      capacity:
                        cpu: 3
                        cpuMillis: 3920
                        memory: 12847Mi
                        memoryMi: 12847
                        pods: 250
                      allocatedRequestCapacity:
                        cpu: 2
                        cpuMillis: 2523
                        memory: 8486Mi
                        memoryMi: 8486
                        pods: 42
                      allocatedLimitCapacity:
                        cpu: 52
                        cpuMillis: 52157
                        memory: 11100Mi
                        memoryMi: 11100
                        pods: 42
                    - uid: c030c810-b2fa-48e7-ab7b-11e5c8c0fbcc
                      name: rtfdevaro-26gnv-worker-westus31-8j2nn
                      kubeletVersion: v1.25.8+27e744f
                      dockerVersion: cri-o://1.25.3-2.rhaos4.12.git592efcd.el8
                      role: worker
                      status:
                        isHealthy: true
                        isReady: true
                        isSchedulable: true
                      capacity:
                        cpu: 3
                        cpuMillis: 3920
                        memory: 12847Mi
                        memoryMi: 12847
                        pods: 250
                      allocatedRequestCapacity:
                        cpu: 2
                        cpuMillis: 2261
                        memory: 11552Mi
                        memoryMi: 11552
                        pods: 40
                      allocatedLimitCapacity:
                        cpu: 72
                        cpuMillis: 72325
                        memory: 9950Mi
                        memoryMi: 9950
                        pods: 40
                    - uid: 47dd077a-a074-4000-ac24-58af28b9292f
                      name: rtfdevaro-26gnv-master-1
                      kubeletVersion: v1.25.8+27e744f
                      dockerVersion: cri-o://1.25.3-2.rhaos4.12.git592efcd.el8
                      role: controller
                      status:
                        isHealthy: true
                        isReady: true
                        isSchedulable: true
                      capacity:
                        cpu: 7
                        cpuMillis: 7910
                        memory: 27950Mi
                        memoryMi: 27950
                        pods: 250
                      allocatedRequestCapacity:
                        cpu: 2
                        cpuMillis: 2190
                        memory: 7037Mi
                        memoryMi: 7037
                        pods: 54
                      allocatedLimitCapacity:
                        cpu: 0
                        cpuMillis: 250
                        memory: 1200Mi
                        memoryMi: 1200
                        pods: 54
                    - uid: c9b27d0f-3907-44a1-925e-2a69e71d478f
                      name: rtfdevaro-26gnv-master-0
                      kubeletVersion: v1.25.8+27e744f
                      dockerVersion: cri-o://1.25.3-2.rhaos4.12.git592efcd.el8
                      role: controller
                      status:
                        isHealthy: true
                        isReady: true
                        isSchedulable: true
                      capacity:
                        cpu: 7
                        cpuMillis: 7910
                        memory: 27950Mi
                        memoryMi: 27950
                        pods: 250
                      allocatedRequestCapacity:
                        cpu: 1
                        cpuMillis: 1974
                        memory: 5882Mi
                        memoryMi: 5882
                        pods: 37
                      allocatedLimitCapacity:
                        cpu: 0
                        cpuMillis: 200
                        memory: 1000Mi
                        memoryMi: 1000
                        pods: 37
                    - uid: 728c1a0e-6e3f-4e26-bc51-d1ecd8d542d0
                      name: rtfdevaro-26gnv-master-2
                      kubeletVersion: v1.25.8+27e744f
                      dockerVersion: cri-o://1.25.3-2.rhaos4.12.git592efcd.el8
                      role: controller
                      status:
                        isHealthy: true
                        isReady: true
                        isSchedulable: true
                      capacity:
                        cpu: 7
                        cpuMillis: 7910
                        memory: 27950Mi
                        memoryMi: 27950
                        pods: 250
                      allocatedRequestCapacity:
                        cpu: 2
                        cpuMillis: 2135
                        memory: 7172Mi
                        memoryMi: 7172
                        pods: 60
                      allocatedLimitCapacity:
                        cpu: 0
                        cpuMillis: 200
                        memory: 1000Mi
                        memoryMi: 1000
                        pods: 60
                    secondsSinceHeartbeat: 196
                    kubernetesVersion: v1.25.8+27e744f
                    namespace: rtf
                    licenseExpiryDate: 1716076799999
                    capacity:
                      cpuMillis:
                        limit: 11760
                        limitHA: 7840
                        largestBlock: 3920
                      memoryMi:
                        limit: 38541
                        limitHA: 25694
                        largestBlock: 12847
                    isManaged: false
                    isHelmManaged: true
                    appScopedLogForwarding: true
                    clusterConfigurationLevel: production
                    features:
                      enhancedSecurity: true
                      persistentStore: false
                    ingress:
                      domains:
                      - https://testrtf.com/
                  appliance-response:
                    id: b72b876d-f63d-11e7-a06c-080027adee7c
                    name: hello-rtf
                    region: us-east-1
                    version: 1.0.0
                    desiredVersion: 1.0.1
                    kubernetesVersion: 1.13.5
                    createdAt: 1593564266
                    appliance:
                      version: 1.0.3-ef2325d
                    nodes:
                    - uid: b72b876d-f63d-11e7-a06c-080027adee7d
                      name: node1
                      capacity:
                        cpu: 2
                        cpuMillis: 2000
                        memory: 2048076Ki
                        memoryMi: 2048
                        pods: 110
                      allocatedRequestCapacity:
                        cpu: 2
                        cpuMillis: 2000
                        memory: 2048076Ki
                        memoryMi: 2048
                        pods: 110
                      allocatedLimitCapacity:
                        cpu: 2
                        cpuMillis: 2000
                        memory: 2048076Ki
                        memoryMi: 2048
                        pods: 110
                      kubeletVersion: v1.7.5
                      role: worker_node
                    capacity:
                      cpuMillis:
                        limit: 11760
                        limitHA: 7840
                        largestBlock: 3920
                      memoryMi:
                        limit: 38541
                        limitHA: 25694
                        largestBlock: 12847
                    activationToken: fe01cd5a-89a1-11e7-bb31-be2e44b06b34
              example: {}
        '404':
          description: Not found. The requested resource does not exist.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema: {}
              example:
                message: Operation completed successfully.
      operationId: getOrganizationsByOrganizationidFabricsByFabricid
    patch:
      description: Update existing fabric
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_fabricId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FabricPatch'
        x-amf-mediaType: application/json
        description: The fabrics data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fabric'
              example:
                id: string
                name: string
                region: string
                vendor: string
                organizationId: string
                version: string
                status: string
                desiredVersion: string
                availableUpgradeVersion: string
                lastUpgradeTimestamp: 0.0
        '202':
          description: Request accepted for processing.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  byok-response:
                    id: bff81db2-82f5-4055-b2f1-bb8e19b3d39f
                    name: hello-rtf
                    region: us-east-1
                    vendor: openshift
                    vendorMetadata:
                      version: 4.12.13
                    organizationId: 4ab8da4d-d790-44a2-8510-44518955a0b4
                    version: 2.5.0
                    status: Active
                    desiredVersion: 2.5.0
                    createdAt: 1695412968527
                    nodes:
                    - uid: 6d2ea67f-557f-4355-af99-0d89d9bb1063
                      name: rtfdevaro-26gnv-worker-westus33-rb75q
                      kubeletVersion: v1.25.8+27e744f
                      dockerVersion: cri-o://1.25.3-2.rhaos4.12.git592efcd.el8
                      role: worker
                      status:
                        isHealthy: true
                        isReady: true
                        isSchedulable: true
                      capacity:
                        cpu: 3
                        cpuMillis: 3920
                        memory: 12847Mi
                        memoryMi: 12847
                        pods: 250
                      allocatedRequestCapacity:
                        cpu: 3
                        cpuMillis: 3145
                        memory: 8108Mi
                        memoryMi: 8108
                        pods: 39
                      allocatedLimitCapacity:
                        cpu: 23
                        cpuMillis: 23085
                        memory: 16706Mi
                        memoryMi: 16706
                        pods: 39
                    - uid: 802b65ab-12e1-4108-87b6-d236a0ac21b9
                      name: rtfdevaro-26gnv-worker-westus32-xkq5k
                      kubeletVersion: v1.25.8+27e744f
                      dockerVersion: cri-o://1.25.3-2.rhaos4.12.git592efcd.el8
                      role: worker
                      status:
                        isHealthy: true
                        isReady: true
                        isSchedulable: true
                      capacity:
                        cpu: 3
                        cpuMillis: 3920
                        memory: 12847Mi
                        memoryMi: 12847
                        pods: 250
                      allocatedRequestCapacity:
                        cpu: 2
                        cpuMillis: 2523
                        memory: 8486Mi
                        memoryMi: 8486
                        pods: 42
                      allocatedLimitCapacity:
                        cpu: 52
                        cpuMillis: 52157
                        memory: 11100Mi
                        memoryMi: 11100
                        pods: 42
                    - uid: c030c810-b2fa-48e7-ab7b-11e5c8c0fbcc
                      name: rtfdevaro-26gnv-worker-westus31-8j2nn
                      kubeletVersion: v1.25.8+27e744f
                      dockerVersion: cri-o://1.25.3-2.rhaos4.12.git592efcd.el8
                      role: worker
                      status:
                        isHealthy: true
                        isReady: true
                        isSchedulable: true
                      capacity:
                        cpu: 3
                        cpuMillis: 3920
                        memory: 12847Mi
                        memoryMi: 12847
                        pods: 250
                      allocatedRequestCapacity:
                        cpu: 2
                        cpuMillis: 2261
                        memory: 11552Mi
                        memoryMi: 11552
                        pods: 40
                      allocatedLimitCapacity:
                        cpu: 72
                        cpuMillis: 72325
                        memory: 9950Mi
                        memoryMi: 9950
                        pods: 40
                    - uid: 47dd077a-a074-4000-ac24-58af28b9292f
                      name: rtfdevaro-26gnv-master-1
                      kubeletVersion: v1.25.8+27e744f
                      dockerVersion: cri-o://1.25.3-2.rhaos4.12.git592efcd.el8
                      role: controller
                      status:
                        isHealthy: true
                        isReady: true
                        isSchedulable: true
                      capacity:
                        cpu: 7
                        cpuMillis: 7910
                        memory: 27950Mi
                        memoryMi: 27950
                        pods: 250
                      allocatedRequestCapacity:
                        cpu: 2
                        cpuMillis: 2190
                        memory: 7037Mi
                        memoryMi: 7037
                        pods: 54
                      allocatedLimitCapacity:
                        cpu: 0
                        cpuMillis: 250
                        memory: 1200Mi
                        memoryMi: 1200
                        pods: 54
                    - uid: c9b27d0f-3907-44a1-925e-2a69e71d478f
                      name: rtfdevaro-26gnv-master-0
                      kubeletVersion: v1.25.8+27e744f
                      dockerVersion: cri-o://1.25.3-2.rhaos4.12.git592efcd.el8
                      role: controller
                      status:
                        isHealthy: true
                        isReady: true
                        isSchedulable: true
                      capacity:
                        cpu: 7
                        cpuMillis: 7910
                        memory: 27950Mi
                        memoryMi: 27950
                        pods: 250
                      allocatedRequestCapacity:
                        cpu: 1
                        cpuMillis: 1974
                        memory: 5882Mi
                        memoryMi: 5882
                        pods: 37
                      allocatedLimitCapacity:
                        cpu: 0
                        cpuMillis: 200
                        memory: 1000Mi
                        memoryMi: 1000
                        pods: 37
                    - uid: 728c1a0e-6e3f-4e26-bc51-d1ecd8d542d0
                      name: rtfdevaro-26gnv-master-2
                      kubeletVersion: v1.25.8+27e744f
                      dockerVersion: cri-o://1.25.3-2.rhaos4.12.git592efcd.el8
                      role: controller
                      status:
                        isHealthy: true
                        isReady: true
                        isSchedulable: true
                      capacity:
                        cpu: 7
                        cpuMillis: 7910
                        memory: 27950Mi
                        memoryMi: 27950
                        pods: 250
                      allocatedRequestCapacity:
                        cpu: 2
                        cpuMillis: 2135
                        memory: 7172Mi
                        memoryMi: 7172
                        pods: 60
                      allocatedLimitCapacity:
                        cpu: 0
                        cpuMillis: 200
                        memory: 1000Mi
                        memoryMi: 1000
                        pods: 60
                    secondsSinceHeartbeat: 196
                    kubernetesVersion: v1.25.8+27e744f
                    namespace: rtf
                    licenseExpiryDate: 1716076799999
                    capacity:
                      cpuMillis:
                        limit: 11760
                        limitHA: 7840
                        largestBlock: 3920
                      memoryMi:
                        limit: 38541
                        limitHA: 25694
                        largestBlock: 12847
                    isManaged: false
                    isHelmManaged: true
                    appScopedLogForwarding: true
                    clusterConfigurationLevel: production
                    features:
                      enhancedSecurity: true
                      persistentStore: false
                    ingress:
                      domains:
                      - https://testrtf.com/
                  appliance-response:
                    id: b72b876d-f63d-11e7-a06c-080027adee7c
                    name: hello-rtf
                    region: us-east-1
                    version: 1.0.0
                    desiredVersion: 1.0.1
                    kubernetesVersion: 1.13.5
                    createdAt: 1593564266
                    appliance:
                      version: 1.0.3-ef2325d
                    nodes:
                    - uid: b72b876d-f63d-11e7-a06c-080027adee7d
                      name: node1
                      capacity:
                        cpu: 2
                        cpuMillis: 2000
                        memory: 2048076Ki
                        memoryMi: 2048
                        pods: 110
                      allocatedRequestCapacity:
                        cpu: 2
                        cpuMillis: 2000
                        memory: 2048076Ki
                        memoryMi: 2048
                        pods: 110
                      allocatedLimitCapacity:
                        cpu: 2
                        cpuMillis: 2000
                        memory: 2048076Ki
                        memoryMi: 2048
                        pods: 110
                      kubeletVersion: v1.7.5
                      role: worker_node
                    capacity:
                      cpuMillis:
                        limit: 11760
                        limitHA: 7840
                        largestBlock: 3920
                      memoryMi:
                        limit: 38541
                        limitHA: 25694
                        largestBlock: 12847
                    activationToken: fe01cd5a-89a1-11e7-bb31-be2e44b06b34
              example: {}
      operationId: patchOrganizationsByOrganizationidFabricsByFabricid
  /organizations/{organizationId}/fabrics/{fabricId}/logforwarding:
    get:
      description: Get the Log forwarding config information.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_fabricId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogFowarding'
              example:
                anypointMonitoring: true
                externalLogForwarding:
                  azureConfig:
                    id: string
                    type: string
                  splunkConfig:
                    id: string
                    type: string
                  grayLogConfig:
                    id: string
                    type: string
                  elasticSearchConfig:
                    id: string
                    type: string
                  cloudWatchConfig:
                    id: string
                    type: string
                  syslogConfig:
                    id: string
                    type: string
                  dataDogConfig:
                    id: string
                    type: string
                  forwardLogs:
                    id: string
                    type: string
      operationId: getOrganizationsByOrganizationidFabricsByFabricidLogforwarding
    patch:
      description: Update the Anypoint Log forwarding config
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_fabricId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogFowarding'
        x-amf-mediaType: application/json
        description: The logforwarding data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogFowarding'
              example:
                anypointMonitoring: true
                externalLogForwarding:
                  azureConfig:
                    id: string
                    type: string
                  splunkConfig:
                    id: string
                    type: string
                  grayLogConfig:
                    id: string
                    type: string
                  elasticSearchConfig:
                    id: string
                    type: string
                  cloudWatchConfig:
                    id: string
                    type: string
                  syslogConfig:
                    id: string
                    type: string
                  dataDogConfig:
                    id: string
                    type: string
                  forwardLogs:
                    id: string
                    type: string
      operationId: patchOrganizationsByOrganizationidFabricsByFabricidLogforwarding
    delete:
      description: Deletes the External and Anypoint Monitoring log forwarding.
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_fabricId_Path'
      responses:
        '204':
          description: Operation completed successfully with no content returned.
      operationId: deleteOrganizationsByOrganizationidFabricsByFabricidLogforwarding
  /organizations/{organizationId}/fabrics/{fabricId}/logforwarding/external:
    patch:
      description: Configure the External log forwarding
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_fabricId_Path'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - logConfig
              properties:
                logConfig:
                  $ref: '#/components/schemas/ExternalLogForwarding'
                ca_file:
                  type: string
                  format: binary
        x-amf-mediaType: multipart/form-data
        description: The external data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalLogForwarding'
              example:
                azureConfig:
                  id: string
                  type: string
                splunkConfig:
                  id: string
                  type: string
                grayLogConfig:
                  id: string
                  type: string
                elasticSearchConfig:
                  id: string
                  type: string
                cloudWatchConfig:
                  id: string
                  type: string
                syslogConfig:
                  id: string
                  type: string
                dataDogConfig:
                  id: string
                  type: string
                forwardLogs:
                  id: string
                  type: string
      operationId: patchOrganizationsByOrganizationidFabricsByFabricidLogforwardingExternal
    delete:
      description: Deletes the External log forwarding configuration
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_fabricId_Path'
      responses:
        '204':
          description: Operation completed successfully with no content returned.
      operationId: deleteOrganizationsByOrganizationidFabricsByFabricidLogforwardingExternal
  /organizations/{organizationId}/fabrics/{fabricId}/logforwarding/external/test:
    post:
      description: 'Lets the user send test message to validate the end to end connectivity.

        Precondition is to have External log forwarding configured.

        Response will have the ''messageRef'' uuid, which is the key word for user to search in the external log service.

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_fabricId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalLogFwdTestMessageResponse'
              example:
                messageRef: string
                rtfName: string
      operationId: createOrganizationsByOrganizationidFabricsByFabricidLogforwardingExternalTest
  /organizations/{organizationId}/fabrics/{fabricId}/events:
    get:
      description: 'Get cluster events.

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_fabricId_Path'
      responses:
        '200':
          description: Successful operation.
      operationId: getOrganizationsByOrganizationidFabricsByFabricidEvents
  /organizations/{organizationId}/fabrics/{fabricId}/health:
    get:
      description: 'Get detailed health information.

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_organizationId_Path'
      - $ref: '#/components/parameters/XOrigin_fabricId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricHealth'
              example:
                clusterMonitoring:
                  healthy: true
                  updatedAt: 0.0
                  probes: {}
                  failedProbes:
                  - id: string
                    type: string
                manageDeployments:
                  healthy: true
                  updatedAt: 0.0
                  probes: {}
                  failedProbes:
                  - id: string
                    type: string
                loadBalancing:
                  healthy: true
                  updatedAt: 0.0
                  probes: {}
                  failedProbes:
                  - id: string
                    type: string
                anypointMonitoring:
                  healthy: true
                  updatedAt: 0.0
                  probes: {}
                  failedProbes:
                  - id: string
                    type: string
                externalLogForwarding:
                  healthy: true
                  updatedAt: 0.0
                  probes: {}
                  failedProbes:
                  - id: string
                    type: string
                appliance:
                  healthy: true
                  updatedAt: 0.0
                  probes: {}
                  failedProbes:
                  - id: string
                    type: string
                infrastructure:
                  healthy: true
                  updatedAt: 0.0
                  probes: {}
                  failedProbes:
                  - id: string
                    type: string
                persistentGateway:
                  healthy: true
                  updatedAt: 0.0
                  probes: {}
                  failedProbes:
                  - id: string
                    type: string
      operationId: getOrganizationsByOrganizationidFabricsByFabricidHealth
  /organizations/{organizationId}/groups:
    get:
      description: Get the list of Fabric Groups.
      parameters:
      - $ref: '#/components/parameters/XOrigin_fabricOrganizationId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FabricGroup'
              example:
              - id: string
                type: string
      operationId: getOrganizationsByOrganizationidGroups
  /organizations/{organizationId}/groups/{groupId}:
    get:
      parameters:
      - $ref: '#/components/parameters/XOrigin_fabricOrganizationId_Path'
      - $ref: '#/components/parameters/XOrigin_groupId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricGroup'
              example:
                id: string
                name: string
                associations:
                - id: string
                  type: string
      operationId: getOrganizationsByOrganizationidGroupsByGroupid
      description: Retrieves a groups.
  /organizations/{organizationId}/groups/{groupId}/associations:
    description: The collection of associations
    get:
      description: Get the list of environment associations.
      parameters:
      - $ref: '#/components/parameters/XOrigin_fabricOrganizationId_Path'
      - $ref: '#/components/parameters/XOrigin_groupId_Path'
      responses:
        '200':
          description: Successful operation.
          headers:
            ETag:
              x-amf-required: false
              description: The current value of the entity tag for the requested variant
              schema:
                type: string
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                x-amf-examples:
                  association-list:
                  - id: 83d77850-04ee-4368-8122-192f760913de
                    name: hello-rtf
                    environmentId: 5e409a9d-49a7-456c-82d7-a6254738a18d
                    organizationId: 8d72ee02-be83-4963-99c5-5837b8f7907b
                    region: us-east-1
                    version: 1.0.0
                    deploymentStatus: DEPLOYED
                type: array
                items:
                  $ref: '#/components/schemas/Association'
              example:
              - id: string
                type: string
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '429':
          description: Too many requests. Rate limit exceeded.
          headers:
            Retry-After:
              schema:
                type: string
              description: Number of seconds to wait before retrying the request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
      operationId: getOrganizationsByOrganizationidGroupsByGroupidAssociations
    post:
      description: Create a new association
      parameters:
      - $ref: '#/components/parameters/XOrigin_fabricOrganizationId_Path'
      - $ref: '#/components/parameters/XOrigin_groupId_Path'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociationPost'
        x-amf-mediaType: application/json
        description: The associations data to create.
      responses:
        '201':
          description: Resource created successfully.
        '400':
          description: Bad Request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '409':
          description: Conflict. The request conflicts with the current state of the resource.
        '415':
          description: Unsupported media type.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
        '429':
          description: Too many requests. Rate limit exceeded.
          headers:
            Retry-After:
              schema:
                type: string
              description: Number of seconds to wait before retrying the request.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'
              example:
                message: string
                errors:
                - code: string
                  message: string
      operationId: createOrganizationsByOrganizationidGroupsByGroupidAssociations
  /organizations/{organizationId}/groups/{groupId}/associations/{associationId}:
    get:
      parameters:
      - $ref: '#/components/parameters/XOrigin_fabricOrganizationId_Path'
      - $ref: '#/components/parameters/XOrigin_groupId_Path'
      - name: associationId
        required: true
        in: path
        schema:
          type: string
        description: The association ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Association'
              example:
                id: string
                name: string
                environmentId: string
                organizationId: string
                deploymentStatus: string
                errorMessage: string
      operationId: getOrganizationsByOrganizationidGroupsByGroupidAssociationsByAssociationid
      description: Retrieves a associations.
    patch:
      description: Update an existing environment association.
      parameters:
      - $ref: '#/components/parameters/XOrigin_fabricOrganizationId_Path'
      - $ref: '#/components/parameters/XOrigin_groupId_Path'
      - name: associationId
        required: true
        in: path
        schema:
          type: string
        description: The association ID to identify the target resource.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociationPatch'
        x-amf-mediaType: application/json
        description: The associations data to update.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Association'
              example:
                id: string
                name: string
                environmentId: string
                organizationId: string
                deploymentStatus: string
                errorMessage: string
      operationId: patchOrganizationsByOrganizationidGroupsByGroupidAssociationsByAssociationid
    delete:
      parameters:
      - $ref: '#/components/parameters/XOrigin_fabricOrganizationId_Path'
      - $ref: '#/components/parameters/XOrigin_groupId_Path'
      - name: associationId
        required: true
        in: path
        schema:
          type: string
        description: The association ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
      operationId: deleteOrganizationsByOrganizationidGroupsByGroupidAssociationsByAssociationid
      description: Deletes a associations.
  /organizations/{organizationId}:
    delete:
      parameters:
      - $ref: '#/components/parameters/XOrigin_fabricOrganizationId_Path'
      responses:
        '204':
          description: Operation completed successfully with no content returned.
        '429':
          description: Too many requests. Rate limit exceeded.
      operationId: deleteOrganizationsByOrganizationid
      description: Deletes a organizations.
  /organizations/{organizationId}/environments/{envId}:
    delete:
      parameters:
      - $ref: '#/components/parameters/XOrigin_fabricOrganizationId_Path'
      - name: envId
        required: true
        in: path
        schema:
          type: string
        x-origin:
        - api: urn:api:access-management
          operation: listEnvironments
          description: GET `/organizations/{organizationId}/environments`; use each `data[].id` value as an environment identifier.
          values: $.data[*].id
          labels: $.data[*].name
        description: The env ID to identify the target resource.
      responses:
        '204':
          description: Operation completed successfully with no content returned.
        '429':
          description: Too many requests. Rate limit exceeded.
      operationId: deleteOrganizationsByOrganizationidEnvironmentsByEnvid
      description: Deletes a environments.
  /organizations/{organizationId}/imageregistrycredential:
    get:
      description: Retrieve short-lived credential to allow pulling Runtime Fabric Docker images
      parameters:
      - $ref: '#/components/parameters/XOrigin_fabricOrganizationId_Path'
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageRegistryCredential'
              example:
                user: string
                password: string
                endpoint: string
                passwordExpirationTimestamp: 0.0
      operationId: getOrganizationsByOrganizationidImageregistrycredential
  /runtimes:
    description: Mule runtimes
    get:
      description: 'Retrieve all supported Mule versions. The first version returned is the most recent, recommended version, and the last version returned is the oldest supported version

        '
      parameters:
      - name: search
        required: true
        in: query
        schema:
          type: string
        description: Search or filter expression to narrow results.
      - name: recommended
        required: true
        in: query
        schema:
          type: boolean
        description: The recommended query parameter.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Runtime'
              example:
              - id: string
                type: string
      operationId: getRuntimes
  /runtimes/{name}:
    get:
      description: 'Retrieve a single name

        '
      parameters:
      - name: name
        required: true
        in: path
        schema:
          type: string
        description: The name to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runtime'
              example:
                name: string
                recommended: true
                endOfSupportDate: 0.0
        '404':
          description: Not found. The requested resource does not exist.
      operationId: getRuntimesByName
  /runtimes/{name}/tags:
    get:
      description: 'Retrieves tags for a name

        '
      parameters:
      - name: name
        required: true
        in: path
        schema:
          type: string
        description: The name to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RuntimeTag'
              example:
              - id: string
                type: string
        '404':
          description: Not found. The requested resource does not exist.
      operationId: getRuntimesByNameTags
  /runtimes/{name}/tags/{tagId}:
    get:
      description: 'Retrieve a single name for a name

        '
      parameters:
      - name: name
        required: true
        in: path
        schema:
          type: string
        description: The name to identify the target resource.
      - name: tagId
        required: true
        in: path
        schema:
          type: string
        description: The tag ID to identify the target resource.
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeTag'
              example:
                name: string
                releaseDate: 0.0
                scope:
                - string
                minRtfVersion: string
                gracePeriodDays: 0.0
        '404':
          description: Not found. The requested resource does not exist.
      operationId: getRuntimesByNameTagsByTagid
  /downloads:
    get:
      description: List the available downloads
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                type: object
                required:
                - agent
                - scripts
                - package
                - rtfctl
                properties:
                  agent:
                    $ref: '#/components/schemas/DownloadableArtifact'
                  scripts:
                    $ref: '#/components/schemas/DownloadableArtifact'
                  package:
                    $ref: '#/components/schemas/DownloadableArtifact'
                  rtfctl:
                    $ref: '#/components/schemas/DownloadableArtifact'
              example:
                agent:
                  id: string
                  type: string
                scripts:
                  id: string
                  type: string
                package:
                  id: string
                  type: string
                rtfctl:
                  id: string
                  type: string
      operationId: getDownloads
  /download: {}
  /download/scripts: {}
  /download/scripts/latest:
    get:
      description: Download the latest installer scripts
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/octet-stream
          content:
            application/octet-stream:
              schema: {}
              example: (binary data)
      operationId: getDownloadScriptsLatest
  /download/installer: {}
  /download/installer/latest:
    get:
      description: Download the latest installer package
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/octet-stream
          content:
            application/octet-stream:
              schema: {}
              example: (binary data)
      operationId: getDownloadInstallerLatest
  /download/installer/latest/url:
    get:
      description: Get the pre-signed url of the latest installer package
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                type: object
                required:
                - url
                properties:
                  url:
                    type: string
              example:
                url: string
      operationId: getDownloadInstallerLatestUrl
  /download/agent: {}
  /download/agent/latest:
    get:
      description: Download the latest rtf agent helm chart
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/octet-stream
          content:
            application/octet-stream:
              schema: {}
              example: (binary data)
      operationId: getDownloadAgentLatest
  /download/rtfctl: {}
  /download/rtfctl/latest:
    get:
      description: Download the latest rtfctl binary
      responses:
        '200':
          description: Successful operation.
          x-amf-mediaType: application/octet-stream
          content:
            application/octet-stream:
              schema: {}
              example: (binary data)
      operationId: getDownloadRtfctlLatest
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer token authentication. Login endpoint: https://anypoint.mulesoft.com/accounts/api/login

        '
    clientAuth:
      type: oauth2
      description: 'OAuth2 client credentials. Token endpoint: https://anypoint.mulesoft.com/accounts/api/v2/oauth2/token

        '
      flows:
        clientCredentials:
          tokenUrl: https://anypoint.mulesoft.com/accounts/api/v2/oauth2/token
          scopes: {}
  schemas:
    Fabric:
      x-amf-examples:
        create-response:
          id: b72b876d-f63d-11e7-a06c-080027adee7c
          name: hello-rtf
          region: us-east-1
          version: 1.0.0
          desiredVersion: 1.0.1
          kubernetesVersion: 1.13.5
          createdAt: 1593564266
          appliance:
            version: 1.0.3-ef2325d
          nodes:
          - uid: b72b876d-f63d-11e7-a06c-080027adee7d
            name: node1
            capacity:
              cpu: 2
              cpuMillis: 2000
              memory: 2048076Ki
              memoryMi: 2048
              pods: 110
            allocatedRequestCapacity:
              cpu: 2
              cpuMillis: 2000
              memory: 2048076Ki
              memoryMi: 2048
              pods: 110
            allocatedLimitCapacity:
              cpu: 2
              cpuMillis: 2000
              memory: 2048076Ki
              memoryMi: 2048
              pods: 110
            kubeletVersion: v1.7.5
            role: worker_node
          capacity:
            cpuMillis:
              limit: 11760
              limitHA: 7840
              largestBlock: 3920
            memoryMi:
              limit: 38541
              limitHA: 25694
              largestBlock: 12847
          activationToken: fe01cd5a-89a1-11e7-bb31-be2e44b06b34
      type: object
      required:
      - id
      - name
      - region
      - version
      - createdAt
      - nodes
      properties:
        id:
          type: string
        name:
          description: The name of the Runtime Fabric cluster.
          type: string
        region:
          description: The region in where the Runtime Fabric will be registered.
          type: string
        vendor:
          description: The Kubernetes vendor of the Runtime Fabric.
          type: string
        organizationId:
          description: 'The anypoint organization Id associated with the Runtime Fabric.

            '
          type: string
        version:
          description: Version of the Runtime Fabric.
          type: string
        status:
          description: 'Last reported status.

            '
          type: string
        desiredVersion:
          description: 'Desired version of the Runtime Fabric.

            '
          type: string
        availableUpgradeVersion:
          description: 'If present, there is an new version available.

            '
          type: string
        lastUpgradeTimestamp:
          description: 'Timestamp of last reported upgrade activity in EPOCH format.

            '
          type: number
        createdAt:
          description: 'Timestamp in EPOCH format.

            '
          type: number
        upgrade:
          description: 'If present, describes the status of the last upgrade.

            '
          type: object
          properties:
            status:
              description: 'Last known status of the Agent upgrade.

                '
              type: string
            message:
              description: 'Message describing the last reported upgrade of the Agent.

                '
              type: string
        nodes:
          description: 'Information of nodes that make up the cluster.

            '
          type: array
          maxItems: 20
          minItems: 0
          items:
            $ref: '#/components/schemas/Node'
        secondsSinceHeartbeat:
          description: 'Seconds since last reported heartbeat.

            '
          type: integer
        statusMessage:
          type: string
        channel:
          description: 'Upgrade channel. If empty, the Fabric is subscribed to the "stable" channel.

            '
          type: string
        activationData:
          description: 'Data used to activate the Runtime Fabric cluster on the control plane.

            '
          type: string
        clusterVersion:
          description: (Deprecated) Version of the underlying cluster
          type: string
        kubernetesVersion:
          description: Version of the kubernetes software in the cluster.
          type: string
        capacity:
          description: 'This field provides resource usage and limits for a particular environment.

            '
          type: object
          required:
          - cpuMillis
          - memoryMi
          properties:
            cpuMillis:
              description: CPU usage and limits in millicores.
              type: object
              required:
              - largestBlock
              properties:
                limit:
                  description: Total CPU capacity of the fabric in millicores.
                  type: integer
                limitHA:
                  description: CPU capacity of the fabric in millicores while subtracting one node for high availability.
                  type: integer
                available:
                  description: Deprecated
                  type: integer
                largestBlock:
                  description: Largest individual node capacity in millicores.
                  type: integer
            memoryMi:
              description: Memory usage and limits in MBs.
              type: object
              required:
              - largestBlock
              properties:
                limit:
                  description: Total memory capacity of the fabric in megabytes.
                  type: integer
                  format: int64
                limitHA:
                  description: Total memory capacity of the fabric in megabytes.
                  type: integer
                  format: int64
                available:
                  description: Deprecated
                  type: integer
                  format: int64
                largestBlock:
                  description: Largest individual node capacity in megabytes.
                  type: integer
                  format: int64
        isManaged:
          description: 'Indicates if the infrastructure of the Runtime Fabric is managed in cloud.

            '
          type: boolean
        appliance:
          description: 'If present, it contains the details of the appliance supporting the Runtime Fabric.

            '
          type: object
          required:
          - version
          properties:
            version:
              description: Version of the Runtime Fabric.
              type: string
        clusterConfigurationLevel:
          description: 'This property indicates configuration level for this Runtime Fabric. Possible values: "production", "development", "unsupported"

            '
          type: string
        features:
          description: 'Optional features that are enabled/disabled on the Runtime Fabric.

            '
        ingress:
          description: Ingress config for byok clusters
          type: object
          required:
          - domains
          properties:
            domains:
              type: array
              items:
                type: string
    type:
      x-amf-examples:
        amf_example_1:
          message: Not Supported  Content-Type
        example_1:
          message: Too Many Requests
        amf_example_2:
          message: You are not authorized to perform this request
        example_0:
          message: Invalid token
        bad-rq:
          message: Invalid Request
          errors:
          - code: XX005
            message: Invalid Name Format.
          - code: XX006
            message: Reached Maximum number of Resources
      type: object
      required:
      - message
      properties:
        message:
          description: 'Human readable error description.

            '
          type: string
        errors:
          description: 'Error list use to describe the set of validations that has failed. Only required in case

            HTTP error code is not enough to describe the failure case.

            '
          type: array
          items:
            type: object
            required:
            - code
            - message
            properties:
              code:
                description: 'Machine error description. Internal code representation for cosumer

                  code error handling.

                  '
                type: string
              message:
                description: 'Human readable error description.

                  '
                type: string
    FabricPost:
      x-amf-examples:
        create-request:
          name: hello-rtf
          region: us-east-1
          version: 1.0.0
      type: object
      required:
      - name
      - region
      properties:
        name:
          description: The name of the Runtime Fabric cluster.
          type: string
        region:
          description: The region in where the Runtime Fabric will be registered.
          type: string
        version:
          description: The desired agent version of the Runtime Fabric.
          type: string
        channel:
          description: The desired release channel to subscribe to for the Runtime Fabric.
          type: string
        organizationId:
          type: string
        vendor:
          description: The Kubernetes vendor of the Runtime Fabric.
          type: string
    FabricPatch:
      type: object
      properties:
        version:
          description: The desired agent version of the Runtime Fabric.
          type: string
        channel:
          description: The desired release channel to subscribe to for the Runtime Fabric.
          type: string
        name:
          description: The name of the Runtime Fabric cluster.
          type: string
        features:
          description: 'Optional features that are enabled/disabled on the Runtime Fabric.

            '
        ingress:
          description: Ingress config for byok clusters
          type: object
          required:
          - domains
          properties:
            domains:
              type: array
              items:
                type: string
    LogFowarding:
      type: object
      properties:
        anypointMonitoring:
          description: The desired action to push logs to Anypoint monitoring.
          type: boolean
        externalLogForwarding:
          description: The desired action to push logs to external third party services.
          type: object
          required:
          - azureConfig
          - splunkConfig
          - grayLogConfig
          - elasticSearchConfig
          - cloudWatchConfig
          - syslogConfig
          - dataDogConfig
          - forwardLogs
          properties:
            azureConfig:
              $ref: '#/components/schemas/AzureConfig'
            splunkConfig:
              $ref: '#/components/schemas/SplunkConfig'
            grayLogConfig:
              $ref: '#/components/schemas/GrayLogConfig'
            elasticSearchConfig:
              $ref: '#/components/schemas/ElasticSearchConfig'
            cloudWatchConfig:
              $ref: '#/components/schemas/CloudWatchConfig'
            syslogConfig:
              $ref: '#/components/schemas/SyslogConfig'
            dataDogConfig:
              $ref: '#/components/schemas/DataDogConfig'
            forwardLogs:
              $ref: '#/components/schemas/ForwardLogs'
    ExternalLogForwarding:
      type: object
      required:
      - azureConfig
      - splunkConfig
      - grayLogConfig
      - elasticSearchConfig
      - cloudWatchConfig
      - syslogConfig
      - dataDogConfig
      - forwardLogs
      properties:
        azureConfig:
          $ref: '#/components/schemas/AzureConfig'
        splunkConfig:
          $ref: '#/components/schemas/SplunkConfig'
        grayLogConfig:
          $ref: '#/components/schemas/GrayLogConfig'
        elasticSearchConfig:
          $ref: '#/components/schemas/ElasticSearchConfig'
        cloudWatchConfig:
          $ref: '#/components/schemas/CloudWatchConfig'
        syslogConfig:
          $ref: '#/components/schemas/SyslogConfig'
        dataDogConfig:
          $ref: '#/components/schemas/DataDogConfig'
        forwardLogs:
          $ref: '#/components/schemas/ForwardLogs'
    ExternalLogFwdTestMessageResponse:
      type: object
      required:
      - messageRef
      - rtfName
      properties:
        messageRef:
          type: string
        rtfName:
          type: string
    FabricHealth:
      type: object
      required:
      - clusterMonitoring
      - manageDeployments
      - loadBalancing
      properties:
        clusterMonitoring:
          description: 'The ability to monitor and report the status of the Runtime Fabric cluster.

            '
          type: object
          required:
          - healthy
          - updatedAt
          properties:
            healthy:
              description: 'True is the component is healthy.

                '
              type: boolean
            updatedAt:
              type: number
            probes:
              description: 'Probes collected for this health check. Only applicable for Appliance probes.

                '
            failedProbes:
              description: 'Probe failures attributing to the result of this health check.

                '
              type: array
              items:
                $ref: '#/components/schemas/ComponentHealthStatusProbe'
        manageDeployments:
          description: 'The ability to create, update, or delete application deployments in this Runtime Fabric.

            '
          type: object
          required:
          - healthy
          - updatedAt
          properties:
            healthy:
              description: 'True is the component is healthy.

                '
              type: boolean
            updatedAt:
              type: number
            probes:
              description: 'Probes collected for this health check. Only applicable for Appliance probes.

                '
            failedProbes:
              description: 'Probe failures attributing to the result of this health check.

                '
              type: array
              items:
                $ref: '#/components/schemas/ComponentHealthStatusProbe'
        loadBalancing:
          description: 'The ability to accept inbound requests and load-balance across different replicas of application instances.

            '
          type: object
          required:
          - healthy
          - updatedAt
          properties:
            healthy:
              description: 'True is the component is healthy.

                '
              type: boolean
            updatedAt:
              type: number
            probes:
              description: 'Probes collected for this health check. Only applicable for Appliance probes.

                '
            failedProbes:
              description: 'Probe failures attributing to the result of this health check.

                '
              type: array
              items:
                $ref: '#/components/schemas/ComponentHealthStatusProbe'
        anypointMonitoring:
          description: 'The ability to see metrics and logs in Anypoint Monitoring.

            '
          type: object
          required:
          - healthy
          - updatedAt
          properties:
            healthy:
              description: 'True is the component is healthy.

                '
              type: boolean
            updatedAt:
              type: number
            probes:
              description: 'Probes collected for this health check. Only applicable for Appliance probes.

                '
            failedProbes:
              description: 'Probe failures attributing to the result of this health check.

                '
              type: array
              items:
                $ref: '#/components/schemas/ComponentHealthStatusProbe'
        externalLogForwarding:
          description: 'The ability to forward application logs to an external provider.

            '
          type: object
          required:
          - healthy
          - updatedAt
          properties:
            healthy:
              description: 'True is the component is healthy.

                '
              type: boolean
            updatedAt:
              type: number
            probes:
              description: 'Probes collected for this health check. Only applicable for Appliance probes.

                '
            failedProbes:
              description: 'Probe failures attributing to the result of this health check.

                '
              type: array
              items:
                $ref: '#/components/schemas/ComponentHealthStatusProbe'
        appliance:
          description: 'Detailed status of the appliance, when applicable.

            '
          type: object
          required:
          - healthy
          - updatedAt
          properties:
            healthy:
              description: 'True is the component is healthy.

                '
              type: boolean
            updatedAt:
              type: number
            probes:
              description: 'Probes collected for this health check. Only applicable for Appliance probes.

                '
            failedProbes:
              description: 'Probe failures attributing to the result of this health check.

                '
              type: array
              items:
                $ref: '#/components/schemas/ComponentHealthStatusProbe'
        infrastructure:
          description: 'Detailed status of the infrastructure supporting the Runtime Fabric cluster.

            '
          type: object
          required:
          - healthy
          - updatedAt
          properties:
            healthy:
              description: 'True is the component is healthy.

                '
              type: boolean
            updatedAt:
              type: number
            probes:
              description: 'Probes collected for this health check. Only applicable for Appliance probes.

                '
            failedProbes:
              description: 'Probe failures attributing to the result of this health check.

                '
              type: array
              items:
                $ref: '#/components/schemas/ComponentHealthStatusProbe'
        persistentGateway:
          description: 'Detailed status of the persistent gateway for Runtime Fabric cluster.

            '
          type: object
          required:
          - healthy
          - updatedAt
          properties:
            healthy:
              description: 'True is the component is healthy.

                '
              type: boolean
            updatedAt:
              type: number
            probes:
              description: 'Probes collected for this health check. Only applicable for Appliance probes.

                '
            failedProbes:
              description: 'Probe failures attributing to the result of this health check.

                '
              type: array
              items:
                $ref: '#/components/schemas/ComponentHealthStatusProbe'
    FabricGroup:
      type: object
      required:
      - id
      - name
      - associations
      properties:
        id:
          type: string
        name:
          type: string
        associations:
          type: array
          items:
            $ref: '#/components/schemas/Association'
    Association:
      type: object
      required:
      - id
      - name
      - environmentId
      - organizationId
      - deploymentStatus
      properties:
        id:
          type: string
        name:
          type: string
        environmentId:
          type: string
        organizationId:
          type: string
        deploymentStatus:
          type: string
        errorMessage:
          type: string
    AssociationPost:
      x-amf-examples:
        create-request:
          name: hello-rtf
          environmentId: 5e409a9d-49a7-456c-82d7-a6254738a18
          organizationId: 8d72ee02-be83-4963-99c5-5837b8f7907b
      type: object
      required:
      - name
      - environmentId
      - organizationId
      properties:
        name:
          type: string
        environmentId:
          type: string
        organizationId:
          type: string
    AssociationPatch:
      type: object
    ImageRegistryCredential:
      type: object
      required:
      - user
      - endpoint
      - passwordExpirationTimestamp
      properties:
        user:
          description: Username for pulling Runtime Fabric Docker images
          type: string
        password:
          description: Password for pulling Runtime Fabric Docker images
          type: string
        endpoint:
          description: Url of the image registry.
          type: string
        passwordExpirationTimestamp:
          description: Password expiration timestamp
          type: number
    Runtime:
      type: object
      properties:
        name:
          type: string
        recommended:
          type: boolean
        endOfSupportDate:
          type: number
    RuntimeTag:
      type: object
      properties:
        name:
          type: string
        releaseDate:
          type: number
        scope:
          type: array
          items:
            type: string
        minRtfVersion:
          type: string
        gracePeriodDays:
          type: number
    DownloadableArtifact:
      type: object
      required:
      - name
      - url
      - version
      - updatedAt
      properties:
        name:
          type: string
        url:
          type: string
        version:
          type: string
        updatedAt:
          type: number
        releaseNoteUrl:
          type: string
    Node:
      type: object
      required:
      - uid
      - kubeletVersion
      - role
      - capacity
      - allocatedRequestCapacity
      - allocatedLimitCapacity
      properties:
        uid:
          description: 'Kubernetes node uid.

            '
          type: string
        name:
          description: 'The human readable name of the node.

            '
          type: string
        kubeletVersion:
          description: 'The version of the kubelet on the node.

            '
          type: string
        dockerVersion:
          description: 'The version of the docker on the node.

            '
          type: string
        role:
          description: 'The role of the node: controller or worker.

            '
          type: string
        status:
          type: object
          properties:
            isHealthy:
              description: 'Indicates if the node is healthy or not.

                '
              type: boolean
            isReady:
              description: 'Indicates if the node is ready or not.

                '
              type: boolean
            isSchedulable:
              description: 'Indicates if the node is schedulable or not.

                '
              type: boolean
            warnings:
              description: 'A list of warnings that makes the node unhealthy.

                '
              type: array
              items:
                type: string
        capacity:
          $ref: '#/components/schemas/CapacityType'
        allocatedRequestCapacity:
          $ref: '#/components/schemas/CapacityType'
        allocatedLimitCapacity:
          $ref: '#/components/schemas/CapacityType'
    AzureConfig:
      type: object
      required:
      - Customer_ID
      - Shared_Key
      properties:
        Customer_ID:
          description: Customer ID or WorkspaceID string.
          type: string
        Shared_Key:
          description: The primary or the secondary Connected Sources client authentication key.
          type: string
        Log_Type:
          description: The name of the event type.
          type: string
    SplunkConfig:
      type: object
      required:
      - Host
      - Port
      properties:
        Host:
          description: IP address or hostname of the target Splunk service.
          type: string
        Port:
          description: TCP port of the target Splunk service.
          type: string
        Splunk_Token:
          description: Specify the Authentication Token for the HTTP Event Collector interface.
          type: string
        Splunk_Send_Raw:
          description: When enabled, the record keys and values are set in the top level of the map instead of under the event key.
          type: string
        Tls:
          description: Enable or disable TLS support
          type: string
        HTTP_User:
          description: Optional username for Basic Authentication on HEC
          type: string
        HTTP_Passwd:
          description: Password for user defined in HTTP_User
          type: string
        CA_file_content:
          type: string
    GrayLogConfig:
      type: object
      required:
      - Match
      - Host
      - Port
      - Mode
      - Gelf_Short_Message_Key
      - Gelf_Host_Key
      - Gelf_Full_Message_Key
      properties:
        Match:
          description: Pattern to match which tags of logs to be outputted by this plugin
          type: string
        Host:
          description: IP address or hostname of the target Graylog server
          type: string
        Port:
          description: The port that your Graylog GELF input is listening on
          type: string
        Mode:
          description: The protocol to use (tls, tcp or udp)
          type: string
        Tls:
          description: Enable or disable TLS support
          type: string
        Gelf_Short_Message_Key:
          description: A short descriptive message
          type: string
        Gelf_Timestamp_Key:
          description: Your log timestamp
          type: string
        Gelf_Host_Key:
          description: Key which its value is used as the name of the host, source or application that sent this message.
          type: string
        Gelf_Full_Message_Key:
          description: Key to use as the long message that can i.e. contain a backtrace.
          type: string
        Gelf_Level_Key:
          description: Key to be used as the log level. Its value must be in standard syslog levels (between 0 and 7).
          type: string
        Packet_Size:
          description: If transport protocol is udp, you can set the size of packets to be sent.
          type: string
        Compress:
          description: If transport protocol is udp, you can set this if you want your UDP packets to be compressed.
          type: boolean
        CA_file_content:
          type: string
    ElasticSearchConfig:
      type: object
      required:
      - Host
      - Port
      - Index
      properties:
        Host:
          description: IP address or hostname of the target Elasticsearch instance
          type: string
        Port:
          description: TCP port of the target Elasticsearch instance
          type: string
        Index:
          description: Index name
          type: string
        Tls:
          description: Enable or disable TLS support
          type: string
        Path:
          description: Elasticsearch accepts new data on HTTP query path "/_bulk". But it is also possible to serve Elasticsearch behind a reverse proxy on a subpath. This option defines such path on the fluent-bit side. It simply adds a path prefix in the indexing HTTP POST URI.
          type: string
        Buffer_Size:
          description: Specify the buffer size used to read the response from the Elasticsearch HTTP service. This option is useful for debugging purposes where is required to read full responses, note that response size grows depending of the number of records inserted. To set an unlimited amount of memory set this value to False, otherwise the value must be according to the Unit Size specification.
          type: string
        HTTP_User:
          description: Optional username credential for Elastic X-Pack access
          type: string
        HTTP_Passwd:
          description: Password for user defined in HTTP_User
          type: string
        Type:
          description: Type name
          type: string
        Logstash_Format:
          description: 'Enable Logstash format compatibility. This option takes a boolean value: True/False, On/Off'
          type: string
        Logstash_Prefix:
          description: 'When Logstash_Format is enabled, the Index name is composed using a prefix and the date, e.g: If Logstash_Prefix is equals to ''mydata'' your index will become ''mydata-YYYY.MM.DD''. The last string appended belongs to the date when the data is being generated.'
          type: string
        Logstash_DateFormat:
          description: Time format (based on strftime) to generate the second part of the Index name.
          type: string
        Time_Key:
          description: When Logstash_Format is enabled, each record will get a new timestamp field. The Time_Key property defines the name of that field.
          type: string
        Time_Key_Format:
          description: When Logstash_Format is enabled, this property defines the format of the timestamp.
          type: string
        Include_Tag_Key:
          description: When enabled, it append the Tag name to the record.
          type: string
        Tag_Key:
          description: When Include_Tag_Key is enabled, this property defines the key name for the tag.
          type: string
        Generate_ID:
          description: When enabled, generate _id for outgoing records. This prevents duplicate records when retrying ES.
          type: string
        Replace_Dots:
          description: When enabled, replace field name dots with underscore, required by Elasticsearch 2.0-2.3.
          type: string
        Trace_Output:
          description: When enabled print the elasticsearch API calls to stdout (for diag only)
          type: string
        Trace_Error:
          description: When enabled print the elasticsearch API calls to stdout when elasticsearch returns an error
          type: string
        Current_Time_Index:
          description: Use current time for index generation instead of message record
          type: string
        Logstash_Prefix_Key:
          description: Prefix keys with this string
          type: string
        CA_file_content:
          type: string
    CloudWatchConfig:
      type: object
      required:
      - region
      - aws_access_key_id
      - aws_secret_access_key
      - log_group_name
      properties:
        region:
          description: The AWS region where CloudWatch service is hosted.
          type: string
        aws_access_key_id:
          description: Aws Access Key Id
          type: string
        aws_secret_access_key:
          description: Aws Secret Access Key
          type: string
        log_group_name:
          description: The name of the CloudWatch Log Group that you want log records sent to.
          type: string
        log_stream_name:
          description: The name of the CloudWatch Log Stream that you want log records sent to. Either of Log stream name or Log stream prefix is required.
          type: string
        log_stream_prefix:
          description: Prefix for the Log Stream name. The tag is appended to the prefix to construct the full log stream name. Not compatible with the log_stream_name option.
          type: string
        auto_create_group:
          description: Automatically create the log group. Valid values are "true" or "false" (case insensitive). Defaults to false.
          type: string
        log_key:
          description: If specified a key name with this option, then only the value of that key will be sent to CloudWatch. For example, if you are using the Fluentd Docker log driver, you can specify log_key log and only the log message will be sent to CloudWatch.
          type: string
        role_arn:
          description: ARN of an IAM role to assume (for cross account access).
          type: string
    SyslogConfig:
      type: object
      required:
      - Host
      - Port
      - Mode
      properties:
        Host:
          description: Host name or IP address of the remote Syslog server
          type: string
        Port:
          description: TCP or UDP port of the remote Syslog server
          type: string
        Mode:
          description: The desired mode of transport protocol type
          type: string
        Syslog_Format:
          description: Syslog protocol format to use
          type: string
        Syslog_Maxsize:
          description: This integer value sets the maximum number of bytes allowed per message. Defaults to 1024 for rfc3164 and 2048 for rfc5424
          type: string
    DataDogConfig:
      type: object
      required:
      - Host
      - apikey
      properties:
        Host:
          description: The Datadog server where user wants to send the logs
          type: string
        apikey:
          description: Users Datadog API key
          type: string
        Tls:
          description: End-to-end security communications security protocol.
          type: string
        compress:
          description: Compresses the payload in Datadog supported formats. Datadog supports and recommends setting this to gzip.
          type: string
        dd_service:
          description: The human readable name for your service generating the logs - the name of your application or database.
          type: string
        dd_source:
          description: A human readable name for the underlying technology of your service. For example, postgres or nginx.
          type: string
        dd_tags:
          description: The tags you want to assign to your logs in Datadog.
          type: string
    ForwardLogs:
      type: object
      properties:
        muleApplications:
          type: boolean
        rtfComponents:
          type: boolean
        rtfAppliances:
          type: boolean
    ComponentHealthStatusProbe:
      type: object
      required:
      - name
      - reason
      - lastTransitionAt
      properties:
        name:
          type: string
        reason:
          type: string
        lastTransitionAt:
          type: number
    CapacityType:
      type: object
      required:
      - cpuMillis
      - memory
      - memoryMi
      properties:
        cpu:
          type: integer
          minimum: 0
        cpuMillis:
          type: integer
          minimum: 0
        memory:
          type: string
        memoryMi:
          type: integer
          format: int64
        pods:
          type: integer
  parameters:
    XOrigin_organizationId_Path:
      name: organizationId
      description: The organization id where the Runtime Fabric is registered.
      required: true
      in: path
      schema:
        type: string
      x-origin:
      - api: urn:api:access-management
        operation: listMe
        name: rootOrg
        description: GET `/me`; use `user.organization.id` as the caller's primary Business Group GUID.
        values: $.user.organization.id
        labels: $.user.organization.name
      - api: urn:api:access-management
        operation: getOrganizations
        name: currentOrganization
        description: GET `/organizations/{organizationId}`; use `id` as the Business Group GUID for the current organization.
        values: $.id
        labels: $.name
      - api: urn:api:access-management
        operation: getOrganizations
        name: subOrganizations
        description: 'Each element of **subOrganizationIds** in the same response is a child Business Group GUID; use as **organizationId** when APIs are scoped to that subgroup.'
        values:
          - $.id
          - $.subOrganizationIds[*]
        labels:
          - $.name
          - $.subOrganizationIds[*]  
    XOrigin_fabricId_Path:
      name: fabricId
      required: true
      in: path
      schema:
        type: string
      x-origin:
      - api: urn:api:runtime-fabric
        operation: getOrganizationsByOrganizationidFabrics
        description: GET `/organizations/{organizationId}/fabrics` in this API; use `[].id` values as `fabricId`.
        values: $[*].id
        labels: $[*].name
      description: The fabric ID to identify the target resource.
    XOrigin_fabricOrganizationId_Path:
      name: organizationId
      required: true
      in: path
      schema:
        type: string
      x-origin:
      - api: urn:api:access-management
        operation: listMe
        name: rootOrg
        description: GET `/me`; use `user.organization.id` as the caller's primary Business Group GUID.
        values: $.user.organization.id
        labels: $.user.organization.name
      - api: urn:api:access-management
        operation: getOrganizations
        name: currentOrganization
        description: GET `/organizations/{organizationId}`; use `id` as the Business Group GUID for the current organization.
        values: $.id
        labels: $.name
      - api: urn:api:access-management
        operation: getOrganizations
        name: subOrganizations
        description: 'Each element of **subOrganizationIds** in the same response is a child Business Group GUID; use as **organizationId** when APIs are scoped to that subgroup.'
        values:
          - $.id
          - $.subOrganizationIds[*]
        labels:
          - $.name
          - $.subOrganizationIds[*]  
      description: The organization ID to identify the target resource.
    XOrigin_groupId_Path:
      name: groupId
      required: true
      in: path
      schema:
        type: string
      x-origin:
      - api: urn:api:runtime-fabric
        operation: getOrganizationsByOrganizationidGroups
        description: GET `/organizations/{organizationId}/groups` in this API; use `[].id` values as `groupId`.
        values: $[*].id
        labels: $[*].name
      description: The group ID to identify the target resource.
