<div class="auth-panel-header-bar homepage-header-bar" id="homepageHeader">
    <div class="auth-panel-left">
        <a href="https://www.mulesoft.com" class="logo-link homepage-logo-link" aria-label="MuleSoft homepage">
            <span class="homepage-sprite-logo" role="img" aria-label="MuleSoft"></span>
        </a>
    </div>
    <div class="auth-panel-right">
        <div class="homepage-contact-group">
            <span class="homepage-contact-label">Contact Us</span>
            <span class="homepage-phone">1-800-596-4880</span>
        </div>
        <a href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic" class="homepage-cta-btn">Free trial</a>
    </div>
</div>
