openapi: 3.0.0
info:
  title: Access Management API
  version: 1.0.0
  description: Manage access control, identity, and authorization for the Anypoint Platform. Create and configure organizations, environments, role-based access control (RBAC), teams, connected applications (OAuth clients), identity providers, and client credentials.
servers:
- url: https://anypoint.mulesoft.com/accounts/api
  description: The server for the US region
- url: https://eu1.anypoint.mulesoft.com/accounts/api
  description: The server for the EU region 
- url: https://{region}.platform.mulesoft.com/accounts/api
  description: The server for a specific region
  variables:
    region:
      default: ca1
      description: Region identifier for the service endpoint.

tags:
  - name: Access Management
    description: APIs for managing access control, identity, and authorization within the Anypoint Platform, including organizations, environments, RBAC, teams, connected applications, identity providers, and client credentials.
  - name: Identity Providers
    description: APIs for managing identity providers, including creation, configuration, and assignment to organizations and environments.  
  - name: Organizations and Environments
    description: APIs for managing organizations and environments, including creation, configuration, and access control.
  - name: Role-Based Access Control (RBAC)
    description: APIs for managing role-based access control, including roles, permissions, and assignments to users and client applications.    
paths:
  /authorize:
    get:
      description: Authorize for a single resource
      parameters:
      - name: namespace
        required: true
        in: query
        schema:
          type: string
        description: The permission namespace to check authorization against (e.g., cloudhub, exchange).
      - name: action
        required: true
        in: query
        schema:
          type: string
        description: The action to authorize (e.g., GET, POST, PUT, DELETE).
      - name: resource
        required: true
        in: query
        schema:
          type: string
        description: The resource path to check authorization for.
      requestBody:
        content:
          application/json:
            schema:
              example:
                namespace: namespace
                action: GET
                resource: /api
        x-amf-mediaType: application/json
        description: Request payload for list authorize.
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: listAuthorize
    post:
      description: Authorize for many resources
      requestBody:
        content:
          application/json:
            schema:
              example:
                namespace: namespace
                action: GET
                resources:
                - /api/users
                - /api/clients
        x-amf-mediaType: application/json
        description: Request payload for create authorize.
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                - /api/users
                - /api/clients
        '400':
          description: ''
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: createAuthorize
  /authorize/client:
    get:
      parameters:
      - name: client_id
        required: true
        in: query
        schema:
          type: string
        description: The unique identifier of the client application.
      - name: client_secret
        required: true
        in: query
        schema:
          type: string
        description: The secret credential for the client application.
      - name: namespace
        required: true
        in: query
        schema:
          type: string
        description: The permission namespace to check authorization against (e.g., cloudhub, exchange).
      - name: action
        required: true
        in: query
        schema:
          type: string
        description: The action to authorize (e.g., GET, POST, PUT, DELETE).
      - name: resource
        required: true
        in: query
        schema:
          type: string
        description: The resource path to check authorization for.
      requestBody:
        content:
          application/json:
            schema:
              example:
                client_id: cid
                client_secret: secret
                namespace: namespace
                action: GET
                resource: /api
        x-amf-mediaType: application/json
        description: Request payload for list authorize client.
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: listAuthorizeClient
      description: Authorizes a client application for access to a specific resource using client credentials.
  /authorize/context:
    post:
      description: Get the set of contexts in which the caller can perform an action on resources that match a template
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizeContext'
        x-amf-mediaType: application/json
        description: Request payload for create authorize context.
      responses:
        '200':
          description: Success
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  data:
                  - namespace: cloudhub
                    resource: /organizations/614b40bf-6eb6-49ac-82f4-d8332b6f4d1b/environments/a4685c7a-08fe-45d7-9e29-87b84223d251/applications
                    resourceTemplate: /organizations/{{org}}/environments/{{envId}}/applications
                    resourceTemplateParams:
                      org: 614b40bf-6eb6-49ac-82f4-d8332b6f4d1b
                      envId: a4685c7a-08fe-45d7-9e29-87b84223d251
                    actions:
                    - GET
                  - namespace: cloudhub
                    resource: /organizations/614b40bf-6eb6-49ac-82f4-d8332b6f4d1b/environments/05e35d44-405a-4693-81ce-4e78e9a72891/applications
                    resourceTemplate: /organizations/{{org}}/environments/{{envId}}/applications
                    resourceTemplateParams:
                      org: 614b40bf-6eb6-49ac-82f4-d8332b6f4d1b
                      envId: 05e35d44-405a-4693-81ce-4e78e9a72891
                    actions:
                    - GET
                  - namespace: cloudhub
                    resource: /organizations/d71ef2da-40cf-415b-80fd-eab0a7130bc8/environments/*/applications
                    resourceTemplate: /organizations/{{org}}/environments/{{envId}}/applications
                    resourceTemplateParams:
                      org: d71ef2da-40cf-415b-80fd-eab0a7130bc8
                      envId: '*'
                    actions:
                    - GET
                  total: 3
                type: object
                required:
                - data
                - total
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuthorizeContextResult'
                  total:
                    type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: createAuthorizeContext
  /clients:
    description: 'Access to clients

      '
    get:
      description: 'Get all clients

        '
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  ac_client:
                    client_id: ac_client
                    name: Authorization Code
                    redirect_uris:
                    - http://localhost:3004/auth/callback
                    grant_types:
                    - authorization_code
                    - refresh_token
                    properties:
                      additional: meta-data
                    org_id: 40260a62-bbdc-469d-9330-5eec892abbbb
                  rs_client:
                    client_id: rs_client
                    name: Resource Server
                    grant_types:
                    - validate_bearer
                    properties:
                      additional: meta-data
                    org_id: 40260a62-bbdc-469d-9330-5eec892abbbb
                  ro_client:
                    client_id: ro_client
                    name: Resource Owner
                    grant_types:
                    - password
                    - refresh_token
                    properties:
                      additional: meta-data
                    org_id: 40260a62-bbdc-469d-9330-5eec892abbbb
                  cc_client:
                    client_id: cc_client
                    name: Client Credentials
                    grant_types:
                    - client_credentials
                    properties:
                      additional: meta-data
                    org_id: 40260a62-bbdc-469d-9330-5eec892abbbb
                  im_client:
                    client_id: im_client
                    name: Implicit
                    redirect_uris:
                    - http://localhost:3004/auth/callback
                    grant_types:
                    - implicit
                    - validate_bearer
                    properties:
                      additional: meta-data
                    org_id: 40260a62-bbdc-469d-9330-5eec892abbbb
                  cp_client:
                    client_id: cp_client
                    name: Client Credentials
                    redirect_uris:
                    - http://localhost:3004/auth/callback
                    grant_types:
                    - client_credentials
                    org_id: 40260a62-bbdc-469d-9330-5eec892abbbb
                    client_management_provider_id: b732985a-d30f-11e9-bb65-2a2ae2dbcce4
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: listClients
    post:
      description: Create a new client
      requestBody:
        $ref: '#/components/requestBodies/Generated6'
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  client_id: im_client
                  name: Implicit
                  redirect_uris:
                  - http://localhost/callback
                  grant_types:
                  - implicit
                  properties:
                    additional: meta-data
                  org_id: 40260a62-bbdc-469d-9330-5eec892abbbb
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: createClients
  /clients/{clientId}:
    description: 'Access to a client

      '
    get:
      description: 'Get a single client

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_clientId_Path'
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  client_id: im_client
                  name: Implicit
                  redirect_uris:
                  - http://localhost/callback
                  grant_types:
                  - implicit
                  properties:
                    additional: meta-data
                  org_id: 40260a62-bbdc-469d-9330-5eec892abbbb
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: getClients
    patch:
      description: 'Patches a single client

        '
      parameters:
      - name: resetSecret
        description: Asks service to reset secret as part of this operation
        required: true
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/XOrigin_clientId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated7'
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: updateClients
    delete:
      description: 'Deletes a single client

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_clientId_Path'
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
        '409':
          description: ''
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: deleteClients
  /clients/{clientId}/roles:
    description: Access to a client's roles
    get:
      description: Return a list of roles that are assigned to a client
      parameters:
      - $ref: '#/components/parameters/XOrigin_clientId_Path'
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                - client_role_id: 40460a62-bbdc-469d-9330-5eec892abd05
                  role_id: 20460a62-bbdc-469d-9330-5eec892abd05
                  context_params:
                    org: ms
                    env: test
        '400':
          description: ''
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: listClientsRoles
    post:
      description: Assign a list of roles to a client
      parameters:
      - $ref: '#/components/parameters/XOrigin_clientId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated5'
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: createClientsRoles
    delete:
      description: Unassign a list of roles from a client
      parameters:
      - $ref: '#/components/parameters/XOrigin_clientId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated5'
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: deleteClientsRoles
  /clients/{clientId}/roles/{roleId}:
    get:
      description: Return a role is assigned to a client
      parameters:
      - $ref: '#/components/parameters/XOrigin_clientId_Path'
      - $ref: '#/components/parameters/XOrigin_roleId_Path'
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                - client_role_id: 40460a62-bbdc-469d-9330-5eec892abd05
                  role_id: 20460a62-bbdc-469d-9330-5eec892abd05
                  context_params:
                    org: ms
                    env: test
        '400':
          description: ''
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: getClientsRoles
    post:
      description: Assign a role to a client
      parameters:
      - $ref: '#/components/parameters/XOrigin_clientId_Path'
      - $ref: '#/components/parameters/XOrigin_roleId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated3'
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: createClientRole
    delete:
      description: Unassign a role from a client
      parameters:
      - $ref: '#/components/parameters/XOrigin_clientId_Path'
      - $ref: '#/components/parameters/XOrigin_roleId_Path'
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: deleteClientRole
  /clients/search:
    post:
      description: Search clients
      requestBody:
        content:
          application/json:
            schema:
              example:
                client_id:
                - client1
                - client2
              type: object
              properties:
                name:
                  $ref: '#/components/schemas/stringOrArray'
                client_id:
                  $ref: '#/components/schemas/stringOrArray'
                org_id:
                  $ref: '#/components/schemas/stringOrArray'
                client_management_provider_id:
                  $ref: '#/components/schemas/stringOrArray'
        x-amf-mediaType: application/json
        description: Request payload for create clients search.
      responses:
        '200':
          description: Success
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                - client_id: ac_client
                  name: Authorization Code
                  redirect_uris:
                  - http://localhost:3004/auth/callback
                  grant_types:
                  - authorization_code
                  - refresh_token
                  properties:
                    additional: meta-data
                  org_id: 40260a62-bbdc-469d-9330-5eec892abbbb
                - client_id: rs_client
                  name: Resource Server
                  grant_types:
                  - validate_bearer
                  properties:
                    additional: meta-data
                  org_id: 40260a62-bbdc-469d-9330-5eec892abbbb
                - client_id: ro_client
                  name: Resource Owner
                  grant_types:
                  - password
                  - refresh_token
                  properties:
                    additional: meta-data
                  org_id: 40260a62-bbdc-469d-9330-5eec892abbbb
                - client_id: cc_client
                  name: Client Credentials
                  grant_types:
                  - client_credentials
                  properties:
                    additional: meta-data
                  org_id: 40260a62-bbdc-469d-9330-5eec892abbbb
                - client_id: im_client
                  name: Implicit
                  redirect_uris:
                  - http://localhost:3004/auth/callback
                  grant_types:
                  - implicit
                  - validate_bearer
                  properties:
                    additional: meta-data
                  org_id: 40260a62-bbdc-469d-9330-5eec892abbbb
                - client_id: cp_client
                  name: Client Credentials
                  redirect_uris:
                  - http://localhost:3004/auth/callback
                  grant_types:
                  - client_credentials
                  org_id: 40260a62-bbdc-469d-9330-5eec892abbbb
                  client_management_provider_id: b732985a-d30f-11e9-bb65-2a2ae2dbcce4
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: createClientsSearch
  /connectedApplications:
    description: Access to connected applications
    get:
      description: Get all connected applications for the organization
      parameters:
      - name: includeUsage
        description: flag to indicate whether to return usage statistics
        required: true
        in: query
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/XOrigin_organizationId_Query'
      - name: hide_managed
        description: Hides the managed connected apps when set to true.
        in: query
        schema:
          type: boolean
          default: true
      - name: offset
        description: The number of records to omit from the response.
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: limit
        description: Maximum records to retrieve per request.
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 20
          default: 20
      - name: search
        description: A search string to use for case-insensitive partial matches on all object properties
        required: false
        in: query
        schema:
          type: string
      - name: sort
        description: The field to sort on.
        required: false
        in: query
        schema:
          type: string
          enum:
          - client_id
          - client_name
          default: client_name
      - name: ascending
        description: Whether to sort ascending or descending
        required: true
        in: query
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  data:
                  - client_id: 0fa2aa2f0aeb4978b96796a0843f898c
                    owner_org_id: 0eb65884-4f75-48f7-a8bc-4e30b46e721d
                    client_name: Client Credz
                    client_secret: B0313ad5a6B44f7ebb4Bf482C49327e1
                    public_keys: []
                    redirect_uris:
                    - https://why.net
                    grant_types:
                    - client_credentials
                    scopes: []
                    enabled: true
                    audience: internal
                    client_uri:
                    policy_uri:
                    tos_uri:
                    generate_iss_claim_without_token: true
                  - client_id: e8c28f0249a6417bb892ff8d6013d628
                    owner_org_id: 0eb65884-4f75-48f7-a8bc-4e30b46e721d
                    client_name: OpenID Integration
                    client_secret: eA0Fa9BaAe454F32A6Ae8ABBc1b730C0
                    public_keys: []
                    redirect_uris:
                    - https://example.com
                    grant_types:
                    - implicit
                    - authorization_code
                    - refresh_token
                    scopes:
                    - full
                    - read:full
                    - openid
                    - profile
                    - email
                    - offline_access
                    enabled: true
                    audience: internal
                    client_uri:
                    policy_uri:
                    tos_uri:
                    generate_iss_claim_without_token: false
                  total: 2
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: listConnectedApplications
    post:
      description: Create a new connected application
      requestBody:
        $ref: '#/components/requestBodies/ConnectedApplicationCreate'
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  client_id: 0fa2aa2f0aeb4978b96796a0843f898c
                  owner_org_id: 0eb65884-4f75-48f7-a8bc-4e30b46e721d
                  client_name: SampleClient
                  client_secret: B0313ad5a6B44f7ebb4Bf482C49327e1
                  public_keys: []
                  redirect_uris:
                  - https://why.net
                  grant_types:
                  - client_credentials
                  scopes: []
                  enabled: true
                  audience: internal
                  generate_iss_claim_without_token: true
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: createConnectedApplications
  /connectedApplications/{clientId}:
    description: Access to individual connected application
    get:
      description: Get a single connected application
      parameters:
      - name: includeUsage
        description: flag to indicate whether to return usage statistics
        required: true
        in: query
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/XOrigin_connectedApplicationClientId_Path'
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  client_id: 0fa2aa2f0aeb4978b96796a0843f898c
                  owner_org_id: 0eb65884-4f75-48f7-a8bc-4e30b46e721d
                  client_name: SampleClient
                  client_secret: B0313ad5a6B44f7ebb4Bf482C49327e1
                  public_keys: []
                  redirect_uris:
                  - https://why.net
                  grant_types:
                  - client_credentials
                  scopes: []
                  enabled: true
                  audience: internal
                  generate_iss_claim_without_token: true
        '404':
          description: Connected application with that clientId could not be found
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: getConnectedApplications
    patch:
      description: Patches a single connected application
      parameters:
      - name: resetSecret
        description: Asks service to reset secret as part of this operation
        in: query
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/XOrigin_connectedApplicationClientId_Path'
      requestBody:
        $ref: '#/components/requestBodies/ConnectedApplicationUpdate'
      responses:
        '200':
          description: Connected application was successfully updated
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  client_id: 0fa2aa2f0aeb4978b96796a0843f898c
                  owner_org_id: 0eb65884-4f75-48f7-a8bc-4e30b46e721d
                  client_name: SampleClient
                  client_secret: B0313ad5a6B44f7ebb4Bf482C49327e1
                  public_keys: []
                  redirect_uris:
                  - https://why.net
                  grant_types:
                  - client_credentials
                  scopes: []
                  enabled: true
                  audience: internal
                  generate_iss_claim_without_token: true
        '404':
          description: Connected application with that clientId could not be found
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: updateConnectedApplications
    delete:
      description: Deletes a single connected application
      parameters:
      - $ref: '#/components/parameters/XOrigin_connectedApplicationClientId_Path'
      responses:
        '204':
          description: Connected application was deleted
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: deleteConnectedApplications
  /connectedApplications/{clientId}/scopes:
    description: 'Routes for operationg upon context-aware scopes assigned directly to the client''s identity,

      only for use with the client_credentials grant type. Orthogonal to the set of scopes associated

      with user authorizations.

      '
    get:
      description: Retrieves context-aware scopes assigned to the connected application
      parameters:
      - name: offset
        description: The number of records to omit from the response.
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: limit
        description: Maximum records to retrieve per request.
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 500
          default: 25
      - $ref: '#/components/parameters/XOrigin_connectedApplicationClientId_Path'
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  data:
                  - scope: example:scope
                    context_params:
                      org: 8b0b657c-91ca-420d-870a-08699094f5e4
                      envId: 7cc0463b-f7be-418d-8a64-84fbad13ab00
                  total: 1
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: listConnectedApplicationsScopes
    put:
      description: Replaces the entire list of context-aware scopes assigned to the connected application
      parameters:
      - $ref: '#/components/parameters/XOrigin_connectedApplicationClientId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated8'
      responses:
        '204':
          description: Connected application scopes were successfully replaced
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: updateConnectedApplicationsScopes
    patch:
      description: 'Assigns additional context-aware scopes to the connected application.

        Does not unassign any existing scopes.

        Duplicate entries are ignored.

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_connectedApplicationClientId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated9'
      responses:
        '204':
          description: Connected application scopes were successfully assigned
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: updateConnectedApplicationScopes
    delete:
      description: 'Unassigns context-aware scopes from the connected application.

        Scopes must exactly match in order to be removed.

        '
      parameters:
      - $ref: '#/components/parameters/XOrigin_connectedApplicationClientId_Path'
      requestBody:
        $ref: '#/components/requestBodies/Generated8'
      responses:
        '204':
          description: Connected application scopes were successfully unassigned
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: deleteConnectedApplicationsScopes
  /connectedApplications/{clientId}/revoke:
    delete:
      description: Revoke all access tokens and refresh tokens issued to the connected application
      parameters:
      - $ref: '#/components/parameters/XOrigin_connectedApplicationClientId_Path'
      responses:
        '204':
          description: All tokens were revoked successfully
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: deleteConnectedApplicationsRevoke
  /deletedResources:
    description: find deleted resources
  /deletedResources/organizations:
    get:
      description: returns the deleted organizations
      parameters:
      - name: deletedBefore
        description: search for all organizations deleted before a certain date
        required: true
        in: query
        schema:
          type: string
          format: date-time-only
      - name: deletedAfter
        description: search for all organizations deleted after a certain date
        required: true
        in: query
        schema:
          type: string
          format: date-time-only
      - name: parentOrgId
        description: search for all organizations deleted that are children of the specified orgnization
        required: true
        in: query
        schema:
          type: string
      - name: organizationId
        description: search for the organization deleted
        required: true
        in: query
        schema:
          type: string
        x-origin:
        - api: urn:api:access-management
          operation: listMe
          name: rootOrg
          description: GET `/me`; use `user.organization.id` as the caller's primary Business Group GUID.
          values: $.user.organization.id
          labels: $.user.organization.name
        - api: urn:api:access-management
          operation: getOrganizations
          name: currentOrganization
          description: GET `/organizations/{organizationId}`; use `id` as the Business Group GUID for the current organization.
          values: $.id
          labels: $.name
        - api: urn:api:access-management
          operation: getOrganizations
          name: subOrganizations
          description: GET `/organizations/{organizationId}`; each value in `subOrganizationIds` is a valid child Business Group GUID.
          values: $.subOrganizationIds
          labels: $.name
      responses:
        '200':
          description: Success
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  data:
                  - org_id: 2b4ae07b-321d-4364-8e16-4b655936a7b8
                    parent_organization_ids:
                    - 3b4ae07b-321d-4364-8e16-4b655936a7b7
                    - 4b4ae07b-321d-4364-8e16-4b655936a7b6
                    environment_ids:
                    - 3b4ae07b-321d-4364-8e16-4bfsd936a7b7
                    - 2b4ae07b-321d-4364-8e16-4b655adga7b7
                    - 7b4ae07b-321d-4364-8e16-4b655aa3a7b6
                    deleted_at: 2019-08-13 16:19:33.859000+00:00
                  total: 1
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: listDeletedResources
  /deletedResources/environments:
    get:
      description: returns the deleted environments
      parameters:
      - name: deletedBefore
        description: search for all environments deleted before a certain date
        required: true
        in: query
        schema:
          type: string
          format: date-time-only
      - name: deletedAfter
        description: search for all environments deleted after a certain date
        required: true
        in: query
        schema:
          type: string
          format: date-time-only
      - name: organizationId
        description: search for all environments deleted that are associated with the specified orgnization
        required: true
        in: query
        schema:
          type: string
        x-origin:
        - api: urn:api:access-management
          operation: listMe
          name: rootOrg
          description: GET `/me`; use `user.organization.id` as the caller's primary Business Group GUID.
          values: $.user.organization.id
          labels: $.user.organization.name
        - api: urn:api:access-management
          operation: getOrganizations
          name: currentOrganization
          description: GET `/organizations/{organizationId}`; use `id` as the Business Group GUID for the current organization.
          values: $.id
          labels: $.name
        - api: urn:api:access-management
          operation: getOrganizations
          name: subOrganizations
          description: GET `/organizations/{organizationId}`; each value in `subOrganizationIds` is a valid child Business Group GUID.
          values: $.subOrganizationIds
          labels: $.name
      - name: envId
        description: search for the environment deleted
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  data:
                  - environment_id: 3b4ae07b-321d-4364-8e16-4bfsd936a7b7
                    organization_id: 2b4ae07b-321d-4364-8e16-4b655936a7b8
                    deleted_at: 2019-08-13 16:19:33.859000+00:00
                    deleted_through_org: true
                  total: 1
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: listDeletedResourcesEnvironments
  /environments:
    description: Environments resource
  /environments/{environmentId}:
    description: Environment by id
    get:
      description: Retrieves an environment by id
      parameters:
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      responses:
        '200':
          description: Returns the environment
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  id: f0c9b011-980e-4928-9430-e60e3a97c043
                  organizationId: 70b3f7cb-614c-4276-b0cd-4f73db11602c
                  name: Development
                  isProduction: false
                  type: sandbox
                  clientId: abdf31490ba44484a1de789baf685e37
        '404':
          description: No environment exists with that id
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: getEnvironments
    put:
      description: Update an environment, implemented as a patch. Note that only the name is allowed to be updated, isProduction and type can not.
      parameters:
      - $ref: '#/components/parameters/XOrigin_environmentId_Path'
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: FooBarEnv
                organizationId: f0c9b011-980e-4928-9430-e60e3a97c043
        x-amf-mediaType: application/json
        description: Request payload for update environments.
      responses:
        '200':
          description: Returns the updated environment
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  id: f0c9b011-980e-4928-9430-e60e3a97c043
                  organizationId: 70b3f7cb-614c-4276-b0cd-4f73db11602c
                  name: Development
                  isProduction: false
                  type: sandbox
                  clientId: abdf31490ba44484a1de789baf685e37
        '404':
          description: No environment exists with that id
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: updateEnvironments
  /featureFlags/{featureFlagName}:
    parameters:
    - name: featureFlagName
      description: The name of the feature flag to evaluate.
      required: true
      in: path
      schema:
        type: string
  /featureFlags/{featureFlagName}/check:
    post:
      description: check a feature for a list or organizations
      parameters:
      - name: featureFlagName
        required: true
        in: path
        schema:
          type: string
        description: The name of the feature flag to evaluate.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureFlagCheckOrgList'
        x-amf-mediaType: application/json
        description: Request payload for create feature flags check.
      responses:
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: createFeatureFlagsCheck
  /featureFlags/{featureFlagName}/enabled:
    get:
      description: get all enabled featureFlags includes organizations and additional context
      parameters:
      - name: featureFlagName
        required: true
        in: path
        schema:
          type: string
        description: The name of the feature flag to evaluate.
      responses:
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: listFeatureFlagsEnabled
  /invites:
    description: Invite people to join the organization
    get:
      description: get outstanding or expired invites that match the criteria
      parameters:
      - name: organizationId
        description: the id of the organization that the invites are for joining.
        required: true
        in: query
        schema:
          type: string
        x-origin:
        - api: urn:api:access-management
          operation: listMe
          name: rootOrg
          description: GET `/me`; use `user.organization.id` as the caller's primary Business Group GUID.
          values: $.user.organization.id
          labels: $.user.organization.name
        - api: urn:api:access-management
          operation: getOrganizations
          name: currentOrganization
          description: GET `/organizations/{organizationId}`; use `id` as the Business Group GUID for the current organization.
          values: $.id
          labels: $.name
        - api: urn:api:access-management
          operation: getOrganizations
          name: subOrganizations
          description: GET `/organizations/{organizationId}`; each value in `subOrganizationIds` is a valid child Business Group GUID.
          values: $.subOrganizationIds
          labels: $.name
      - name: offset
        description: The number of records to omit from the response.
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: limit
        description: Maximum records to retrieve per request.
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 500
          default: 25
      - name: search
        description: A search string to use for case-insensitive partial matches on invited emails
        required: false
        in: query
        schema:
          type: string
      - name: sort
        description: The field to sort on.
        required: false
        in: query
        schema:
          type: string
          enum:
          - invited_email
          - invited_at
          default: invited_email
      - name: ascending
        description: Whether to sort ascending or descending
        required: true
        in: query
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Success
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  data:
                  - id: 520
                    code: f2e8dfab-6699-4889-831f-6dc6f8428cb0
                    invited_at: 2015-01-30 22:23:55.433000+00:00
                    invited_email: christopher.mordue@mulesoft.com
                    invited_by_user:
                      id: 57e281b5-ec5b-4701-80a0-92a936a68da3
                      username: organization_owner
                      first_name: Organization2
                      last_name: Owner
                    invited_to_org:
                      id: f0c9b011-980e-4928-9430-e60e3a97c043
                      name: MuleSoft Inc
                    expires_at: 2015-04-10 22:23:55.433000+00:00
                    status: INVITED
                    completed_at:
                    completed_by_user:
                    role_groups:
                    - name: Organization Administrators
                      role_group_id: 0b19f6df-ed81-4fd1-b5e7-4921f5e46f4c
                  total: 1
                type: object
                required:
                - data
                - total
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invite'
                  total:
                    type: number
        '400':
          description: Bad request; unknown organization, bad parameter or other failure
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: listInvites
    post:
      description: Invite a person to join the organization
      requestBody:
        $ref: '#/components/requestBodies/InviteNewList'
      responses:
        '200':
          description: Success
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteList'
        '400':
          description: Bad request; unknown organization, bad parameter or other failure
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: createInvites
    delete:
      description: Invite a person to join your organization
      requestBody:
        $ref: '#/components/requestBodies/InvitesIds'
      responses:
        '204':
          description: Success
        '400':
          description: Bad request; unknown organization, bad parameter or no invite was deleted
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: deleteInvites
  /invites/{inviteId}:
    description: Invite resource
    get:
      description: get an invite
      parameters:
      - name: inviteId
        description: The ID of the invite
        required: true
        in: path
        schema:
          type: integer
      responses:
        '200':
          description: Success
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invite'
        '400':
          description: Bad request; bad parameter or other failure
        '404':
          description: No invite exists in this organization for the given inviteId
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: getInvites
  /invites/accept:
    get:
      description: Redirect to anypoint signin to accept an invite
      responses:
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: listInvitesAccept
  /invites/resend:
    description: Resend invites
    post:
      description: Resend a list of invites
      requestBody:
        $ref: '#/components/requestBodies/InvitesIds'
      responses:
        '200':
          description: Success
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitesResendResponse'
        '400':
          description: One or more of the invites are not in the organization or no invites were sent
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: createInvitesResend
  /login:
    description: login to the Anypoint Platform
    post:
      description: login to the Anypoint Platform
      requestBody:
        content:
          application/json:
            schema:
              example:
                username: testUser
                password: Password1
        x-amf-mediaType: application/json
        description: Request payload for create login.
      responses:
        '200':
          description: Returns the bearer token for the user's session
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  access_token: d127e2ec-a703-4e2a-8629-e9158804748b
                  token_type: bearer
        '302':
          description: Success; redirect the user to the application they were trying to visit
        '401':
          description: Invalid username or password
        '403':
          description: The user is disabled and cannot login
        '418':
          description: The user belongs to the other platform
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  target: composer
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: createLogin
  /logout:
    description: logout of the Anypoint Platform
    get:
      description: destroy the user's session and logout from the Anypoint Platform
      responses:
        '200':
          description: Success; logout was called via ajax so no redirect
        '302':
          description: Success; logout was not called via ajax so redirect to the login page
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: listLogout
  /me:
    description: all about the caller
    get:
      description: Retrieve information about the caller
      responses:
        '200':
          description: Success
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  client:
                    client_id: asdflkjlsdf09234oiuWERmn
                    name: Admin Client
                    redirect_uris: []
                    grant_types:
                    - authorization_code
                    - refresh_token
                    - validate_bearer
                    - password
                    - client_credentials
                    - implicit
                  user:
                    id: a23c0943-1cc4-47f1-aea2-cb6c2c2fca6a
                    createdAt: 2014-07-27 20:56:02.112000+00:00
                    updatedAt: 2014-12-17 15:57:40.250000+00:00
                    lastLogin: 2014-12-17 15:57:40.250000+00:00
                    previousLastLogin: 2014-12-16 15:57:40.250000+00:00
                    firstName: Chris
                    lastName: Mordue
                    email: christopher.mordue@mulesoft.com
                    phoneNumber: +1 123-456-7890
                    username: sundaycmordue
                    enabled: true
                    deleted: false
                    idprovider_id: mulesoft
                    type: host
                    organizationPreferences:
                      0a14e2fd-1cfe-4310-acbc-54bf93eb8420:
                        defaultEnvironment: a6217e66-faf1-4c17-bbbc-8c008ef4c8c6
                    organizationId: 0a14e2fd-1cfe-4310-acbc-54bf93eb8420
                    organization:
                      name: Mordue's Sundays testing
                      id: 0a14e2fd-1cfe-4310-acbc-54bf93eb8420
                      createdAt: 2014-07-27 20:56:02.125000+00:00
                      ownerId: a23c0943-1cc4-47f1-aea2-cb6c2c2fca6a
                      updatedAt: 2015-01-29 18:34:54.570000+00:00
                      clientId: 3b8650722f5847b1abf51f769c173514
                      domain: mordues-sundays
                      isFederated: false
                      parentOrganizationIds: []
                      subOrganizationIds: []
                      tenantOrganizationIds: []
                      idprovider_id: mulesoft
                      properties:
                        cs_auth:
                          session_timeout: 1200000
                        defaultAccessManagementUi: cs-ui
                      subscription:
                        category: Developer
                        type: Free
                        expiration: 2014-07-27 20:56:02.125000+00:00
                      entitlements:
                        partnersProduction:
                          assigned: 0
                        partnersSandbox:
                          assigned: 0
                        tradingPartnersProduction:
                          assigned: 0
                        tradingPartnersSandbox:
                          assigned: 0
                        createSubOrgs: false
                        createEnvironments: false
                        hybrid:
                          enabled: false
                        globalDeployment: false
                        vCoresProduction:
                          assigned: 1
                          reassigned: 0
                        vCoresSandbox:
                          assigned: 1
                          reassigned: 0
                        vCoresDesign:
                          assigned: 1
                          reassigned: 0
                        staticIps:
                          assigned: 1
                          reassigned: 0
                        vpcs:
                          assigned: 0
                          reassigned: 0
                        vpns:
                          assigned: 0
                          reassigned: 0
                        networkConnections:
                          assigned: 0
                          reassigned: 0
                        workerLoggingOverride:
                          enabled: false
                        messaging:
                          assigned: 0
                        mqMessages:
                          base: 0
                          addOn: 0
                        mqRequests:
                          base: 0
                          addOn: 0
                        mqAdvancedFeatures:
                          enabled: false
                        objectStoreRequestUnits:
                          base: 0
                          addOn: 0
                        objectStoreKeys:
                          base: 0
                          addOn: 0
                        gateways:
                          assigned: 0
                        designCenter:
                          mozart: true
                          api: true
                          apiVisual: false
                          apiExample: false
                        loadBalancer:
                          assigned: 0
                          reassigned: 0
                        externalIdentity: true
                        autoscaling: false
                        armAlerts: false
                        hybridInsight: true
                        hybridAutoDiscoverProperties: true
                        apis:
                          enabled: true
                        apiCatalog:
                          enabled: false
                        apiMonitoring:
                          schedules: 0
                        apiCommunityManager:
                          enabled: false
                        apiExperienceHub:
                          enabled: false
                        monitoringCenter:
                          productSKU: 3
                          rawStorageOverrideGB: 0
                          dataRegion: us-east-1
                          productionUnits: 0
                          preProductionUnits: 0
                          storageBase: 0
                          storageAddOn: 0
                        apiQuery:
                          enabled: false
                          productSKU: 1
                        apiQueryC360:
                          enabled: false
                        rpa:
                          enabled: false
                          active: false
                          composerVersion: ''
                        idp:
                          enabled: false
                        AutomationCreditsDW:
                          assigned: 0
                        apiGovernance:
                          enabled: true
                          apisPerMonth: 5
                        apiGovernanceDomain:
                          domain: ASSET
                        crowd:
                          hideApiManagerDesigner: false
                          hideFormerApiPlatform: false
                          environments: false
                        cam:
                          enabled: false
                        exchange2:
                          enabled: false
                          assetUsageAndEngagement:
                            enabled: false
                        crowdSelfServiceMigration:
                          enabled: false
                        kpiDashboard:
                          enabled: false
                        pcf: false
                        appViz: false
                        workerClouds:
                          assigned: 0
                          reassigned: 0
                        runtimeFabric: false
                        serviceMesh:
                          enabled: false
                        flexGateway:
                          enabled: false
                        managedGatewaySmall:
                          assigned: 0
                          reassigned: 0
                        managedGatewayLarge:
                          assigned: 0
                          reassigned: 0
                        rtfManagedGateway:
                          enabled: false
                        runtimeFabricCloud:
                          enabled: false
                        composer:
                          enabled: false
                          tasksPerMonth: 100
                          maxConnectors: 3
                          unlimitedConnectors: false
                          isHyperAutomation: false
                        muleDxWebIde:
                          enabled: false
                        muleDxGenAI:
                          enabled: false
                        muleDxEDA:
                          enabled: false
                        usageBasedPricing:
                          muleRuntimeIntegration:
                            enabled: true
                            flows: 100
                            messages: 10000
                            throughput: 10000000
                        usageBasedPricingLimits:
                          cpu:
                            base: 10.01
                            extra: 0.01
                          memory:
                            base: 1.02
                            extra: 20.01
                        highAvailability:
                          clustering: false
                        cloudhub1:
                          enabled: true
                        telemetryExporter:
                          enabled: true
                      isRoot: true
                      isMaster: true
                    memberOfOrganizations:
                    - name: Mordue's Sundays testing
                      id: 0a14e2fd-1cfe-4310-acbc-54bf93eb8420
                      createdAt: 2014-07-27 20:56:02.125000+00:00
                      ownerId: a23c0943-1cc4-47f1-aea2-cb6c2c2fca6a
                      updatedAt: 2015-01-29 18:34:54.570000+00:00
                      clientId: 3b8650722f5847b1abf51f769c173514
                      domain: mordues-sundays
                      isFederated: false
                      parentOrganizationIds: []
                      parentId:
                      parentName:
                      subOrganizationIds: []
                      tenantOrganizationIds: []
                      idprovider_id: mulesoft
                      isRoot: true
                      isMaster: true
                      subscription:
                        category: Developer
                        type: Free
                        expiration: 2014-07-27 20:56:02.125000+00:00
                    contributorOfOrganizations:
                    - name: Mordue's Sundays testing
                      id: 0a14e2fd-1cfe-4310-acbc-54bf93eb8420
                      createdAt: 2014-07-27 20:56:02.125000+00:00
                      ownerId: a23c0943-1cc4-47f1-aea2-cb6c2c2fca6a
                      updatedAt: 2015-01-29 18:34:54.570000+00:00
                      clientId: 3b8650722f5847b1abf51f769c173514
                      domain: mordues-sundays
                      isFederated: false
                      parentOrganizationIds: []
                      parentId:
                      parentName:
                      subOrganizationIds: []
                      tenantOrganizationIds: []
                      idprovider_id: mulesoft
                      isRoot: true
                      isMaster: true
                      subscription:
                        category: Developer
                        type: Free
                        expiration: 2014-07-27 20:56:02.125000+00:00
                    properties: {}
        '400':
          description: An unknown error occurred
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: listMe
  /notifications:
    description: Make Anypoint Platform activity known to subscribers; think webhooks.
    post:
      description: Creates a new notifications.
      requestBody:
        content:
          application/json:
            schema:
              example:
                type: api
                action: create
                organizationId: 0a14e2fd-1cfe-4310-acbc-54bf93eb8420
                userId: a23c0943-1cc4-47f1-aea2-cb6c2c2fca6a
                dateTime: 2014-07-27 20:56:02.146000+00:00
                object:
                  apiId: 1077
                  apiName: Anypoint Notifications
                  description: Notifications API to let subscribers know of changes in the Anypoint Platform. Think Webhooks.
                  id: 973
                  name: '0.1'
        x-amf-mediaType: application/json
        description: Request payload for create notifications.
      responses:
        '200':
          description: Success
          x-amf-mediaType: text/plain
          content:
            text/plain:
              schema:
                example: OK
        '400':
          description: Bad request; invalid notification format
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: createNotifications
  /oauth2:
    description: oauth 2 routes
  /oauth2/authorize:
    description: OAuth2 authorization route for non-federated users
    get:
      description: OAuth2 authorization route to have the user authorize an application defined in our system
      parameters:
      - name: redirect_uri
        description: Redirect uri for the application
        required: true
        in: query
        schema:
          type: string
      - name: response_type
        description: Describes the type of object that the application wishes to receive upon success
        required: true
        in: query
        schema:
          type: string
          enum:
          - code
          - token
      - name: client_id
        description: The application's client_id that identifies the application
        required: true
        in: query
        schema:
          type: string
      - name: state
        description: A parameter with a string that will be supplied in a redirect back to the application upon success
        required: true
        in: query
        schema:
          type: string
      responses:
        '302':
          description: Success; redirects the user to the page to authentication & authorize the application if not logged in, or to the original application if logged in
        '400':
          description: Bad request; an invalid redirect_uri, response_type or client_id
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: listOauth2Authorize
  /oauth2/authorize/{domain}:
    description: OAuth2 authorization route for federated or non-federated users
    get:
      description: OAuth2 authorization route that will route federated users to their authentication system and non-federated users to ours
      x-optionalSecurity: true
      parameters:
      - name: redirect_uri
        description: Redirect uri for the application
        required: true
        in: query
        schema:
          type: string
      - name: response_type
        description: Describes the type of object that the application wishes to receive upon success
        required: true
        in: query
        schema:
          type: string
          enum:
          - code
          - token
      - name: client_id
        description: The application's client_id that identifies the application
        required: true
        in: query
        schema:
          type: string
      - name: state
        description: A parameter with a string that will be supplied in a redirect back to the application upon success
        required: true
        in: query
        schema:
          type: string
      - name: domain
        description: Domain name to identify the organization to identify what identity management system needs to authentication the user.
        required: true
        in: path
        schema:
          type: string
      responses:
        '302':
          description: Success; redirects the user to the page to authentication & authorize the application if not logged in, or to the original application if logged in
        '400':
          description: Bad request; an invalid redirect_uri, response_type or client_id
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - {}
      operationId: listOauth2AuthorizeByDomain
  /oauth2/authorize/{domain}/providers:
    parameters:
    - name: domain
      description: Domain name to identify the organization to identify what identity management system needs to authentication the user.
      required: true
      in: path
      schema:
        type: string
  /oauth2/authorize/{domain}/providers/{providerId}:
    description: OAuth2 authorization route for federated users
    get:
      description: OAuth2 authorization route that will route federated users to their authentication system
      x-optionalSecurity: true
      parameters:
      - name: redirect_uri
        description: Redirect uri for the application
        required: true
        in: query
        schema:
          type: string
      - name: response_type
        description: Describes the type of object that the application wishes to receive upon success
        required: true
        in: query
        schema:
          type: string
          enum:
          - code
          - token
      - name: client_id
        description: The application's client_id that identifies the application
        required: true
        in: query
        schema:
          type: string
      - name: state
        description: A parameter with a string that will be supplied in a redirect back to the application upon success
        required: true
        in: query
        schema:
          type: string
      - name: domain
        description: Domain name to identify the organization to identify what identity management system needs to authentication the user.
        required: true
        in: path
        schema:
          type: string
      - name: providerId
        description: The identity provider configuration id used to identify the identity management system needed to authenticate the user.
        required: true
        in: path
        schema:
          type: string
      responses:
        '302':
          description: Success; redirects the user to the page to authentication & authorize the application if not logged in, or to the original application if logged in
        '400':
          description: Bad request; an invalid redirect_uri, response_type or client_id
      security:
      - {}
      operationId: getOauth2AuthorizeProviders
  /oauth2/decision: {}
  /oauth2/decision/{domain}:
    post:
      description: Confirms whether a user grants consent to add his user to an external organization
      parameters:
      - name: domain
        description: Domain name to identify the organization to identify what identity management system needs to authentication the user.
        required: true
        in: path
        schema:
          type: string
      responses:
        '302':
          description: Redirects the user to domain authorization flow
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: createOauth2Decision
  /oauth2/introspect:
    description: Look up caller information from an access token
    post:
      description: 'Look up caller information from an access token

        This implements RFC-7662: OAuth 2.0 Token Introspection

        '
      requestBody:
        content:
          application/json:
            schema:
              example:
                token: b8071e09-ece8-4edd-85f4-76a30cb732f6
                token_type_hint: access_token
              type: object
              required:
              - token
              properties:
                token:
                  type: string
                token_type_hint:
                  type: string
          application/x-www-form-urlencoded:
            schema:
              example:
                token: b8071e09-ece8-4edd-85f4-76a30cb732f6
                token_type_hint: access_token
              type: object
              required:
              - token
              properties:
                token:
                  type: string
                token_type_hint:
                  type: string
        x-amf-mediaType: application/json
        description: Request payload for create oauth2 introspect.
      x-amf-requestPayloads:
      - mediaType: application/x-www-form-urlencoded
        schema:
          type: object
          required:
          - token
          properties:
            token:
              type: string
            token_type_hint:
              type: string
      responses:
        '200':
          description: success
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example:
                  active: true
                  token_type: bearer
                  user_id: 40e238d8-9f6c-495f-b000-0029f5576041
                  username: paul.hilfinger
                  client_id:
                  iat: 1539823220995
                  exp: 1539857830528
                type: object
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: createOauth2Introspect
  /oauth2/token:
    description: OAuth2 token resource
    post:
      description: create or retrieve an OAuth2 token
      requestBody:
        content:
          application/json:
            schema:
              example:
                grant_type: authorization_code
                redirect_uri: http://localhost/callback
                client_id: ro_client
                client_secret: th3S3cr3t
                code: 20460a62-bbdc-469d-9330-5eec892abd05
        x-amf-mediaType: application/json
        description: Request payload for create oauth2 token.
      responses:
        '200':
          description: success
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
      security:
      - bearerAuth: []
      - clientAuth: []
      operationId: createOauth2Token
  /organizationname/{organizationName}:
    get:
      description: Check if organization name is being used
      x-optionalSecurity: true
      parameters:
      - name: organizationName
        description: The name of the organization
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The organization name is already taken
        '404':
          description: The organization name is available
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
[...]
